.tnt-body {
   width: 100%;
   min-height: calc(100% - 2.5rem);
   margin-left: 0;
   transition: width ease-in-out 150ms;
   transition: margin-left ease-in-out 150ms;
   padding-top:4rem;
}

.tnt-body[theme=default].expanded {
   width: calc(100% - 250px);
   margin-left: 250px;

}
