.tnt-body {
    display: block;
    width: 100%;
    transition: ease-in-out 150ms;
    min-height: 100vh;

    @media #{$medium-and-up} {
        &.expanded {
            width: calc(100% - $tnt-side-nav-width);
            padding-left: $tnt-side-nav-width;
        }
    }
}


:root {
    &:has(.tnt-header) {
        .tnt-body {
            min-height: calc(100vh - $tnt-header-height);
            padding-top: $tnt-header-height;
        }
    }

    &:has(.tnt-footer) {
        .tnt-body {
            min-height: calc(100vh - $tnt-footer-height);
            padding-bottom: $tnt-footer-height;
        }
    }

    &:has(.tnt-footer):has(.tnt-header) {
        .tnt-body {
            min-height: calc(100vh - calc($tnt-header-height + $tnt-footer-height));
        }
    }
}
