.tnt-button:not(.tnt-segmented-button .tnt-button), .tnt-nav-link:not(.none) {
    text-decoration: none;
    min-height: 40px;
    padding: 0 24px 0 24px;
    margin: 8px;
    @extend .label-large;
    @extend .tnt-state-layers;
    @include tnt-border-radius(10);

    &:not(:disabled) {
        cursor: pointer;
    }

    &:not(.outlined) {
        border: none;
    }

    &:has(i.tnt-button-start-icon) {
        padding-left: 16px;

        i.tnt-button-start-icon {
            padding-right: 8px;
        }
    }

    &:has(i.tnt-button-end-icon) {
        padding-right: 16px;

        i.tnt-button-end-icon {
            padding-left: 8px;
        }
    }

    i {
        vertical-align: middle;
        font-size: 18px;
    }

    &.elevated {
        background-color: $tnt-color-surface-container-low;
        color: $tnt-color-primary;
        @include enable-ripple($tnt-color-primary);

        &:not(:disabled) {
            @include tnt-z-depth(1);

            &:hover {
                @include tnt-z-depth(2);
            }

            &:active {
                @include tnt-z-depth(1, true);
            }
        }
    }

    &:not(.elevated) {
        &:not(:disabled) {
            &:hover {
                @include tnt-z-depth(1);
            }

            &:active {
                @include tnt-z-depth(0, true);
            }
        }
    }

    &.filled {
        background-color: $tnt-color-primary;
        color: $tnt-color-on-primary;
        @include enable-ripple($tnt-color-on-primary);
    }

    &.filledalternative {
        background-color: $tnt-color-secondary-container;
        color: $tnt-color-on-secondary-container;
        @include enable-ripple($tnt-color-on-secondary-container);
    }

    &.outlined, &.text {
        background-color: transparent;
        color: $tnt-color-primary;
        @include enable-ripple($tnt-color-primary);
    }

    &.outlined {
        border: 1px solid $tnt-color-outline;
    }
}

.tnt-segmented-button {
    background-color: transparent;
    border: solid 1px $tnt-color-outline;
    display: flex;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    min-height: 40px;
    margin: 8px auto 8px auto;
    @include tnt-border-radius(10);

    .tnt-button, a {
        text-decoration: none;
        background-color: transparent;
        color: $tnt-color-on-surface;
        min-width: 48px;
        padding: 0 12px 0 12px;
        height: 100%;
        min-height: inherit;
        margin: 0;
        border: none;
        cursor: pointer;
        @extend .label-large;
        @extend .tnt-state-layers;

        &:not(:first-child) {
            border-left: 1px solid $tnt-color-outline;
        }

        i {
            vertical-align: middle;
            font-size: 18px;
            padding: 4px;
        }

        &:focus, &.active {
            background-color: $tnt-color-secondary-container;
            color: $tnt-color-on-secondary-container;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}