@use "sass:color";

.tnt-btn[theme=default] {
    &:not(.outlined):not(.filled):not(.flat) {
        background-color: $tnt-color-surface-container-low;
        color: $tnt-color-primary;

        &:not(.disabled) {
            &:hover {
                background-color: color.adjust($tnt-color-surface-container-low, $lightness:-1%);
                color: color.adjust($tnt-color-primary, $lightness:-1%);
            }

            &:active {
                background-color: color.adjust($tnt-color-surface-container-low, $lightness:-2%);
                color: color.adjust($tnt-color-primary, $lightness:-2%);
            }
        }
    }

    &.filled {
        background-color: $tnt-color-primary;
        color: $tnt-color-on-primary;

        &:not(.disabled) {
            &:hover {
                background-color: color.adjust($tnt-color-primary, $lightness:-1%);
                color: color.adjust($tnt-color-on-primary, $lightness:-1%);
            }

            &:active {
                background-color: color.adjust($tnt-color-primary, $lightness:-2%);
                color: color.adjust($tnt-color-on-primary, $lightness:-2%);
            }
        }
    }

    &.outlined {
        border-color: $tnt-color-outline;
        color: $tnt-color-primary;

        &:not(.disabled) {
            &:hover {
                background-color: color.adjust($tnt-color-on-surface, $alpha: -0.95);
                color: color.adjust($tnt-color-primary, $lightness:-1%);
            }

            &:active {
                background-color: color.adjust($tnt-color-on-surface, $alpha: -0.9);
                color: color.adjust($tnt-color-primary, $lightness:-2%);
            }
        }
    }

    &.flat {
        color: $tnt-color-primary;

        &:not(.disabled) {
            &:hover {
                background-color: color.adjust($tnt-color-on-surface, $alpha: -0.95);
                color: color.adjust($tnt-color-primary, $lightness:-1%);
            }

            &:active {
                background-color: color.adjust($tnt-color-on-surface, $alpha: -0.9);
                color: color.adjust($tnt-color-primary, $lightness:-2%);
            }
        }
    }

    &.disabled {
        opacity: 0.5;
    }
}