@use "sass:color";

.tnt-btn[theme=default] {
    @include colorize($tnt-color-primary-container, $property:background-color, $hover:true, $active:true);
    @include colorize($tnt-color-on-primary-container, $property:color);

    &.outlined {
        outline-color: $tnt-color-outline;
        @include colorize($tnt-color-primary, $property:color, $hover:true, $active:true);
    }

    &.filled {
        @include colorize($tnt-color-primary, $property:background-color, $hover:true, $active:true);
        color: $tnt-color-on-primary;
    }
}

.tnt-btn {
    border: none;
    min-width: 2.5rem;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: background-color 100ms ease-out;
    margin: 0.25rem;
    @extend .tnt-z-depth-1;

    span {
        vertical-align: middle;
    }

    i {
        display: inline-block;
        text-align: center;
        font-size: 1.3rem;
        vertical-align: bottom;
        margin-right: 0.3rem;
    }

    &:hover {
        @extend .tnt-z-depth-2;
    }

    &.flat {
        @extend .tnt-z-depth-0;

        &:hover {
            @extend .tnt-z-depth-1;
        }
    }

    &.filled {
        @extend .tnt-z-depth-0;

        &:hover {
            @extend .tnt-z-depth-1;
        }
    }

    &.outlined {
        @include colorizeTransparent($tnt-color-surface, $hover:true, $active:true);
        outline-style: solid;
        outline-width: 1px;
        padding: 0.45rem 1.45rem;
        @extend .tnt-z-depth-0;
    }
}
