.tnt-card {
    margin: 8px;
    padding: 16px;
    color: $tnt-color-on-surface;
    @include tnt-border-radius(3);

    &.elevated {
        background-color: $tnt-color-surface-container-low;
        @include tnt-z-depth(1);
    }

    &.filled {
        background-color: $tnt-color-surface-container-highest;
    }

    &.outlined {
        background-color: $tnt-color-surface;
        border: 1px solid $tnt-color-outline;
    }
}