.tnt-card[theme=default] {
    &.elevated {
        background-color: $tnt-color-surface-container-low;
    }

    &.filled {
        background-color: $tnt-color-surface-variant;
    }

    &.outlined {
        border-color: $tnt-color-outline;
    }
}