.tnt-card[theme=default] {
    background-color: $tnt-color-surface-variant;

    &.flat {
        background-color: $tnt-color-surface-variant;
    }

    &.outlined {
        border-color: $tnt-color-outline;
    }
}
