.tnt-card {
    padding: 1rem;
    width: -moz-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    @extend .tnt-border-radius-3;
    @extend .tnt-z-depth-3;

    &.flat, &.plain, &.outlined {
        @extend .tnt-z-depth-0;
    }

    &.outlined {
        border-style: solid;
        border-width: 1px;
        background-color: transparent;
    }
}
