.tnt-quick-grid-container {
    overflow-x: auto;
    margin: 8px;
    border-radius:8px;
    

    .tnt-quick-grid {
        background-color: $tnt-color-surface;
        border-collapse: collapse;
        min-width: 100%;
        table-layout: fixed;

        thead {
            background-color: $tnt-color-surface-container-highest;
            position: sticky;
            top: 0;
            box-shadow: 0px 1px $tnt-color-outline;
            z-index: 3;

            tr {
                th {
                    padding: 8px 36px;
                    margin: 0;
                    position: relative;
                    user-select: none;
                    min-width: 16px;
                    text-align: center;
                    @extend .tnt-title-medium;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: inherit;
                        text-decoration: none;
                        transition: 150ms;
                    }

                    i {
                        color: inherit;
                    }

                    .tnt-resizeable {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 5px;
                        background-color: transparent;
                        cursor: col-resize;
                        border-right: 1px solid $tnt-color-outline;
                    }

                    .tnt-resizing {
                        border-right: 2px solid $tnt-color-primary;
                    }

                    button.col-title {
                        color: inherit;
                        font-family: inherit;
                        font-weight: inherit;
                        font-size: inherit;
                        line-height: inherit;
                        letter-spacing: inherit;
                        padding: 0 8px;
                        border-radius:40px;
                    }

                    &.col-sort-desc, &.col-sort-asc {
                        color: $tnt-color-secondary;

                        .sort-indicator {
                            height: 12px;
                            width: 12px;
                            min-height: 12px;
                            min-width: 12px;
                            background: $tnt-color-secondary;
                            clip-path: polygon(50% 75%, 0 25%, 100% 25%);
                            margin-left: 16px;
                        }
                    }

                    &:has(button) {
                        &:hover {
                            color: $tnt-color-primary;
                        }
                    }
                }
            }
        }

        &.stripped {
            tr:nth-child(even) {
                background-color: $tnt-color-surface-container-high;
            }
        }

        &.compact {
            width: 100%;

            tr {
                td {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: clip;
                }

                &:hover {
                    td {
                        white-space: revert;
                        text-overflow: revert;
                    }
                }
            }
        }

        tbody {
            tr {
                transition: 150ms;

                td {
                    padding: 8px;
                    min-width: 16px;
                    white-space: nowrap;
                    @extend .tnt-body-medium;

                    &.col-justify-right {
                        margin-right: 8px;
                        float: right;
                    }
                }

                &:hover, &:nth-child(even):hover {
                    background-color: color-mix(in srgb, $tnt-color-secondary-container 40%, $tnt-color-surface);
                }
            }
        }
    }
}