.tnt-dialog-container[theme=default] {
    .tnt-card {
        background-color: $tnt-color-surface-variant;

        & > span {
            color: $tnt-color-on-surface-variant;

            i {
                color: $tnt-color-on-surface-variant;
                @include colorizeTransparent($tnt-color-surface-variant, $hover:true, $active:true);
            }
        }
    }
}