.tnt-footer {
    height: $tnt-footer-height;
    width: calc(100%);
    background-color: $tnt-color-surface-container;
    display: flex;
    position: fixed;
    bottom: 0;
    transition: ease-in-out 150ms;
    box-sizing: border-box;
    align-items: center;
    color: $tnt-color-on-surface;
    z-index: 998;
    @extend .title-large;
    @include tnt-z-depth(2);

    &.expanded {
        width: calc(100% - $tnt-side-nav-width);
        padding-left: $tnt-side-nav-width;
    }
}