.tnt-input-label {
    cursor: text;

    &:has(input:disabled) {
        opacity: 0.4;
        cursor: not-allowed;
    }

    .tnt-input-label-text {
        position: absolute;
        left: 16px;
        transition: 150ms;
        @extend .body-large;
    }

    &:has(.start-icon) .tnt-input-label-text {
        left: 52px;
    }

    .tnt-input-supporting-text, .tnt-input-validation {
        margin: 0 16px 0 16px;
        @extend .body-small;
    }

    .tnt-input-supporting-text {
        color: $tnt-color-on-surface-variant;
    }

    .tnt-input-validation {
        color: $tnt-color-error;
    }

    &.invalid .tnt-input-supporting-text {
        display: none;
        visibility: hidden;
    }

    .tnt-input-container {
        position: relative;
        padding: 0;
        user-select: none;
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px 8px 16px;
        margin: 16px 0 16px 0;

        &:has(+ .tnt-input-supporting-text), &:has(.invalid) {
            margin-bottom: 4px;
        }

        &:has(.start-icon) {
            padding-left: 12px;

            .start-icon {
                padding: 0 16px 0 0;
            }
        }

        &:has(.end-icon) {
            padding-right: 12px;

            .end-icon {
                padding: 0 0 0 16px;
            }
        }

        &:has(input[type=text]),
        &:has(input[type=email]),
        &:has(input[type=password]),
        &:has(input[type=tel]),
        &:has(input[type=url]),
        &:has(input[type=date]),
        &:has(input[type=time]),
        &:has(input[type=datetime-local]),
        &:has(input[type=number]),
        &:has(select) {
            & > i {
                font-size: 24px;
            }

            & > i, .tnt-input-label-text {
                color: $tnt-color-on-surface-variant;
            }

            &:has(input:user-invalid), &:has(input.invalid), &:has(select:user-invalid) {
                .end-icon, .tnt-input-label-text {
                    color: $tnt-color-error;
                }
            }

            &:has(input:focus), &:has(select:focus), &:has(input:placeholder-shown):not(:has(input[has-empty-placeholder])), &:not(:has(input:placeholder-shown)) {
                .tnt-input-label-text {
                    transform: translateY(-16px) scale(0.8) translateX(-11px);
                }

                &:has(input[formtype="outlined"]), &:has(select[formtype="outlined"]) {
                    .tnt-input-label-text {
                        transform: translateY(-28px) scale(0.8) translateX(-12px);
                    }
                }

                input:has(+ .tnt-input-label-text), select:has(+ .tnt-input-label-text) {
                    transform: translateY(4px);
                }
            }



            &:has(input[formtype="filled"]), &:has(select[formtype="filled"]) {
                background-color: $tnt-color-surface-container-highest;
                border-bottom: solid 1px $tnt-color-on-surface-variant;

                &:hover {
                    background-color: $tnt-color-surface-container-high;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -1px;
                    left: 0;
                    background-color: $tnt-color-primary;
                    transform: rotateY(90deg);
                    transition: 250ms;
                }

                &:has(input:focus):not(input:disabled), &:has(select:focus):not(select:disabled) {
                    &:after {
                        transform: rotateY(0deg);
                    }

                    .tnt-input-label-text {
                        color: $tnt-color-primary;
                    }
                }

                &:has(input:user-invalid), &:has(input.invalid), &:has(select:user-invalid) {
                    &:after {
                        background-color: $tnt-color-error;
                        transform: rotateY(0deg);
                    }
                }
            }

            &:has(input[formtype="outlined"]), &:has(select[formtype="outlined"]) {
                background-color: transparent;
                border: solid 1px $tnt-color-outline;
                @include tnt-border-radius(1);

                &:has(input:user-invalid), &:has(input.invalid), &:has(select:user-invalid) {
                    &:before, &:after {
                        transform: rotateY(0);
                        transform: rotateX(0);
                        border-color: $tnt-color-error;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: calc(100% + 2px);
                    left: -2px;
                    top: -1px;
                    background-color: transparent;
                    border-radius: inherit;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $tnt-color-primary;
                    border-top: none;
                    border-bottom: none;
                    transition: transform 250ms linear;
                    transform: rotateX(90deg);
                    pointer-events: none;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: calc(100% + 2px);
                    height: 100%;
                    left: -1px;
                    top: -2px;
                    background-color: transparent;
                    border-radius: inherit;
                    border-style: solid;
                    border-width: 2px;
                    border-color: $tnt-color-primary;
                    border-left: none;
                    border-right: none;
                    transition: 250ms linear;
                    transform: rotateY(90deg);
                    pointer-events: none;
                }

                .tnt-input-label-text {
                    background-color: $tnt-color-surface;
                    padding: 0 4px 0 4px;
                }

                &:has(input:focus):not(input:disabled), &:has(select:focus):not(select:disabled) {
                    &:before, &:after {
                        transform: rotateY(0);
                        transform: rotateX(0);
                    }
                }
            }

            input, select {
                cursor: inherit;
                padding: 0;
                background: none;
                border: none;
                box-shadow: none;
                width: 100%;
                transition: transform linear 150ms;
                color: $tnt-color-on-surface;
                caret-color: $tnt-color-primary;

                @extend .body-large;

                &:active, &:focus {
                    outline: none;
                }
            }

            select[formtype="filled"] {
                background-color: inherit;
            }

            select[formtype="outlined"] {
                background-color: $tnt-color-surface;
            }
        }

        &:has(input[type=checkbox]):not(:has(input[formtype="switch"])) {
            margin: 0 24px 0 24px;
            transition: 250ms;

            &:not(:has(input:disabled)) {
                cursor: pointer;
            }

            & > i, .tnt-input-label-text {
                color: $tnt-color-on-surface-variant;
            }

            .tnt-input-label-text {
                position: revert;
                margin-left: 16px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                left: 0;
                background-color: transparent;
                border: solid 2px $tnt-color-on-surface-variant;
                transition: 250ms;
                @include tnt-border-radius(1);
            }

            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 14px;
                left: 7px;
                top: 16px;
                border-right: solid 2px $tnt-color-surface;
                border-bottom: solid 2px $tnt-color-surface;
                transform: rotateX(90deg) rotateY(90deg) rotateZ(40deg);
                z-index: 1;
                transition: 250ms;
            }

            &:has(.start-icon) {
                &:before, &:after {
                    margin-left: 32px;
                }

                .start-icon {
                    position: absolute;
                    left: 0;
                }

                .tnt-input-label-text {
                    margin-left: 48px;
                }

                &:not(:has(.tnt-input-label-text)) {
                    .end-icon {
                        margin-left: 36px;
                    }
                }
            }

            &:has(input:checked) {
                &:before {
                    transform: rotateX(0) rotateY(0) rotateZ(40deg);
                }

                &:after {
                    background-color: $tnt-color-primary;
                }
            }

            input[type=checkbox] {
                display: none;
            }

            &:has(input:user-invalid), &:has(input.invalid) {
                &:after {
                    border-color: $tnt-color-error;
                }

                &:has(input:checked) {
                    &:after {
                        background-color: $tnt-color-error;
                    }
                }

                .end-icon {
                    color: $tnt-color-error;
                }
            }
        }

        &:has(input[type=checkbox][formtype="switch"]) {
            margin: 0 24px 0 24px;
            transition: 250ms;

            &:not(:has(input:disabled)) {
                cursor: pointer;
            }

            & > i, .tnt-input-label-text {
                color: $tnt-color-on-surface-variant;
            }

            .tnt-input-label-text {
                position: revert;
                margin-left: 48px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 52px;
                height: 28px;
                left: 0;
                transition: 250ms;
                border: 2px solid $tnt-color-outline;
                background-color: $tnt-color-surface-container-highest;
                @include tnt-border-radius(10);
            }

            &:before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                left: 8px;
                top: 18px;
                background-color: $tnt-color-outline;
                z-index: 1;
                transition: 250ms;
                @include tnt-border-radius(10);
            }

            &:hover:not(:has(input:disabled)) {
                &:before {
                    box-shadow: 0 0 0 8px #00000022;
                }
            }

            &:focus-within:not(:has(input:disabled)), &:has(input:active):not(:has(input:disabled)), &:has(input:focus):not(:has(input:disabled)) {
                &:before {
                    width: 28px;
                    height: 28px;
                    top: 12px;
                    left: 0px;
                    box-shadow: 0 0 0 8px #00000044;
                }
            }

            &:has(input:checked) {
                &:before {
                    background-color: $tnt-color-on-primary;
                    width: 26px;
                    height: 26px;
                    left: 26px;
                    top: 14px;
                }

                &:after {
                    background-color: $tnt-color-primary;
                    border-color: $tnt-color-primary;
                }

                &:focus-within:not(:has(input:disabled)), &:has(input:active):not(:has(input:disabled)), &:has(input:focus):not(:has(input:disabled)) {
                    &:before {
                        width: 32px;
                        height: 32px;
                        left: 24px;
                        top: 10px;
                    }
                }

                &:has(input:disabled) {
                    &:before {
                        background-color: $tnt-color-surface-variant;
                        width: 26px;
                        height: 26px;
                        left: 26px;
                        top: 14px;
                    }

                    &:after {
                        background-color: $tnt-color-surface-container-highest;
                        border-color: $tnt-color-surface-container-highest;
                    }
                }
            }

            &:has(.start-icon) {
                &:before, &:after {
                    margin-left: 32px;
                }

                .start-icon {
                    position: absolute;
                    left: 0;
                }

                .tnt-input-label-text {
                    margin-left: 86px;
                }

                &:not(:has(.tnt-input-label-text)) {
                    .end-icon {
                        margin-left: 68px;
                    }
                }
            }

            input[type=checkbox] {
                display: none;
            }

            &:has(input:user-invalid), &:has(input.invalid) {
                &:after {
                    border-color: $tnt-color-error;
                    background-color: $tnt-color-error-container;
                }

                &:before {
                    background-color: $tnt-color-error;
                }

                &:has(input:checked) {
                    &:after {
                        background-color: $tnt-color-error;
                    }

                    &:before {
                        background-color: $tnt-color-error-container;
                    }
                }

                .end-icon {
                    color: $tnt-color-error;
                }
            }
        }
    }
}
