.tnt-header[theme=default] {
    background-color: $tnt-color-primary;
    color: $tnt-color-on-primary;
}

.tnt-header {
    min-height: 2.5rem;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    transition: ease-in-out 150ms;
    position: sticky;
    z-index: 998;
    display: flex;
    width: 100%;

    @extend .tnt-z-depth-1;

    h1 {
        font-size: 2rem;
        padding: 0 .5rem;
    }

    a {
        cursor: pointer;
    }

    @media #{$medium-and-up} {
        width: calc(100% - 250px);
        padding-left: 250px;
    }

    @media #{$small-and-down} {
        padding-left: 0;
        width: 100%;

        &.expanded {
            width: calc(100% - 250px);
            padding-left: 250px;
        }
    }
}
