.tnt-header {
    height: $tnt-header-height;
    width: 100%;
    background-color: $tnt-color-surface;
    display: flex;
    position: fixed;
    top: 0;
    transition: ease-in-out 150ms;
    align-items: center;
    color: $tnt-color-on-surface;
    z-index: 998;
    @extend .title-large;

    &.scroll {
        background-color: $tnt-color-surface-container;
        @include tnt-z-depth(2);
    }

    i {
        margin: 0 24px 0 16px;
        font-size: 24px;
        border-radius: 100%;

        @include tnt-clickable(background-color, $tnt-color-on-surface, $tnt-color-surface);
    }

    &.expanded {
        width: calc(100% - $tnt-side-nav-width);
        padding-left: $tnt-side-nav-width;
    }
}