.tnt-progress-indicator {
    &.linear {
        width: calc(100% - 16px);
        background-color: $tnt-color-surface-container-highest;
        height: 4px;
        margin: 8px;
        position: relative;
        overflow-x: hidden;
        color: $tnt-color-primary;

        &::-moz-progress-bar {
            background: $tnt-color-primary;
        }

        &::-webkit-progress-value {
            background: $tnt-color-primary;
        }

        &:indeterminate {
            &:before {
                content: "";
                position: absolute;
                width: inherit;
                height: inherit;
                background-color: $tnt-color-primary;
                transform-origin: 0 0;
                animation: indefiniteProgressBarBefore linear 3s infinite;
            }

            &:after {
                content: "";
                position: absolute;
                width: inherit;
                height: inherit;
                background-color: $tnt-color-primary;
                top: 0;
                left: 0;
                transform-origin: 0 0;
                animation: indefiniteProgressBarAfter linear 3s infinite;
            }
        }
    }

    &.ring {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        padding: 4px;
        width: 48px;
        height: 48px;
        color: $tnt-color-primary;
        background-color: transparent;
        font-size: 16px;
        overflow: hidden;

        &::-webkit-progress-bar {
            background-color: transparent;
        }

        &::-ms-fill {
            animation-name: -ms-ring;
        }

        &::-moz-progress-bar {
            background: transparent;
        }

        &::-webkit-progress-value {
            background: transparent;
        }

        &:indeterminate {
            -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
            mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
            animation: indefiniteProgressRing 6s infinite cubic-bezier(0.3, 0.6, 1, 1);

            &:before, &::-webkit-progress-value {
                content: "";
                display: block;
                box-sizing: border-box;
                margin-bottom: 16px;
                border: solid 4px transparent;
                border-top-color: currentColor;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: transparent;
                animation: indefiniteProgressRingPseudo 750ms infinite linear alternate;
            }

            &::-moz-progress-bar {
                box-sizing: border-box;
                border: solid 4px transparent;
                border-top-color: currentColor;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: transparent;
                animation: indefiniteProgressRingPseudo 750ms infinite linear alternate;
            }
        }

        &:not(:indeterminate) {
            background-color: $tnt-color-primary;
            -webkit-mask: radial-gradient(circle, transparent 0 16px, black 18px 100%);
            mask: radial-gradient(circle, transparent 0 16px, black 18px 100%);
            width: 44px;
            height: 44px;
            padding: 16px;
        }
    }
}

@keyframes indefiniteProgressBarBefore {
    0% {
        transform: translateX(-10%) scaleX(0%);
    }

    25% {
        transform: translateX(50%) scaleX(50%);
    }

    50% {
        transform: translateX(110%) scaleX(100%);
    }

    100% {
        transform: translateX(110%) scaleX(100%);
    }
}

@keyframes indefiniteProgressBarAfter {
    0% {
        transform: translateX(-10%) scaleX(0%);
    }

    25% {
        transform: translateX(-10%) scaleX(0%);
    }

    50% {
        transform: translateX(0%) scaleX(115%);
    }

    100% {
        transform: translateX(200%) scaleX(115%);
    }
}

@keyframes indefiniteProgressRing {
    0% {
        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }

    25% {
        transform: rotate(630deg);
    }

    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(1260deg);
    }

    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }

    75% {
        transform: rotate(1890deg);
    }

    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }

    100% {
        transform: rotate(2520deg);
    }
}

@keyframes indefiniteProgressRingPseudo {
    0% {
        transform: rotate(-30deg);
    }

    29.4% {
        border-left-color: transparent;
    }

    29.41% {
        border-left-color: currentColor;
    }

    64.7% {
        border-bottom-color: transparent;
    }

    64.71% {
        border-bottom-color: currentColor;
    }

    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}