.tnt-sidebar {
   position: fixed;
   left: 0;
   top: 0;
   margin: 0;
   height: 100%;
   z-index: 999;
   overflow-y: auto;
   will-change: transform;
   backface-visibility: hidden;
   transform: translateX(-5%);
   @extend .tnt-z-depth-1;
   transition: transform ease-in-out 150ms;
   border-radius: 1rem;

   ul {
      padding: 0;
   }

   li {
      float: none;
      list-style-type: none;
      line-height: 3rem;
      vertical-align: middle;

      &:hover {
         background-color: rgba(0,0,0,.05);
      }

      &:active {
         background-color: rgba(0,0,0,.05);
      }

      > a {
         display: block;
         font-weight: bold;
         text-decoration: none;
         vertical-align: top;

         > i,
         > i.material-icons {
            float: left;
            padding-right: 1rem;
            line-height: 3rem;
         }

         > i.material-icons {
            vertical-align: middle;
         }
      }
   }
}

.tnt-sidebar-closed {
   transform: translateX(-105%);
}

.tnt-sidebar-button {
   cursor: pointer;
}


.tnt-sidebar.tnt-sidebar-fixed {
   left: 0;
   transform: translateX(0);
   position: fixed;
}

.tnt-sidebar[theme=default] {
   width: $tnt-sidebar-width;
   background-color: $tnt-sidebar-bg-color;

   li > a {
      color: $tnt-sidebar-font-color;
      font-size: $tnt-sidebar-font-size;
      height: $tnt-sidebar-item-height;
      line-height: $tnt-sidebar-line-height;
      padding: 0 ($tnt-sidebar-padding * 2);

      & > i,
      & > i.material-icons {
         line-height: $tnt-sidebar-line-height;
         margin: 0 ($tnt-sidebar-padding * 2) 0 0;
      }
   }
}

.tnt-sidebar-button[theme=default] {
   position: fixed;
   transform: translateX($tnt-sidebar-width + 20px);
   transition: transform ease-in-out 150ms;
   color: $tnt-sidebar-font-color;
}

.tnt-sidebar-button[theme=default].tnt-sidebar-closed {
   position: fixed;
   transform: translateX(5px);
}
