.tnt-side-nav {
    position: fixed;
    height: 100%;
    background-color: red;
    width: $tnt-side-nav-width;
    left: -105%;
    box-sizing: border-box;
    transition: ease-in-out 150ms;
    border-radius: 0 16px 16px 0;
    background-color: $tnt-color-surface-container-high;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 12px 12px;

    @include tnt-z-depth(2);

    &.expanded {
        left: 0;
    }

    i {
        user-select: none;
    }

    .tnt-side-nav-headline {
        margin: 0 28px 0 28px;
        @extend .title-small;
    }

    .tnt-side-nav-menu-link, .tnt-side-nav-menu-group {
        &.disabled {
            opacity: 0.2;
            cursor: not-allowed;
            pointer-events: none;
        }

        display: flex;
        margin: 1px 0;
    }

    .tnt-side-nav-menu-link, .tnt-side-nav-menu-group > .tnt-side-nav-menu-group-header {
        flex-direction: row;
        align-items: center;
        height: 56px;
        color: $tnt-color-on-surface-variant;
        @include enable-ripple($tnt-color-on-secondary-container);
        @include tnt-border-radius(10);

        i {
            font-size: 24px;
            margin-left: 16px;
        }

        &:not(.disabled) {
            &:hover {
                background-color: color-mix(in srgb, $tnt-color-on-surface, transparent 92%);

                &:has(a.active) {
                    background-color: color-mix(in srgb, $tnt-color-on-secondary-container, transparent 92%);
                }
            }
        }

        &:has(a.active) {
            color: $tnt-color-on-secondary-container;
            background-color: color-mix(in srgb, $tnt-color-on-secondary-container, transparent 96%);
        }

        a, .tnt-side-nav-menu-group-title {
            margin-left: 28px;
            text-decoration: none;
            color: inherit;
            @extend .label-large;
        }

        &:has(i:first-child) {
            a, .tnt-side-nav-menu-group-title {
                margin-left: 12px;
            }
        }

        .tnt-side-nav-menu-link-status {
            margin-left: auto;
            margin-right: 16px;
            @extend .label-large;
        }
    }

    .tnt-side-nav-menu-group {
        flex-direction: column;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }

        & > .tnt-side-nav-menu-group-header {
            height: 56px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include enable-ripple($tnt-color-on-secondary-container);
            @include tnt-border-radius(10);

            & > .drop-down-indicator {
                transition: 150ms;
                margin-left: auto;
            }
        }

        .tnt-side-nav-menu-group-children {
            margin-left: 12px;
            padding-left: 4px;
            transition: 150ms;
            border-left: 1px solid $tnt-color-outline;
            height: fit-content;

            * {
                transition: 150ms;
            }
        }

        &.expanded {
            & > .tnt-side-nav-menu-group-header {
                background-color: color-mix(in srgb, $tnt-color-on-surface, transparent 92%);
            }
        }

        &:not(.expanded) {
            .drop-down-indicator {
                transform: rotateZ(180deg);
            }

            .tnt-side-nav-menu-group-children {
                height: 0px;

                * {
                    height: 0px;
                }
            }
        }
    }
}

.tnt-side-nav-toggle {
    &.expand-large {
        @media #{$medium-and-up} {
            margin-left: 16px;

            i {
                display: none;
            }
        }
    }

    i {
        margin: 0 24px 0 16px;
        font-size: 24px;
        border-radius: 100%;

        @include tnt-clickable(background-color, $tnt-color-on-surface, $tnt-color-surface);
    }
}

:root:has(.tnt-side-nav-toggle.expand-large) {
    @media #{$medium-and-up} {
        .tnt-side-nav {
            left: 0;
        }

        .tnt-header {
            width: calc(100% - $tnt-side-nav-width);
            padding-left: $tnt-side-nav-width;
        }

        .tnt-body {
            width: calc(100% - $tnt-side-nav-width);
            padding-left: $tnt-side-nav-width;
        }

        .tnt-footer {
            padding-left: $tnt-side-nav-width;
        }
    }
}