.tnt-tab-view {
    display: block;
    margin: 8px;

    div:has(.tnt-tab-header) {
        text-align: center;
        background-color: $tnt-color-surface;
        display: flex;
        justify-content: center;
        border-bottom: solid 1px $tnt-color-surface-variant;
        margin: 0;
        position: relative;

        .tnt-tab-header {
            display: flex;
            overflow-x: auto;
            max-width: 100%;
            position: unset;

            .tnt-tab-view-button {
                text-decoration: none;
                display: flex;
                align-items: center;
                outline: none;
                border: none;
                background-color: transparent;
                color: $tnt-color-on-surface-variant;
                padding-bottom: 8px;
                cursor: pointer;
                padding: 0;
                margin: 0;

                @extend .title-small;

                &:not(.disabled) {
                    @include enable-ripple($tnt-color-primary);
                }

                &.active {
                    color: $tnt-color-primary;
                }

                i {
                    font-size: 24px;
                }

                &:disabled {
                    opacity: 0.3;
                    cursor: not-allowed;
                }
            }
        }
    }

    .tnt-tab-active-indicator {
        display: none;
        position: relative;
        top: -3px;
        border-radius: 3px 3px 0 0;
        background-color: $tnt-color-primary;
        transition: left ease-in-out 200ms;
    }

    &.primary {
        .tnt-tab-active-indicator {
            height: 3px;
            width: 32px;
        }


        div .tnt-tab-header .tnt-tab-view-button {
            flex-direction: column;
            justify-content: center;
            height: 64px;
            min-width: 100px;

            i {
                padding-bottom: 8px;
            }
        }
    }

    &.secondary {
        .tnt-tab-active-indicator {
            height: 2px;
        }

        div .tnt-tab-header .tnt-tab-view-button {
            flex-direction: row;
            justify-content: center;
            min-width: 150px;
            height: 48px;


            i {
                padding-right: 8px;
            }
        }
    }

    .tnt-tab-content {
        & > * {
            display: none;
        }

        & > .active {
            display: revert;
        }
    }
}



//.tnt-tab-view {
//    margin: 1rem;
//    position: relative;

//    .tnt-tab-view-header-items {
//        position: unset;
//        display: flex;
//        justify-content: center;
//        margin-bottom: 1rem;

//        div {
//            padding: 0 1.5rem;
//            @extend .tnt-border-radius-7;
//            @extend .tnt-z-depth-2;

//            .tnt-tab-view-header {
//                background-color: transparent;
//                border: none;
//                display: inline;
//                padding: 0.5rem 2rem;
//                z-index: 3;
//                user-select: none;
//                position: relative;
//                transition: 150ms;
//                font-weight: bolder;
//                font-size: 1.1rem;
//                min-width: 5rem;

//                i {
//                    vertical-align: middle;
//                }
//            }
//        }
//    }

//    &:not(.disabled) .tnt-tab-view-header-items div .tnt-tab-view-header:not(.disabled) {
//        cursor: pointer;
//    }

//    &:has(.tnt-glider) .tnt-tab-view-header-items .tnt-tab-view-header {
//        transition-delay: 100ms;
//    }

//    &:has(.tnt-glider) .tnt-glider {
//        position: absolute;
//        top: 0;
//        z-index: 2;
//        transition-property: left, width;
//        transition-timing-function: ease-in-out;
//        transition-duration: 150ms;
//        @extend .tnt-border-radius-7;
//    }

//    &:not(.tnt-glider) .tnt-glider {
//        position: absolute;
//        z-index: 2;
//        transition-property: left, width;
//        transition-timing-function: ease-in-out;
//        transition-duration: 150ms;
//        @extend .tnt-border-radius-7;
//    }
//}
