@use "sass:color";

.tnt-tab-view[theme=default] {
    .tnt-tab-view-header-items div {
        background-color: $tnt-color-surface;

        .tnt-tab-view-header {
            color: $tnt-color-on-surface;

            &.active {
                color: $tnt-color-on-primary;
            }

            &.disabled {
                color: color.adjust($tnt-color-on-surface, $alpha: -0.6);
            }
        }
    }

    .tnt-glider {
        background-color: color.adjust($tnt-color-primary, $alpha: -0.3);
    }

    &:not(.tnt-glider) .tnt-tab-view-header-items .tnt-tab-view-header {
        &:after {
            background-color: $tnt-color-on-primary-container;
        }

        &.active {
            color: $tnt-color-on-primary-container;
        }
    }

    &.disabled {
        .tnt-tab-view-header-items div .tnt-tab-view-header {
            color: color.adjust($tnt-color-on-surface, $alpha: -0.6);
        }

        &:not(.tnt-glider) .tnt-tab-view-header-items div .tnt-tab-view-header.active {
            color: color.adjust($tnt-color-on-primary-container, $alpha: -0.6);
        }
    }
}
