@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;

$bg-color: var(--tnt-toast-background-color);
$text-color: var(--tnt-toast-text-color);

.tnt-toast-container {
    position: fixed;
    bottom: 80px;
    right: 32px;
    width: 320px;
    z-index: 1001;
    box-sizing: border-box;


    .tnt-toast {
        min-height: 90px;
        box-sizing: border-box;
        margin-top: 8px;
        animation: snackbarSlideIn 200ms ease-in-out;
        transition: transform 250ms ease-in-out, opacity 250ms linear;
        position: relative;
        background-color: $bg-color;
        color: $text-color;

        &.tnt-closing {
            transform: translateX(200%);
            opacity: 0;
        }

        .tnt-toast-header {
            position: relative;
            padding: 8px;
            margin: 0;
            border-bottom: 1px solid colors.$tnt-color-outline;
            box-sizing: border-box;
            display: inline-grid;
            grid-template-areas: "label close";
            grid-template-rows: 32px;
            grid-template-columns: 1fr 40px;
            width: 100%;
            padding: 0 8px;
            @include typescale.tnt-title-small;

            span {
                padding: 0;
                margin: 0;
                grid-area: label;
                justify-self: start;
                align-self: center;
            }

            ::deep {

                .tnt-image-button {
                    justify-self: center;
                    align-self: center;
                    grid-area: close;
                }
            }
        }

        .tnt-toast-body {
            padding: 4px;
            box-sizing: border-box;
            @include typescale.tnt-body-small;
        }

        .tnt-toast-progress {
            height: 4px;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: snackbarProgress var(--timeout) linear forwards;
        }
    }
}

@keyframes snackbarProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes snackbarSlideIn {
    0% {
        transform: translateX(160px);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
