@page "/"
@using TnTComponents.Enum;
@using TnTComponents.Forms
@attribute [RenderModeServer]

<TnTLayout Responsive="true">
    <TnTHeader SideBarExpanded="@_sideBarExpanded">
        <TnTSideBarToggle Click="@(()=> _sideBarExpanded = !_sideBarExpanded)">

        </TnTSideBarToggle>
        <h1>
            My Title
        </h1>

        <h1>
            123
        </h1>
        <h1>
            456
        </h1>
        <h1>
            789
        </h1>
        <h1>
            123123123
        </h1>
    </TnTHeader>
    <TnTSideBar Expanded="@_sideBarExpanded">
        <TnTSideBarList>
            <TnTSideBarListItem Icon="search" Href="/link">
                Search
            </TnTSideBarListItem>
            <TnTSideBarListItem Icon="home">
                Home
            </TnTSideBarListItem>
            <TnTSideBarListItem Href="/asdf">
                Value
            </TnTSideBarListItem>
        </TnTSideBarList>
    </TnTSideBar>
    <TnTBody SideBarExpanded="@_sideBarExpanded">
        <TnTForm FormType="FormType.Outlined">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label" Placeholder="My Placeholder" />
        </TnTForm>

        <TnTForm FormType="FormType.Default">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label" Placeholder="My Placeholder" />
        </TnTForm>

        <TnTForm FormType="FormType.Filled">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label" Placeholder="My Placeholder" />
        </TnTForm>

        <TnTForm FormType="FormType.Outlined">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label"  />
        </TnTForm>

        <TnTForm FormType="FormType.Default">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label" />
        </TnTForm>

        <TnTForm FormType="FormType.Filled">
            <TnTTextBox @bind-Value="_textValue" Icon="search" Label="My Label" />
        </TnTForm>

        @_textValue

        <TnTCard CardType="CardType.Outlined">
            <TnTButton ButtonType="ButtonType.Outlined" Text="Text"></TnTButton>
        </TnTCard>
    </TnTBody>
</TnTLayout>



@code {
    private bool _sideBarExpanded = false;
    private string? _textValue = "asdfasdf";


    private void SideBarExpanded(bool expanded) {
        _sideBarExpanded = expanded;
    }
}