.tnt-accordion {
    display: block;
    margin: 0.5rem;

    .tnt-accordion-child {
        border-radius: inherit;

        .tnt-accordion-header {
            border-radius: inherit;
            user-select: none;
            border-bottom: 1px solid $tnt-color-outline;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                padding: 0.5rem;
                margin: 0;
                border-radius: inherit;
                display: inline-block;
            }

            .tnt-icon {
                padding: 0.5rem;
                transition: 250ms;
                user-select: none;
                pointer-events: none;
            }
        }

        .tnt-accordion-content {
            max-height: 100vh;
            transition: max-height 250ms ease-in-out;
            overflow: auto;

            &.tnt-hidden {
                max-height: 0px;
                overflow: hidden;
            }
        }

        &:not(:has(.tnt-hidden)) {
            .tnt-accordion-header {
                .tnt-icon {
                    transform: rotateZ(180deg);
                }
            }
        }


        &:first-child {
            border-radius: 0.5rem 0.5rem 0 0;
        }

        &:last-child {
            &:has(.tnt-hidden) {
                border-radius: 0 0 0.5rem 0.5rem;
            }

            &:not(:has(.tnt-hidden)) {
                .tnt-accordion-content {
                    border-radius: 0 0 0.5rem 0.5rem;
                }
            }
        }
    }
    //& > h3:first-child {
    //    padding: 0.5rem;
    //    border-radius: inherit;
    //    cursor: pointer;
    //    margin: 0;
    //    transition: 200ms ease-in-out;
    //    user-select: none;
    //    border-bottom: 1px solid $tnt-color-outline;
    //    position: relative;
    //    span.tnt-icon {
    //        color: inherit;
    //        transition: 200ms ease-in-out;
    //        float: right;
    //    }
    //}
    //&:has(div.tnt-visible) {
    //    h3 {
    //        border-end-end-radius: 0;
    //        border-end-start-radius: 0;
    //        span.tnt-icon {
    //            transform: rotateZ(180deg);
    //        }
    //    }
    //}
    //& > div {
    //    &:not([tnt-open-by-default]) {
    //        height: 0;
    //    }
    //    overflow: hidden;
    //    transition: ease-in-out 200ms;
    //    border-radius: 0 0 0.5rem 0.5rem;
    //    &.tnt-visible {
    //        margin-bottom: 0.5rem;
    //    }
    //    div {
    //        padding: 8px;
    //    }
    //}
    //&:has( + tnt-page-script + tnt-accordion), &:has(+ tnt-accordion) {
    //    margin-bottom: 0;
    //    border-end-end-radius: 0;
    //    border-end-start-radius: 0;
    //    & > div.tnt-visible {
    //        margin-bottom: 0;
    //        border-radius: 0;
    //    }
    //}
    //& + tnt-page-script + tnt-accordion {
    //    border-start-start-radius: 0;
    //    border-start-end-radius: 0;
    //    margin-top: 0;
    //}
}
