.tnt-accordion {
    display: block;
    margin: 8px;

    .tnt-accordion-child {
        border-radius: inherit;

        .tnt-accordion-header {
            border-radius: inherit;
            user-select: none;
            border-bottom: 1px solid $tnt-color-outline;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                padding: 8px;
                margin: 0;
                border-radius: inherit;
                display: inline-block;
            }

            .tnt-icon {
                padding: 8px;
                transition: 250ms;
                user-select: none;
                pointer-events: none;
            }
        }

        .tnt-accordion-content {
            max-height: 80vh;
            transition: max-height 250ms ease-in-out;
            overflow: auto;

            &.tnt-hidden {
                max-height: 0px;
                overflow: hidden;
            }
        }

        &:not(:has(.tnt-hidden)) {
            .tnt-accordion-header {
                .tnt-icon {
                    transform: rotateZ(180deg);
                }
            }
        }


        &:first-child {
            border-start-start-radius: 8px;
            border-start-end-radius: 8px;
        }

        &:last-child {
            &:has(.tnt-hidden) {
                border-end-start-radius: 8px;
                border-end-end-radius: 8px;
            }

            &:not(:has(.tnt-hidden)) {
                .tnt-accordion-content {
                    border-radius: 0 0 8px 8px;
                }
            }
        }
    }
}
