@for $i from 0 through 10 {

    .tnt-corner-radius-#{$i} {
        border-radius: $i * 4px;
    }
}

@for $i from 0 through 10 {

    .tnt-corner-radius-start-start-#{$i} {
        border-start-start-radius: $i * 4px;
    }
}

@for $i from 0 through 10 {

    .tnt-corner-radius-start-end-#{$i} {
        border-start-end-radius: $i * 4px;
    }
}

@for $i from 0 through 10 {

    .tnt-corner-radius-end-start-#{$i} {
        border-end-start-radius: $i * 4px;
    }
}

@for $i from 0 through 10 {

    .tnt-corner-radius-end-end-#{$i} {
        border-end-end-radius: $i * 4px;
    }
}
