button.tnt-components {
    @extend .tnt-label-large;
    appearance: none;
    user-select: none;
    min-height: 2.5rem;
    min-width: 2.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
    transition: 250ms;
    position: relative;

    &.tnt-ripple {
        overflow: hidden;
    }

    &:not(.tnt-outlined) {
        border: none;
    }

    &:not(:has(.tnt-icon)) {
        padding: 0 1.5rem;
    }

    .tnt-icon {
        vertical-align: middle;
        text-align: inherit;
        font-size: 1.125rem;
        padding: 0 0.25rem;
    }

    &:not(.tnt-filled):not(.tnt-outlined) {
        background-color: transparent;
    }

    &:has(> progress.tnt-components) {

        & > progress.tnt-components {
            position: absolute;

            &:not(.tnt-alternative) {
                padding: 0;
                margin: 0;
                height: 2rem;
                width: 2rem;
                top: 0.25rem;
                left: calc(50% - 1rem);
            }

            &.tnt-alternative {
                left: 0;
            }
        }
    }
}

.tnt-components.tnt-fab {
    position: fixed;
    bottom: 1rem;
    transition: 250ms;

    button.tnt-components {
        height: 3.5rem;
        min-width: 3.5rem;
        padding: 0.5rem;
    }

    .tnt-icon {
        font-size: 2rem;
    }
}



body:has(tnt-footer) {
    .tnt-components.tnt-fab {
        bottom: calc($tnt-footer-height + 1rem);
    }

    @for $i from 1 through 5 {
        .tnt-components.tnt-fab:nth-child(#{$i}) {
            right: #{(8 * ($i - 1) + 1)}rem;
        }
    }
}
