@use "sass:map";

tnt-button {
    outline: none;
    appearance: none;
    border: none;
    user-select: none;
    min-height: 2.5rem;
    min-width: 2.5rem;
    padding: 0 1rem;
    margin: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;

    @extend .tnt-label-large;

    &:not(disabled) {
        cursor: pointer;
        transition: box-shadow linear 100ms, background-color linear 100ms;

        &:hover {
            @for $i from 0 through 9 {
                &.tnt-elevation-#{$i} {
                    box-shadow: map.get($elevation-shadows, $i + 1);
                }
            }
        }
    }

    &:not(.tnt-fab) {
        .tnt-icon:first-child {
            padding-right: 0.5rem;
        }

        .tnt-icon:last-child {
            padding-left: 0.5rem;
        }
    }

    &.tnt-fab {
        border-radius: 50%;
        padding: 0.25rem;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        z-index: 1000;
        transition: right ease-in-out 200ms;

        @extend .tnt-elevation-1;
    }
}

tnt-layout:has(tnt-footer) {
    .tnt-fab {
        bottom: calc(2rem + $tnt-footer-height);
    }
}

body:has(div.tnt-snackbar-container) {
    tnt-button.tnt-fab {
        right: 24rem;
    }
}