.tnt-input:not(:has(input[type=checkbox])) {
    min-height: 1.25rem;
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    position: relative;
    margin: 0.5rem;
    vertical-align: middle;

    input {
        appearance: none;
        border: none;
        outline: none;
        background-color: $tnt-color-transparent;
        color: inherit;
        caret-color: inherit;
        padding-top: 0.2rem;
        @extend .tnt-body-large;
    }

    &:has(span.tnt-icon.tnt-start) {
        padding-left: 0.75rem;

        span.tnt-icon.tnt-start {
            padding-right: 1rem;
        }
    }

    &:has(span.tnt-icon.tnt-end) {
        padding-right: 0.75rem;

        span.tnt-icon.tnt-end {
            padding-left: 1rem;
        }
    }

    &:focus-within {
        caret-color: $tnt-color-primary;
    }

    &.modified.invalid {
        color: $tnt-color-error;

        span.tnt-icon.tnt-end {
            color: inherit;
        }
    }

    &:has(input:disabled) {
        opacity: 0.3;
    }

    &.tnt-filled {
        &:after {
            content: '';
            height: 1px;
            width: 100%;
            bottom: 0px;
            left: 0px;
            display: block;
            position: absolute;
            background-color: $tnt-color-surface-variant;
        }

        &:before {
            content: '';
            height: 2px;
            width: 100%;
            bottom: 0px;
            left: 0px;
            display: block;
            position: absolute;
            background-color: $tnt-color-primary;
            transform: rotateY(90deg);
            transition: 200ms ease-in-out;
        }

        &.modified.invalid:before {
            background-color: $tnt-color-error;
        }

        &:focus-within {
            &:before {
                transform: rotateY(0deg);
            }
        }
    }

    &.tnt-outlined {

        &:after {
            content: '';
            height: 100%;
            width: 100%;
            background-color: transparent;
            display: block;
            position: absolute;
            left: 0;
            border-radius: inherit;
            transition: 200ms ease-in-out;
            outline: 2px solid $tnt-color-primary;
            opacity: 0;
            user-select: none;
            pointer-events: none;
        }

        &.modified.invalid:after {
            outline-color: $tnt-color-error;
        }

        &:focus-within {
            &:after {
                opacity: 1;
            }
        }
    }
}

label.tnt-components:not(:has(input[type=checkbox])) {
    position: relative;

    span.tnt-label {
        position: absolute;
        z-index: 1;
        user-select: none;
        color: inherit;
        transition: 200ms ease-in-out;
        cursor: text;
        @extend .tnt-body-large;
    }

    &:focus-within {
        color: $tnt-color-primary;
    }

    &:focus-within, &:not(:has(input:placeholder-shown)), &:has(.tnt-input-placeholder) {
        span.tnt-label {
            transform: translateY(-0.9rem) scale(0.75) translateX(-0.65rem);
        }
    }

    &:has(span.tnt-filled) {
        span.tnt-label {
            top: 0;
            left: 1.25rem;
        }
    }


    &:has(span.tnt-outlined) {
        border: none;
        outline: none;

        span.tnt-label {
            padding: 0 0.25rem;
            left: 1.25rem;
            top: 0;
        }

        &:focus-within, &:not(:has(input:placeholder-shown)), &:has(.tnt-input-placeholder) {
            span.tnt-label {
                transform: translateY(-1.3rem) scale(0.75) translateX(-0.65rem);
            }
        }
    }

    &:has(span.tnt-icon.tnt-start) {
        &:has(span.tnt-filled) {
            span.tnt-label {
                left: 3.5rem;
            }
        }

        &:has(span.tnt-outlined) {
            span.tnt-label {
                left: 3.25rem;
            }
            //&:focus-within, &:not(:has(input:placeholder-shown)), &:has(.tnt-input-placeholder) {
            //    span.tnt-label {
            //        transform: translateY(-1.3rem) scale(0.75) translateX(-0.65rem);
            //    }
            //}
        }
    }

    &:has(span.modified.invalid) {
        &:focus-within {
            color: $tnt-color-error;
        }
    }
}

label.tnt-components:has(input[type=checkbox]) {
    position: relative;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    min-height: 1.25rem;
    user-select: none;
    margin: 0.5rem;


    &:not(:has(input:disabled)) {
        cursor: pointer;
    }

    &:has(input:disabled) {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        transition: 200ms ease-in-out;
    }

    &:before {
        border-radius: 0.125rem;
        width: 1rem;
        height: 1rem;
        outline: 2px solid $tnt-color-on-surface-variant;
        background-color: $tnt-color-transparent
    }

    &:after {
        border-bottom: 3px solid $tnt-color-surface;
        border-right: 2px solid $tnt-color-surface;
        border-end-end-radius: 0.125rem;
        width: 0.4rem;
        height: 0.65rem;
        left: 0.15rem;
        transform: rotateY(90deg);
    }

    &:has(input:checked) {
        &:before {
            background-color: $tnt-color-primary;
        }

        &:after {
            transform: rotateZ(33deg) translateY(-0.15rem) rotateY(0deg);
        }
    }

    span.tnt-label {
        background-color: transparent;
        padding-left: 1rem;
    }

    .tnt-input:has(input[type=checkbox]) {
        outline: inherit;
        border: inherit;

        input[type=checkbox] {
            appearance: none;
        }
    }

    &:has(span.tnt-icon.tnt-start) {
        &:before, &:after {
            margin-left: 2rem;
        }
    }

    &:has(span.tnt-icon.tnt-end) {
        padding-right: 2rem;

        span.tnt-label {
            margin-left:0.5rem;
        }

        span.tnt-icon.tnt-end {
            position: absolute;
            right: 0;
        }
    }
}
