tnt-layout {
    display: block;

    tnt-header, tnt-footer, tnt-body, tnt-side-nav {
        transition: 200ms ease-in-out;
    }

    tnt-header, tnt-footer {
        display: flex;
        width: 100%;
    }

    tnt-body {
        display: block;
        min-height: 100vh;
    }

    tnt-side-nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: $tnt-side-nav-width;
        z-index: 999;
        padding: 0.5rem;
        box-sizing: border-box;

        tnt-side-nav-menu-group {
            transition: 200ms ease-in-out;
            user-select: none;
            cursor: pointer;
            overflow: hidden;

            & > span {
                display: inline-flex;
                height: 3rem;
                align-content: center;
                align-items: center;
                width: 100%;
            }

            & > span > span:last-child.tnt-icon {
                transition: 200ms ease-in-out;
                margin-left: auto;
                transform: rotateZ(0);
            }

            &.tnt-disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.3;
            }

            & > div {
                display: flex;
                flex-direction: column;
                margin-left: 1.25rem;
                height: fit-content;
                border-left: 1px solid $tnt-color-outline;
                transition: height ease-in-out 200ms;
            }

            &:not(.tnt-expanded) {
                & > div {
                    height: 0px;
                }
            }


            &.tnt-expanded {
                & > span > span:last-child.tnt-icon {
                    transform: rotateZ(180deg);
                }
            }

            @extend .tnt-title-small;

            span.tnt-icon {
                vertical-align: bottom;
                padding: 0 0.5rem;
            }
        }

        div.tnt-components {
            padding: 0;
            cursor: pointer;
            overflow: hidden;
            display: flex;

            a {
                display: inline-flex;
                width: 100%;
                height: 100%;
                cursor: inherit;
                min-height: 3rem;
                max-height: 5rem;
                text-overflow: ellipsis;
                flex-wrap: nowrap;
                box-sizing: border-box;
                align-items: center;

                span.tnt-icon {
                    padding: 0 0.5rem;
                }
            }

            &.tnt-disabled {
                opacity: 0.3;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }

    tnt-header, tnt-footer {
        align-items: center;
        position: fixed;
        padding: 0.5rem;
        box-sizing: border-box;
        z-index: 998;
        opacity: 0.9;
        @extend .tnt-title-large;
    }

    tnt-header {
        height: $tnt-header-height;
        top: 0;
    }

    tnt-footer {
        height: $tnt-footer-height;
        bottom: 0;
    }

    &:has(tnt-header) tnt-body {
        margin-top: $tnt-header-height;
    }

    &:has(tnt-header):has(tnt-footer) {
        tnt-body {
            min-height: calc(calc(100vh - $tnt-header-height) - $tnt-footer-height);
        }
    }

    &:has(tnt-footer):not(:has(tnt-header)) {
        tnt-body {
            min-height: calc(100vh - $tnt-footer-height);
        }
    }

    &:has(tnt-header):not(:has(tnt-footer)) {
        tnt-body {
            min-height: calc(100vh - $tnt-header-height);
        }
    }

    @media #{$medium-and-up} {
        &:has(tnt-side-nav) {
            tnt-header, tnt-footer, tnt-body {
                margin-left: $tnt-side-nav-width;
                width: calc(100% - $tnt-side-nav-width);
            }
        }
    }

    @media #{$small-and-down} {
        tnt-side-nav {
            transform: translateX(-105%);
        }
    }
}
