.tnt-scheduler {
    overflow-x: auto;
    padding: 8px;
    margin: 8px;

    .date-controls {
        display: flex;

        .today-button {
            padding: 0 16px;
        }
    }

    .tnt-week-view {
        display: grid;
        min-width: $small-screen-up;

        .tnt-column-header {
            text-align: center;
            user-select: none;
            -webkit-user-select: none;

            &.today {
                color: $tnt-color-primary;
                display: flex;
                flex-direction: column;
                align-items: center;

                div {
                    background-color: $tnt-color-primary;
                    color: $tnt-color-on-primary;
                    border-radius: 100%;
                    width: 16px;
                    height: 16px;
                    aspect-ratio: 1/1;
                    padding: 0.16px;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }

        .tnt-slot {
            grid-row-start: var(--row-index);
            grid-column-start: var(--column-index);
            grid-row-end: span var(--row-span);
            grid-column-end: span var(--column-span);

            &.tnt-day-slot {
                border-left: 1px solid color-mix(in srgb, $tnt-color-outline-variant 30%, transparent);
                border-right: 1px solid color-mix(in srgb, $tnt-color-outline-variant 30%, transparent);
                background-color: $tnt-color-surface-container-lowest;

                &.disabled {
                    background-color: $tnt-color-surface-container-highest;
                }

                &.tnt-slot-outline {
                    border: 1px solid color-mix(in srgb, $tnt-color-outline-variant 30%, transparent);
                }

                &.today {
                    border-left: 1px solid $tnt-color-primary;
                    border-right: 1px solid $tnt-color-primary;
                }

                &.tnt-clickable {
                    cursor: pointer;

                    &:hover {
                        background-color: color-mix(in srgb, $tnt-color-surface-tint 30%, transparent);
                    }
                }
            }

            &.tnt-time-slot {
                min-height: 1px;
                text-align: right;
                padding-right: 8px;
                user-select: none;
                -webkit-user-select: none;
            }

            &.tnt-event {
                background-color: var(--background-color);
                color: var(--foreground-color);
                display: inline;
                border-radius: 12px;
                padding: 4px;
                box-sizing: border-box;
                margin: 0.16px;
                user-select: none;
                text-overflow: clip;
                overflow: hidden;

                &.tnt-grabbable {
                    cursor: grab;
                }
            }
        }
    }
}