tnt-tab-view {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    position: relative;

    &:not(.ready) {
        &:before {
            display: block;
            content: '';
            position: absolute;
            z-index: 100;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, var(--tnt-color-surface-dim) 33%, color-mix(in srgb, var(--tnt-color-surface-container) 60%, var(--tnt-color-background)) 50%, var(--tnt-color-surface-dim) 66%);
            background-size: 300%;
            animation: tnt-tab-view-loading 1.5s infinite ease-in-out;
        }
    }

    & > div:first-child {
        display: block;
        vertical-align: bottom;
        position: sticky;
        border-bottom: 1px solid $tnt-color-outline;
        margin: 0 0.5rem;
        white-space: nowrap;
        overflow-x: auto;
        z-index: 10;

        & > span {
            display: table;
            margin: 0 auto;
            height: 100%;

            & > button {
                appearance: none;
                outline: none;
                border: none;
                height: 4rem;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                vertical-align: bottom;
                padding-bottom: 0.75rem;
                padding-top: 0.25rem;
                box-sizing: border-box;
                min-width: 5rem;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                cursor: pointer;
                transition: 200ms ease-in-out;
                @extend .tnt-title-small;

                &.tnt-disabled {
                    cursor: not-allowed;
                }

                & > span {
                    color: inherit;
                }

                &:disabled {
                    opacity: 0.3;
                }
            }
        }

        & > span:last-child {
            position: absolute;
            display: inline-block;
            height: 0.3rem;
            border-radius: 3px 3px 0 0;
            width: 3rem;
            bottom: 0;
            transition: 200ms ease-in-out;
        }
    }

    &.tnt-alternative {
        div:first-child {
            & > span {
                & > button {
                    height: 2rem;
                    padding: 0 0.75rem 0.25rem 0.75rem;
                }
            }

            & > span:last-child {
                height: 0.2rem;
            }
        }
    }

    tnt-tab-child {
        margin-top: 1rem;
    }
}


@keyframes tnt-tab-view-loading {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}