.tnt-components.tnt-tab-view {
    display: block;
    width: 100%;
    margin-top: 8px;
    position: relative;
    &:not(.tnt-ready) {
        &:before {
            display: block;
            content: '';
            position: absolute;
            z-index: 100;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, var(--tnt-color-surface-dim) 33%, color-mix(in srgb, var(--tnt-color-surface-container) 60%, var(--tnt-color-background)) 50%, var(--tnt-color-surface-dim) 66%);
            background-size: 300%;
            animation: tnt-tab-view-loading 1.5s infinite ease-in-out;
        }
    }

    & > .tnt-tab-view-header {
        vertical-align: bottom;
        position: sticky;
        border-bottom: 1px solid $tnt-color-outline;
        margin: 0 8px;
        white-space: nowrap;
        overflow-x: auto;
        z-index: 10;

        .tnt-tab-view-header-buttons {
            display: table;
            margin: 0 auto;
            height: 100%;

            .tnt-tab-view-button {
                height: 48px;
                display: inline-flex;
                appearance: none;
                border: none;
                outline: none;
                min-width: 80px;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                margin: 0;
                padding: 0;
                vertical-align: bottom;
                width: -moz-fit-content;
                width: -webkit-fit-content;
                width: fit-content;

                &.tnt-active {
                    color: var(--active-text-color);
                }

                @extend .tnt-title-small;

                &:hover {
                    box-shadow: none !important;
                }
            }
        }

        .tnt-tab-view-active-indicator {
            position: absolute;
            display: inline-block;
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 48px;
            bottom: 0;
            transition: 200ms ease-in-out;
        }
    }

    .tnt-tab-child {
        margin-top: 8px;
        display: none;

        &.tnt-active {
            display: block;
        }
    }


    &.tnt-tab-view-secondary {
        .tnt-tab-view-header {
            .tnt-tab-view-header-buttons {

                .tnt-tab-view-button {
                    height: 16px;
                }
            }

            .tnt-tab-view-active-indicator {
                height: 2px;
            }
        }
    }
}


@keyframes tnt-tab-view-loading {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
