@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_textAlignments.scss' as textAlignments;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;
@use '../Styles/_Variables/_elevation.scss' as elevation;

$bg-color: var(--tnt-button-bg-color);
$fg-color: var(--tnt-button-fg-color);
$tint-color: var(--tnt-button-tint-color);
$on-tint-color: var(--tnt-button-on-tint-color);

.tnt-image-button {
    vertical-align: middle;

    &.tnt-size-xs, &.tnt-size-s {
        background-color: transparent;
        min-height: 48px;
        cursor: pointer;

        .tnt-small-button-layer {
            &.tnt-button-tint-color.tnt-button-on-tint-color {
                @include interactable.tnt-interactable($tint-color, $on-tint-color);
            }

            &.tnt-button-tint-color:not(.tnt-button-on-tint-color) {
                @include interactable.tnt-interactable($tint-color, null);
            }

            &.tnt-button-on-tint-color:not(.tnt-button-tint-color) {
                @include interactable.tnt-interactable(null, $on-tint-color);
            }

            &:not(.tnt-button-on-tint-color):not(.tnt-button-tint-color) {
                @include interactable.tnt-interactable(null, null);
            }

            color: $fg-color;

            &.tnt-filled {
                background-color: $bg-color;
            }

            @include typescale.tnt-typescale(500, 14px, 20px, 0.1px);
            @include textAlignments.tnt-text-alignments;
            @include interactable.tnt-disabled;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: none;
            box-sizing: border-box;
            transition: 250ms ease-in-out;
            border-radius: 50%;

            &.tnt-disabled {
                cursor: not-allowed;
            }
        }
    }

    &.tnt-size-m, &.tnt-size-l, &.tnt-size-xl {
        &.tnt-button-tint-color.tnt-button-on-tint-color {
            @include interactable.tnt-interactable($tint-color, $on-tint-color);
        }

        &.tnt-button-tint-color:not(.tnt-button-on-tint-color) {
            @include interactable.tnt-interactable($tint-color, null);
        }

        &.tnt-button-on-tint-color:not(.tnt-button-tint-color) {
            @include interactable.tnt-interactable(null, $on-tint-color);
        }

        &:not(.tnt-button-on-tint-color):not(.tnt-button-tint-color) {
            @include interactable.tnt-interactable(null, null);
        }

        color: $fg-color;

        &.tnt-filled {
            background-color: $bg-color;
        }

        @include textAlignments.tnt-text-alignments;
        @include interactable.tnt-disabled;
        transition: 250ms ease-in-out;
    }

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    padding: 8px;
    margin: 4px;

    &.tnt-text, &.tnt-outlined {
        background-color: transparent;

        &.tnt-disabled {
            opacity: 0.4;

            &.tnt-size-xs .tnt-small-button-layer, &.tnt-size-s .tnt-small-button-layer {
                opacity: 1;
            }
        }
    }

    &.tnt-outlined {
        &.tnt-size-xs .tnt-small-button-layer,
        &.tnt-size-s .tnt-small-button-layer,
        &.tnt-size-m,
        &.tnt-size-l,
        &.tnt-size-xl {
            outline: 1px solid colors.$tnt-color-outline-variant;
        }
    }

    &.tnt-elevated {
        &.tnt-size-xs .tnt-small-button-layer,
        &.tnt-size-s .tnt-small-button-layer,
        &.tnt-size-m,
        &.tnt-size-l,
        &.tnt-size-xl {
            @include elevation.tnt-elevation(1, true);
        }
    }

    &.tnt-size-xs {
        .tnt-small-button-layer {
            border-radius: 32px / 100%;

            &.tnt-image-button-round {
                height: 32px;
                width: 32px;
            }

            &.tnt-image-button-wide {
                height: 32px;
                width: 40px;
            }

            &.tnt-image-button-narrow {
                height: 32px;
                width: 28px;
            }

            &.tnt-button-square {
                border-radius: 12px;
            }

            ::deep .tnt-icon {
                font-size: 20px;
            }
        }
    }

    &.tnt-size-s {
        .tnt-small-button-layer {
            border-radius: 40px / 100%;

            &.tnt-image-button-round {
                height: 40px;
                width: 40px;
            }

            &.tnt-image-button-wide {
                height: 40px;
                width: 52px;
            }

            &.tnt-image-button-narrow {
                height: 40px;
                width: 32px;
            }

            &.tnt-button-square {
                border-radius: 12px;
            }

            ::deep .tnt-icon {
                font-size: 24px;
            }
        }
    }

    &.tnt-size-m {
        border-radius: 56px / 100%;

        &.tnt-image-button-round {
            height: 56px;
            width: 56px;
        }

        &.tnt-image-button-wide {
            height: 56px;
            width: 72px;
        }

        &.tnt-image-button-narrow {
            height: 56px;
            width: 48px;
        }

        &.tnt-button-square {
            border-radius: 16px;
        }

        ::deep .tnt-icon {
            font-size: 24px;
        }
    }

    &.tnt-size-l {
        border-radius: 96px / 100%;

        &.tnt-image-button-round {
            height: 96px;
            width: 96px;
        }

        &.tnt-image-button-wide {
            height: 96px;
            width: 128px;
        }

        &.tnt-image-button-narrow {
            height: 96px;
            width: 64px;
        }

        &.tnt-button-square {
            border-radius: 28px;
        }

        ::deep .tnt-icon {
            font-size: 32px;
        }
    }

    &.tnt-size-xl {
        border-radius: 136px / 100%;

        &.tnt-image-button-round {
            height: 136px;
            width: 136px;
        }

        &.tnt-image-button-wide {
            height: 136px;
            width: 184px;
        }

        &.tnt-image-button-narrow {
            height: 136px;
            width: 104px;
        }

        &.tnt-button-square {
            border-radius: 28px;
        }

        ::deep .tnt-icon {
            font-size: 40px;
        }
    }

    &:active, &:focus {
        &.tnt-size-xs, &.tnt-size-s {
            .tnt-small-button-layer {
                border-radius: 8px;
            }
        }

        &.tnt-size-m {
            border-radius: 12px;
        }

        &.tnt-size-l, &.tnt-size-xl {
            border-radius: 16px;
        }
    }


    .tnt-button-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    ::deep {
        tnt-page-script {
            position: absolute;
        }

        .tnt-icon {
            pointer-events: none;
        }
    }
}
