@using TnTComponents
@inherits LayoutComponentBase

<TnTLayout>
    <TnTHeader>
        <TnTSideNavToggle>
            @MaterialIcon.Menu.Render()
        </TnTSideNavToggle>
        <TnTThemeToggle />
        This is my header
    </TnTHeader>

    <TnTSideNav Title="My Title">
        <h3>
            My First Headline
        </h3>
        <TnTSideNavMenuLink Icon="MaterialIcon.Home" Href="/" Match="NavLinkMatch.All" Status="100" Disabled="true">
            Home
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.PermContactCalendar" Href="/scheduler" Match="NavLinkMatch.All" Status="100">
            Scheduler
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.Error" Href="/Buttons">
            Buttons
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.Warning" Href="/card">
            Card Some really long content that should be cut off or wrapped
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.Snooze" Href="/snackbar">
            Snackbar
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Href="/navlinks">
            Nav Links
        </TnTSideNavMenuLink>
        <TnTSideNavMenuGroup Title="Group 1" Icon="MaterialIcon.Business">
            <TnTSideNavMenuLink Icon="MaterialIcon.Delete" Href="/datagrid">
                Data Grid
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.Star" Href="/progress">
                Progress
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.MusicNote" Href="/accordion">
                Accordion
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.Language" Href="/dialog">
                Dialog
            </TnTSideNavMenuLink>
        </TnTSideNavMenuGroup>
        <TnTSideNavMenuGroup Title="Group 1" Icon="MaterialIcon.Cached" Disabled="true">
            <TnTSideNavMenuLink Icon="MaterialIcon.AccountBalance" Href="/datagrid">
                Data Grid
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.Backup" Href="/progress">
                Progress
            </TnTSideNavMenuLink>
        </TnTSideNavMenuGroup>
        <TnTDivider />
        <h3>
            My Second Headline
        </h3>
        <TnTSideNavMenuGroup Title="Group 2" Icon="MaterialIcon.Dock" Expand="true">
            <TnTSideNavMenuLink Icon="MaterialIcon.Publish" Href="/forms">
                Forms
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.PanoramaHorizontal" Href="/upload">
                Upload
            </TnTSideNavMenuLink>
            <TnTSideNavMenuLink Icon="MaterialIcon.Poll" Href="/tabview">
                Tabs
            </TnTSideNavMenuLink>
            <TnTSideNavMenuGroup Title="Group 2" Icon="MaterialIcon.Face" Expand="true">
                <TnTSideNavMenuLink Icon="MaterialIcon.Http" Href="/forms">
                    Forms
                </TnTSideNavMenuLink>
                <TnTSideNavMenuLink Icon="MaterialIcon.Edit" Href="/upload">
                    Upload
                </TnTSideNavMenuLink>
                <TnTSideNavMenuLink Icon="MaterialIcon.ArrowDropDownCircle" Href="/tabview">
                    Tabs
                </TnTSideNavMenuLink>
            </TnTSideNavMenuGroup>
        </TnTSideNavMenuGroup>
        <TnTSideNavMenuLink Icon="MaterialIcon.ShoppingBasket" Href="/skeleton">
            Skeleton
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.MergeType" Href="/typeahead">
            Typeahead
        </TnTSideNavMenuLink>
        <TnTSideNavMenuLink Icon="MaterialIcon.ScreenLockLandscape" Href="/InfiniteScroll">
            Infinite Scroll
        </TnTSideNavMenuLink>
    </TnTSideNav>

    <TnTBody>
        @Body
    </TnTBody>

    <TnTFooter>
        Footer content
    </TnTFooter>
</TnTLayout>

<TnTDialog @rendermode="InteractiveAuto" />
<TnTSnackbar @rendermode="InteractiveAuto" />