@inherits LayoutComponentBase

<TnTLayout>
    <Header>
        This is my header
        <TnTSideNavToggle Icon="menu"></TnTSideNavToggle>
    </Header>

    <SideNav>
        <TnTSideNavList>
            <TnTSideNavListItem Icon="home" Label="Home" Href="/" Match="NavLinkMatch.All" />
            <TnTSideNavListItem Icon="business" Label="Buttons" Href="Buttons" />
            <TnTSideNavListItem Icon="add_circle" Label="Segmented Buttons" Href="segmentedButton" />
            <TnTSideNavListItem Label="Weather" Href="weather" />
        </TnTSideNavList>
    </SideNav>

    <Body>
        @Body
    </Body>
</TnTLayout>