@inherits LayoutComponentBase

<TnTLayout>
    <Header>
        This is my header
        <TnTSideNavToggle Icon="menu"></TnTSideNavToggle>
    </Header>

    <SideNav>
        <TnTSideNavList>
            <TnTSideNavListItem Icon="home" Label="Home" Href="/" Match="NavLinkMatch.All" />
            <TnTSideNavListItem Icon="business" Label="Buttons" Href="Buttons" />
            <TnTSideNavListItem Icon="add_circle" Label="Segmented Buttons" Href="segmentedButton" />
            <TnTSideNavListItem Icon="search" Label="Cards" Href="card" />
            <TnTSideNavListItem Icon="settings" Label="Forms" Href="forms" />
            <TnTSideNavListItem Icon="warning" Label="Upload File" Href="upload" />
            <TnTSideNavListItem Icon="error" Label="Progress Indicators" Href="progress" />
            <TnTSideNavListItem Icon="phone" Label="Tab View" Href="tabview" />
            <TnTSideNavListItem Icon="app" Label="Accordion" Href="accordion" />
            <TnTSideNavListItem Icon="calendar" Label="DataGrid" Href="datagrid" />
        </TnTSideNavList>
    </SideNav>

    <Body>
        @Body
    </Body>
</TnTLayout>