@inherits TnTPageScriptComponent<TnTExternalClickHandler>

<div @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" @ref="Element">
    @ChildContent
</div>

@RenderPageScript()