@implements ITnTComponentBase
@implements IDisposable
@namespace TnTComponents
@using TnTComponents.Core

<a @attributes="AdditionalAttributes" href="@Href" class="@CssClass" style="@CssStyle" @ref="Element" >
    @StartIcon
    @ChildContent
    @EndIcon
</a>
