@implements ITnTComponentBase
@inherits NavLink
@namespace TnTComponents
@using TnTComponents.Core

<a @attributes="AdditionalAttributes" class="@Class" style="@Style" @ref="Element">
    @StartIcon?.Render()
    @ChildContent
    @EndIcon?.Render()
</a>
