@implements ITnTComponentBase
@inherits NavLink
@namespace TnTComponents
@using TnTComponents.Core

<a @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element" >
    @StartIcon?.Render()
    @ChildContent
    @EndIcon?.Render()
</a>
