@implements ITnTComponentBase
@implements IDisposable
@namespace TnTComponents
@using TnTComponents.Interfaces

<a @attributes="AdditionalAttributes" href="@Href" class="@ElementClass" style="@ElementStyle" @ref="Element" >
    @StartIcon?.Render()
    @ChildContent
    @EndIcon?.Render()
</a>
