@inherits TnTBaseComponent

<CascadingValue IsFixed=true Value="this">
    <form class="@GetClass()" theme="@Theme">
        @ChildContent
    </form>
</CascadingValue>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public FormType FormType { get; set; }

    [Parameter]
    public override string BaseCssClass { get; set; } = "tnt-form";
}