@typeparam TNumberType
@inherits TnTFormField<TNumberType>

@{
    base.BuildRenderTree(__builder);
}

@code {
    protected override RenderFragment GetAdditionalMarkup() {
        if (!AdjustmentAmountIsZero(AdjustmentAmount)) {
            return
    @<div class="tnt-numeric-input-buttons">
        @GetButtonIcon(true)
        @GetButtonIcon(false)
    </div>;
        }
        return default!;
    }


    private RenderFragment GetButtonIcon(bool increment) {
        switch (IconType) {
            case IconType.FontAwesome:
                if (increment) {
                    return@<i class="fa fa-caret-up" @onclick="Increment"></i>;
                }
                else {
                    return@<i class="fa fa-caret-down" @onclick="Decrement"></i>;
                }
            case IconType.MaterialIcons:
                if (increment) {
                    return@<i class="material-icons" @onclick="Increment">arrow_drop_up</i>;
                }
                else {
                    return@<i class="material-icons" @onclick="Decrement">arrow_drop_down</i>;
                }

            default:
                throw new NotImplementedException();
        }
    }
}
