@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;
$bg-color: var(--tnt-chip-background-color);
$txt-color: var(--tnt-chip-text-color);
$on-tint-color: var(--tnt-chip-on-tint-color);
$tint-color: var(--tnt-chip-tint-color);

.tnt-chip {
    background-color: $bg-color;
    color: $txt-color;
    border: 1px solid colors.$tnt-color-outline-variant;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-grid;
    grid-template-areas: "pad1 label pad2";
    grid-template-columns: 12px 1fr 12px;
    grid-template-rows: 30px;
    vertical-align: middle;
    transition: 250ms ease-in-out;
    margin: 2px;

    &.tnt-interactable:not(.tnt-disabled) {
        cursor: pointer;
        @include interactable.tnt-interactable($tint-color);

        &:has(input:checked) {
            background-color: $tint-color;
            color: $on-tint-color;
            border-color: $tint-color;
        }
    }

    &.tnt-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &:has(.tnt-image-button):not(:has(> .tnt-icon)) {
        grid-template-areas: "pad1 label pad2 close pad3";
        grid-template-columns: 12px 1fr 8px 18px 8px;
    }

    &:has(.tnt-image-button):has(> .tnt-icon) {
        grid-template-areas: "pad1 icon pad2 label pad3 close pad4";
        grid-template-columns: 4px 24px 8px 1fr 8px 18px 8px;
    }

    &:has(> .tnt-icon):not(:has(.tnt-image-button)) {
        grid-template-areas: "pad1 icon pad2 label pad3";
        grid-template-columns: 4px 24px 8px 1fr 12px;
    }

    .tnt-label {
        grid-area: label;
        align-self: center;
        justify-self: center;
        pointer-events: none;
        @include typescale.tnt-label-large;
    }

    input {
        appearance: none;
        position: absolute;
    }

    ::deep {
        > .tnt-icon {
            grid-area: icon;
            align-self: center;
            justify-self: center;
        }

        .tnt-image-button {
            grid-area: close;
            align-self: center;
            justify-self: center;
            padding: 0;
            margin: 0;

            .tnt-small-button-layer {
                height: fit-content !important;
                width: fit-content !important;
                border-radius: 50% !important;
            }
        }
    }

    &:focus-within {
        outline: 2px solid colors.$tnt-color-outline;
        outline-offset: 1px;
    }
}
