@namespace TnTComponents
@using TnTComponents.Core
@inherits TnTComponentBase

<label @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element">
    @StartIcon?.Render()
    <input type="checkbox" @onchange="@((args) => ValueChanged.InvokeAsync((bool)args.Value!))" />
    @ChildContent
</label>
