@namespace TnTComponents
@using TnTComponents.Core
@inherits TnTComponentBase

<span @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element">
    @StartIcon
    @ChildContent
    <TnTImageButton Icon="@CloseIcon" OnClick="CloseClicked"/>
</span>
