@use '_inputBase.scss' as base;
@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;

.tnt-input-container {
    display: grid;
    grid-template-areas: "container-input container-input tooltip-icon" "supporting-text input-length tooltip-icon";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr minmax(auto, 8ch) minmax(0, auto);
    margin-bottom: 4px;

    @include base.tnt-input-length;
    @include base.supporting-text;


    ::deep .tnt-tooltip-icon {
        grid-area: tooltip-icon;
        padding: 0 4px;
    }

    .tnt-input {
        grid-area: container-input;
        position: relative;
        display: inline-grid;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        grid-template-areas: "pad1 text pad2";
        grid-template-columns: 16px 1fr 16px;
        caret-color: base.$tint-color;
        cursor: text;
        color: base.$text-color;
        transition: 250ms ease-in-out;
        grid-template-rows: auto;

        @include base.tnt-label;


        &:has(.tnt-start-icon):has(.tnt-end-icon) {
            grid-template-areas: "pad1 start-icon pad2 text pad3 end-icon pad4";
            grid-template-columns: 12px 24px 16px 1fr 16px 24px 12px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)) {
            grid-template-areas: "pad1 start-icon pad2 text pad3";
            grid-template-columns: 12px 24px 16px 1fr 16px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)) {
            grid-template-areas: "pad1 text pad2 end-icon pad3";
            grid-template-columns: 16px 1fr 16px 24px 12px;
        }

        @include base.disabled-and-readonly;

        &:has(.tnt-tooltip-icon) {
            width: calc(100% - 50px);
        }

        ::deep {
            textarea {
                @include base.default-input;
                resize: vertical;
            }

            @include base.default-icon;
            @include base.supporting-text;

            .tnt-tooltip-icon {
                position: absolute;
                right: -28px;
                top: 0;
            }
        }

        @include base.tnt-input-length;
        @include base.invalid(textarea);

        &.tnt-form-filled {
            border-bottom: 1px solid colors.$tnt-color-outline-variant;
            border-radius: 4px 4px 0 0;
            background-color: base.$background-color;
            padding-top: 12px;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                height: 2px;
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: var(--tnt-input-tint-color);
                transform: rotateY(90deg);
                transition: 250ms ease-out;
            }

            &:hover {
                background-color: color-mix(in srgb, base.$tint-color 15%, base.$background-color);
            }

            &:has(textarea:focus), &:has(textarea:active) {
                &:after {
                    transform: rotateY(0deg);
                }
            }

            &:has(.tnt-label) {
                &:has(textarea:not(:placeholder-shown)), &:has(textarea:focus), &:has(textarea:active), &.tnt-placeholder {
                    .tnt-label {
                        align-self: start;
                        transform-origin: left;
                        transform: scale(0.75) translateY(-20px);
                    }
                }

                &:has(textarea:focus), &:has(textarea:active) {
                    .tnt-label {
                        color: base.$tint-color;
                    }
                }
            }
        }

        &.tnt-form-outlined {
            border-radius: 4px;
            background-color: transparent;
            outline: 1px solid colors.$tnt-color-outline;
            padding-top: 18px;

            &:before, &:after {
                content: '';
                position: absolute;
                width: calc(100% + 2px);
                background-color: transparent;
                border-radius: 4px;
                box-sizing: border-box;
                border-color: base.$tint-color;
                border-style: solid;
                border-radius: inherit;
                height: calc(100% + 2px);
                top: -1px;
                left: -1px;
                transition: 250ms ease-in-out;
                pointer-events: none;
            }

            &:before {
                border-left-width: 2px;
                border-right-width: 2px;
                border-top-width: 0;
                border-bottom-width: 0;
                transform: rotateX(90deg);
            }

            &:after {
                border-top-width: 2px;
                border-bottom-width: 2px;
                border-left-width: 0;
                border-right-width: 0;
                transform: rotateY(90deg);
            }

            &:hover {
                background-color: color-mix(in srgb, base.$tint-color 15%, transparent);
            }

            &:has(textarea:focus), &:has(textarea:active) {
                &:before {
                    transform: rotateX(0deg);
                }

                &:after {
                    transform: rotateY(0deg);
                }
            }

            &:has(.tnt-label) {
                &:has(textarea:not(:placeholder-shown)), &:has(textarea:focus), &:has(textarea:active), &.tnt-placeholder {
                    .tnt-label {
                        transform-origin: left;
                        align-self: start;
                        transform: scale(0.75) translateY(-38px);
                        background-color: base.$background-color;
                        padding: 0 4px;
                    }

                    &:has(.tnt-start-icon) {
                        .tnt-label {
                            transform: scale(0.75) translate(-50px,-38px)
                        }
                    }
                }

                &:has(textarea:focus), &:has(textarea:active) {
                    .tnt-label {
                        color: base.$tint-color;
                    }
                }
            }
        }

        &.tnt-form-compact {
            .tnt-label {
                @include typescale.tnt-body-medium;
            }

            ::deep input {
                @include typescale.tnt-body-medium;
            }
        }
    }
}
