@use '_inputBase.scss' as base;
@use '../Styles/_Variables/_colors.scss' as colors;

.tnt-input-container {
    display: grid;
    grid-template-areas: "container-input container-input tooltip-icon" "supporting-text input-length tooltip-icon";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr minmax(auto, 8ch) minmax(0, auto);
    margin-bottom: 4px;

    @include base.tnt-input-length;
    @include base.supporting-text;

    ::deep .tnt-tooltip-icon {
        grid-area: tooltip-icon;
        padding: 0 4px;
    }

    .tnt-input {
        grid-area: container-input;
        position: relative;
        display: inline-grid;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        grid-template-areas: "pad1 select pad2";
        grid-template-columns: 16px 1fr 16px;
        caret-color: base.$tint-color;
        cursor: pointer;
        color: base.$text-color;
        transition: 250ms ease-in-out;
        margin-top:6px;

        @include base.tnt-label(select);


        &:has(.tnt-start-icon):has(.tnt-end-icon) {
            grid-template-areas: "pad1 start-icon pad2 select pad3 end-icon pad4";
            grid-template-columns: 12px 24px 16px 1fr 16px 24px 12px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)) {
            grid-template-areas: "pad1 start-icon pad2 select pad3";
            grid-template-columns: 12px 24px 16px 1fr 16px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)) {
            grid-template-areas: "pad1 select pad2 end-icon pad3";
            grid-template-columns: 16px 1fr 16px 24px 12px;
        }

        @include base.disabled-and-readonly;

        ::deep {
            select {
                @include base.default-input(select);
                height: 100%;
                cursor: pointer;
                appearance: menulist;

                option, optgroup {
                    background-color: base.$background-color;
                    color: base.$text-color;
                }
            }

            @include base.default-icon;
        }

        @include base.tnt-input-length;

        &.modified.invalid {
            outline-color: base.$error-color;

            &:before, &:after {
                border-color: base.$error-color;
            }

            .tnt-label, .tnt-input-length {
                color: base.$error-color;
            }

            &:has(select:focus), &:has(select:active) {
                caret-color: base.$error-color;
            }

            ::deep {
                .tnt-end-icon {
                    color: base.$error-color;
                }
            }

            &.tnt-form-filled {
                &:after {
                    background-color: base.$error-color;
                }

                border-bottom: 1px solid base.$error-color;
            }
        }



        &.tnt-form-filled {
            border-bottom: 1px solid colors.$tnt-color-outline-variant;
            border-radius: 4px 4px 0 0;
            background-color: base.$background-color;
            grid-template-rows: 55px; // +1 from border-bottom

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                height: 2px;
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: var(--tnt-input-tint-color);
                transform: rotateY(90deg);
                transition: 250ms ease-out;
            }

            &:hover {
                background-color: color-mix(in srgb, base.$tint-color 15%, base.$background-color);
            }

            &:has(select:focus), &:has(select:active) {
                &:after {
                    transform: rotateY(0deg);
                }
            }

            &:has(.tnt-label) {
                &:has(option:checked), &:has(select:focus), &:has(select:active), &.tnt-placeholder {
                    .tnt-label {
                        transform-origin: left;
                        transform: scale(0.75) translateY(-20px);
                    }
                }

                &:has(select:focus), &:has(select:active) {
                    .tnt-label {
                        color: base.$tint-color;
                    }
                }

                ::deep {

                    select {
                        transform: translateY(8px)
                    }
                }
            }

            &.tnt-placeholder:has(.tnt-label) {
                ::deep {
                    select {
                        transform: translateY(8px);
                    }
                }
            }
        }

        &.tnt-form-outlined {
            border-radius: 4px;
            background-color: transparent;
            grid-template-rows: 56px;
            outline: 1px solid colors.$tnt-color-outline;

            &:before, &:after {
                content: '';
                position: absolute;
                width: calc(100% + 2px);
                background-color: transparent;
                border-radius: 4px;
                box-sizing: border-box;
                border-color: base.$tint-color;
                border-style: solid;
                border-radius: inherit;
                height: calc(100% + 2px);
                top: -1px;
                left: -1px;
                transition: 250ms ease-in-out;
                pointer-events: none;
            }

            &:before {
                border-left-width: 2px;
                border-right-width: 2px;
                border-top-width: 0;
                border-bottom-width: 0;
                transform: rotateX(90deg);
            }

            &:after {
                border-top-width: 2px;
                border-bottom-width: 2px;
                border-left-width: 0;
                border-right-width: 0;
                transform: rotateY(90deg);
            }

            &:hover {
                background-color: color-mix(in srgb, base.$tint-color 15%, transparent);
            }

            &:has(select:focus), &:has(select:active) {
                &:before {
                    transform: rotateX(0deg);
                }

                &:after {
                    transform: rotateY(0deg);
                }
            }

            &:has(.tnt-label) {
                &:has(option:checked), &:has(select:focus), &:has(select:active), &.tnt-placeholder {
                    margin-top: 10px;

                    .tnt-label {
                        transform-origin: left;
                        transform: scale(0.75) translateY(-38px);
                        background-color: base.$background-color;
                        padding: 0 4px;
                    }

                    &:has(.tnt-start-icon) {
                        .tnt-label {
                            transform: scale(0.75) translate(-50px,-38px)
                        }
                    }
                }

                &:has(select:focus), &:has(select:active) {
                    .tnt-label {
                        color: base.$tint-color;
                    }
                }
            }
        }

        &:has(select[multiple]) {
            grid-template-rows: auto;
            padding-top: 12px;

            .tnt-label {
                align-self: start;
            }

            &.tnt-form-outlined {

                .tnt-label {
                    transform: scale(0.75) translateY(-30px) !important;
                }
            }

            &.tnt-form-filled {

                .tnt-label {
                    transform: scale(0.75) translateY(-18px) !important;
                }

                ::deep {
                    select {
                        transform: translateY(0px) !important;
                    }
                }
            }
        }

        &.tnt-form-compact {
            @include base.tnt-form-compact(select);
        }
    }
}
