@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_measurements.scss' as measurements;

$wizard-title-height: 24px;
$wizard-subtitle-height: 20px;
$wizard-title-gap-size: 4px;
$wizard-medium-screen-up-plus: measurements.$medium-screen-up + 1px;


@mixin horizontal-layout {
    grid-template-areas: "steps" "content" "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    &:has(.tnt-wizard-title) {
        grid-template-areas: "title" "steps" "content" "buttons";
        grid-template-rows: auto auto 1fr auto;
    }

    .tnt-wizard-steps {
        flex-direction: row;
        grid-area: steps;
        justify-content: space-between;
        gap: 16px;
        position: sticky;
        top: 0;
        background-color: inherit;
        z-index: 10;

        .tnt-wizard-step-indicator {
            display: grid;
            gap: 8px;
            grid-template-areas: "step-title indicator";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            align-items: center;

            &:not(:last-child) {
                width: 100%;
            }

            &:has(.tnt-wizard-step-subtitle) {
                grid-template-areas: "step-title indicator" "step-subtitle indicator";
                grid-template-rows: auto auto;
            }

            .tnt-wizard-step-title {
                grid-area: step-title;
                white-space: nowrap;
            }

            .tnt-wizard-step-subtitle {
                grid-area: step-subtitle;
                grid-row: 2;
            }

            &:has(.tnt-icon) {
                .tnt-wizard-step-subtitle {
                    //margin-left: calc($wizard-title-height + $wizard-title-height + 12px);
                }
            }

            &:not(:last-child) {
                &:after {
                    top: unset;
                    bottom: unset;
                    right: unset;
                    left: unset;
                    width: 100%;
                    height: 4px;
                    grid-area: indicator;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}

.tnt-wizard {
    position: relative;
    display: grid;
    grid-template-areas: "steps content" "steps buttons";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: inherit;

    &:has(.tnt-wizard-title) {
        grid-template-areas: "title title" "steps content" "steps buttons";
        grid-template-rows: auto 1fr auto;
    }

    .tnt-wizard-title {
        grid-area: title;
        @include typescale.tnt-title-large;
        padding: 8px;
        border-bottom: 1px solid colors.$tnt-color-outline-variant;
        box-sizing: border-box;
    }

    .tnt-wizard-steps {
        display: flex;
        flex-direction: column;
        grid-area: steps;
        margin: 0;
        padding: 8px;

        .tnt-wizard-step-indicator {
            list-style-type: none;
            position: relative;
            gap: $wizard-title-gap-size;
            display: flex;
            flex-direction: column;
            height: 100%;
            color: colors.$tnt-color-outline;

            .tnt-wizard-step-title {
                @include typescale.tnt-title-medium;
                display: flex;
                align-items: center;
                height: $wizard-title-height;

                .tnt-wizard-step-index {
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: 2px solid colors.$tnt-color-outline;
                    color: inherit;
                    height: 100%;
                    aspect-ratio: 1/1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    padding: 0;
                }

                .tnt-icon {
                    padding: 0;
                    margin: 0 4px 0 0;
                }
            }

            .tnt-wizard-step-subtitle {
                @include typescale.tnt-title-small;
                margin-left: calc($wizard-title-height + 8px);
                height: $wizard-subtitle-height;
                color: inherit;
            }

            &:has(.tnt-icon) {
                .tnt-wizard-step-subtitle {
                    margin-left: calc($wizard-title-height + $wizard-title-height + 12px);
                }
            }

            &:not(:last-child) {
                &:after {
                    content: '';
                    position: absolute;
                    top: calc($wizard-title-height + 8px);
                    width: 4px;
                    background-color: colors.$tnt-color-outline-variant;
                    border-radius: 8px;
                    bottom: 8px;
                    left: calc($wizard-title-height / 2 - 2px);
                }

                &.current-step {
                    &:after {
                        background-color: colors.$tnt-color-primary;
                    }
                }
            }

            &.current-step {
                color: colors.$tnt-color-primary;

                .tnt-wizard-step-title {
                    .tnt-wizard-step-index {
                        border: none;
                        background-color: colors.$tnt-color-primary;
                        color: colors.$tnt-color-on-primary;
                    }
                }

                .tnt-wizard-step-subtitle {
                    color: colors.$tnt-color-secondary;
                }
            }

            &.completed-step {
                color: colors.$tnt-color-secondary;

                .tnt-wizard-step-title {
                    .tnt-wizard-step-index {
                        border: none;
                        background-color: colors.$tnt-color-secondary;
                        color: colors.$tnt-color-on-secondary;
                    }
                }

                .tnt-wizard-step-subtitle {
                    color: inherit;
                }

                &:not(:last-child) {
                    &:after {
                        background-color: colors.$tnt-color-secondary;
                    }
                }
            }
        }
    }

    .tnt-wizard-content {
        grid-area: content;
        padding: 8px;
        overflow-y: auto;
    }

    .tnt-wizard-buttons {
        grid-area: buttons;
        align-self: center;
        justify-self: end;
    }

    @media only screen and (max-width: measurements.$medium-screen-up) {
        &:not(.tnt-vertical-on-small-screens) {
            @include horizontal-layout;
        }
    }

    @media only screen and (min-width: $wizard-medium-screen-up-plus) {
        &.tnt-layout-horizontal {
            @include horizontal-layout;
        }
    }
}

