@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;

.tnt-markdown-editor {
    display: flex;
    flex-direction: column;
    gap: 4px;

    tnt-markdown-editor {
        ::deep {
            .initial-value {
                display: none;
            }

            .editor-toolbar {
                background-color: colors.$tnt-color-surface;

                i.fa {
                    color: colors.$tnt-color-on-surface;
                }
            }

            .CodeMirror{
                background-color: colors.$tnt-color-surface-variant;
                color: colors.$tnt-color-on-surface-variant;
                caret-color: colors.$tnt-color-on-surface-variant;
            }
        }
    }

    .tnt-supporting-text {
        width: 100%;
        text-wrap: wrap;
        color: colors.$tnt-color-on-surface-variant;
        padding-left: 16px;
        @include typescale.tnt-body-small;
    }

    ::deep {
        .tnt-validation-message {
            color: colors.$tnt-color-error;
        }
    }

    &.modified.invalid {
        tnt-markdown-editor {
            ::deep {
                .CodeMirror {
                    box-shadow: 0 0 0 1px colors.$tnt-color-error;
                    caret-color: colors.$tnt-color-error;
                }
            }
        }
    }
}
