.tnt-skeleton {
    margin: 8px;
    height: 80px;

    &.tnt-skeleton-round {
        border-radius: 64px;
    }

    &.tnt-animated {
        background: linear-gradient(to right, var(--tnt-skeleton-bg-color) 33%, color-mix(in srgb, var(--tnt-skeleton-shimmer-color) 50%, var(--tnt-skeleton-bg-color)) 50%, var(--tnt-skeleton-bg-color) 66%);
        background-size: 300%;
        animation: tnt-skeleton-animation 1.5s infinite ease-in-out;
    }

    &:not(.tnt-animated) {
        background-color: var(--tnt-skeleton-bg-color);
    }
}

@keyframes tnt-skeleton-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
