@namespace TnTComponents

<span class="@FormCssClass" style="@($"--button-background-color: var(--tnt-color-{ButtonBackgroundColor.ToCssClassName()}); --button-text-color: var(--tnt-color-{ButtonTextColor.ToCssClassName()})")">
    <InputFile OnChange="OnUploadFilesHandlerAsync"
               AdditionalAttributes="@AdditionalAttributes" />
</span>


