@namespace TnTComponents

<CascadingValue Value="this" IsFixed="true">
    <label @attributes="AdditionalAttributes"
           @ref="Element"
           class="@Class"
           style="@Style">
        @ChildContent
        @Label
    </label>
</CascadingValue>