@namespace TnTComponents
@using TnTComponents.Core

<CascadingValue Value="this" IsFixed="true">
    <label @attributes="AdditionalAttributes"
           @ref="Element"
           class="@FormCssClass"
           style="@FormCssStyle">
        @ChildContent
        <span class="@(CssClassBuilder.Create("tnt-label").AddBackgroundColor((ParentFormAppearance ?? Appearance) == FormAppearance.Outlined ? BackgroundColor : null).Build())">
            @Label
        </span>
    </label>
</CascadingValue>