@using TnTComponents
<TnTComponents.TnTCard Direction="LayoutDirection.Vertical">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>

<TnTDivider />

<TnTComponents.TnTCard Direction="LayoutDirection.Vertical" MakeOutlined="true" Elevation="0">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>
<TnTComponents.TnTCard Direction="LayoutDirection.Horizontal" Elevation="5">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>

<TnTComponents.TnTCard Direction="LayoutDirection.Vertical" AlignContent="AlignContent.Center">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>