@using NTComponents
<TnTRow>
    <TnTColumn L="3" M="6" S="12">
        <TnTContainer>
            <NTComponents.TnTCard>
                <div>
                    Some Content
                </div>
                <div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div>
            </NTComponents.TnTCard>
        </TnTContainer>
    </TnTColumn>

</TnTRow>
<TnTDivider />

<NTComponents.TnTCard Elevation="0">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</NTComponents.TnTCard>
<NTComponents.TnTCard Elevation="5" BackgroundColor="TnTColor.Tertiary" TextColor="TnTColor.OnTertiary">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</NTComponents.TnTCard>

<NTComponents.TnTCard Appearance="CardAppearance.Outlined" Elevation="0">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</NTComponents.TnTCard>