@using TnTComponents
<TnTRow>
    <TnTColumn L="3" M="6" S="12">
        <TnTContainer>
            <TnTComponents.TnTCard>
                <div>
                    Some Content
                </div>
                <div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div><div>
                    Some Content
                </div>
            </TnTComponents.TnTCard>
        </TnTContainer>
    </TnTColumn>

</TnTRow>
<TnTDivider />

<TnTComponents.TnTCard Elevation="0">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>
<TnTComponents.TnTCard Elevation="5" BackgroundColor="TnTColor.Tertiary" TextColor="TnTColor.OnTertiary">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>

<TnTComponents.TnTCard Appearance="CardAppearance.Outlined" Elevation="0">
    <div>
        Some Content
    </div>
    <div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div><div>
        Some Content
    </div>
</TnTComponents.TnTCard>