@using LiveTest.Client.Pages
@using NTComponents
@using NTComponents.Dialog
@rendermode InteractiveAuto
<h3>DialogComponent</h3>

<NTComponents.TnTButton OnClickCallback="OpenDialog">
    Open
</NTComponents.TnTButton>

<NTComponents.TnTButton OnClickCallback="OpenCloseDialog">
    Open Close Dialog @index
</NTComponents.TnTButton>

<NTComponents.TnTButton OnClickCallback="OpenOtherDialog">
    Open Other Dialog
</NTComponents.TnTButton>

@if (_dialog is not null) {
    <NTComponents.TnTButton OnClickCallback="Close">
        Close
    </NTComponents.TnTButton>
}

@code {
    [Inject]
    private ITnTDialogService _service { get; set; } = default!;

    [CascadingParameter]
    private ITnTDialog? _dialog { get; set; }

    private static int index;

    private async Task OpenDialog() {
        await _service.OpenAsync<Accordion>(options: new() {
                Title = "My Title"
            });
    }

    private async Task OpenCloseDialog() {
        await _service.OpenAsync<DialogComponent>(options: new() {
                Title = $"My Title {++index}",
                ShowCloseButton = true
            });
    }

    private async Task OpenOtherDialog() {
        await _service.OpenAsync<DialogComponent>(options: new() {
                CloseOnExternalClick = false,
                Title = null,
                ShowCloseButton = false
            });
    }

    private async Task Close() {
        await _dialog!.CloseAsync();
    }
}

