@using System.ComponentModel.DataAnnotations
@using TnTComponents
<h3>FormTesting</h3>


<TnTForm Model="@_model" FormName="Input Form" OnInvalidSubmit="InvalidSubmit" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator />
    <InputText @bind-Value="_model.Name"/>

    <TnTLabel Label="Name">
        <TnTInputText StartIcon="MaterialIcon.Person" @bind-Value="_model.Name" />
    </TnTLabel>
    @* <TnTLabel Label="Age">
        <TnTInputNumeric @bind-Value="_model.Age" StartIcon="MaterialIcon.ConfirmationNumber" />
    </TnTLabel>
    <TnTLabel Label="Agree">
        <TnTInputCheckbox StartIcon="MaterialIcon.Check" @bind-Value="_model.Agree" />
    </TnTLabel>
    *@<TnTButton Type="ButtonType.Submit">
        Submit
    </TnTButton>
</TnTForm>


@code {
    public class Model {
        public string Name { get; set; }
        [Range(1, 100)]
        public int Age { get; set; }
        [Range(typeof(bool), minimum: "true", maximum: "true")]
        public bool Agree { get; set; }
    }
    [SupplyParameterFromForm]
    private Model _model { get; set; } = new();

    private async Task ValidSubmit() {
        Console.WriteLine("Valid Submit");
    }

    private async Task InvalidSubmit() {
        Console.WriteLine("Invalid Submit");
    }
}
