@using System.ComponentModel.DataAnnotations
@using TnTComponents

@rendermode InteractiveAuto
<h3>FormTesting</h3>


<TnTForm Model="@Input" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit" FormName="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <TnTLabel Label="Checkbox">
        <TnTInputCheckbox @bind-Value="@Input.Checkbox" />
    </TnTLabel>
</TnTForm>


@code {
    private sealed class InputModel {
        [Range(typeof(bool), minimum: "true", maximum: "true")]
        public bool Checkbox { get; set; }
    }
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task ValidSubmit() {
        Console.WriteLine("Valid Submit");
    }

    private async Task InvalidSubmit() {
        Console.WriteLine("Invalid Submit");
    }
}
