@using NTComponents

<TnTForm Model="Model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <TnTCard Appearance="CardAppearance.Outlined">
        <TnTRow>
            <TnTColumn S="12">
                <TnTMarkdownEditor @bind-Value="Model.Value"
                                  @bind-RenderedHtml="Model.RenderedHtml"
                                  OnBlurCallback="HandleBlurAsync" />
            </TnTColumn>
        </TnTRow>
        <TnTRow>
            <TnTColumn S="12">
                <TnTButton Type="ButtonType.Submit">Submit</TnTButton>
            </TnTColumn>
        </TnTRow>
        <TnTRow>
            <TnTColumn S="12">
                <div>@SubmitMessage</div>
                <div>@BlurMessage</div>
                <div>Markdown: @Model.Value</div>
                <div>Rendered HTML: @RenderedHtmlValue</div>
            </TnTColumn>
        </TnTRow>
    </TnTCard>
</TnTForm>
