@*
@using System.ComponentModel.DataAnnotations
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<TnTComponents.Forms.TnTForm Model="@_model" FormName="Form">
    <TnTComponents.Forms.TnTInputFile Title="InputFile" Multiple="true" Required="true" Name="File" OnProgressChange="@((args) => _progress = args.ProgressPercent)" />

    <TnTComponents.TnTButton Title="Submit" Type="TnTComponents.Enum.ButtonType.Submit">
        Submit
    </TnTComponents.TnTButton>
</TnTComponents.Forms.TnTForm>
<h3>
    @_progress
</h3>


<TnTComponents.TnTButton OnClick="@(() => _count++)" Title="Click me">
    @_count;
</TnTComponents.TnTButton>



@code {
    private class Model {
        [Required]
        public string? Files { get; set; }
    }
    private int _count = 0;
    private Model _model = new();

    private int _progress = 0;
}
*@