@*
@using System.ComponentModel.DataAnnotations
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<NTComponents.Forms.TnTForm Model="@_model" FormName="Form">
    <NTComponents.Forms.TnTInputFile Title="InputFile" Multiple="true" Required="true" Name="File" OnProgressChange="@((args) => _progress = args.ProgressPercent)" />

    <NTComponents.TnTButton Title="Submit" Type="NTComponents.Enum.ButtonType.Submit">
        Submit
    </NTComponents.TnTButton>
</NTComponents.Forms.TnTForm>
<h3>
    @_progress
</h3>


<NTComponents.TnTButton OnClick="@(() => _count++)" Title="Click me">
    @_count;
</NTComponents.TnTButton>



@code {
    private class Model {
        [Required]
        public string? Files { get; set; }
    }
    private int _count = 0;
    private Model _model = new();

    private int _progress = 0;
}
*@