@use '../Styles/_Variables/_typescale.scss' as typescale;

.tnt-pagination-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 8px;

    ::deep {
        .pagination-btn {
            margin: 0;
            padding: 0;

            .tnt-small-button-layer {
                height: 24px;
                width: 24px;
                min-height: 24px;
                min-width: 24px;
                font-size: 12px;
                padding: 0;
                margin: 0;
                border-radius: 0;
                display: block;
                vertical-align: middle;
                text-align: center;
                @include typescale.tnt-label-large;
            }

            &.current-page {
                opacity: 1;
            }

            .tnt-icon {
                font-size: 18px;
            }

            &:active, &:focus {
                .tnt-small-button-layer {
                    border-radius: 0;
                }
            }
        }
    }
}
