@inherits TnTPageScriptComponent<TnTThemeToggle>
@namespace TnTComponents
@using TnTComponents.Core
<tnt-theme-toggle @attributes="AdditionalAttributes">
    <span class="tnt-icon material-symbols-outlined tnt-theme-toggle-icon">
    </span>
    <select title="Select Theme" class="tnt-theme-select">
        <option value="LIGHT">Light</option>
        <option value="DARK">Dark</option>
        <option value="SYSTEM">System</option>
    </select>
</tnt-theme-toggle>

@PageScript
