@use '../Styles/_Variables/_typescale.scss' as typescale;
$bg-color: var(--tnt-badge-background-color);
$text-color: var(--tnt-badge-text-color);

.tnt-badge {
    pointer-events: none;
    padding: 4px;
    min-width: 24px;
    height: 24px;
    box-sizing: border-box;
    padding: 0 4px;
    position: absolute;
    max-width: 128px;
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 24px / 100%;
    @include typescale.tnt-label-medium;

    .tnt-badge-content {
        vertical-align: sub;
    }
}
