/* primary */
/* secondary */
/* tertiary */
/* error */
/* neutral */
/* neutral-variant */
/* light */
/* dark */
/* display - large */
/* display - medium */
/* display - small */
/* headline - large */
/* headline - medium */
/* headline - small */
/* body - large */
/* body - medium */
/* body - small */
/* label - large */
/* label - medium */
/* label - small */
/* title - large */
/* title - medium */
/* title - small */
.display-large {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 57px;
}

.display-medium {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 45px;
}

.display-small {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 36px;
}

.headline-large {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 32px;
}

.headline-medium {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 28px;
}

.headline-small {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 24px;
}

.body-large {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 16px;
}

.body-medium {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 14px;
}

.body-small {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 12px;
}

.label-large {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500px;
  font-size: 14px;
}

.label-medium {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500px;
  font-size: 12px;
}

.label-small {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500px;
  font-size: 11px;
}

.title-large {
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400px;
  font-size: 22px;
}

.title-medium {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500px;
  font-size: 16px;
}

.title-small {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500px;
  font-size: 14px;
}

.primary {
  background-color: #D0BCFF;
}

.primary-text {
  color: #D0BCFF;
}

.on-primary {
  background-color: #381E72;
}

.on-primary-text {
  color: #381E72;
}

.primary-container {
  background-color: #4F378B;
}

.primary-container-text {
  color: #4F378B;
}

.on-primary-container {
  background-color: #EADDFF;
}

.on-primary-container-text {
  color: #EADDFF;
}

.secondary {
  background-color: #CCC2DC;
}

.secondary-text {
  color: #CCC2DC;
}

.on-secondary {
  background-color: #332D41;
}

.on-secondary-text {
  color: #332D41;
}

.secondary-container {
  background-color: #4A4458;
}

.secondary-container-text {
  color: #4A4458;
}

.on-secondary-container {
  background-color: #E8DEF8;
}

.on-secondary-container-text {
  color: #E8DEF8;
}

.tertiary {
  background-color: #EFB8C8;
}

.tertiary-text {
  color: #EFB8C8;
}

.on-tertiary {
  background-color: #492532;
}

.on-tertiary-text {
  color: #492532;
}

.tertiary-container {
  background-color: #633B48;
}

.tertiary-container-text {
  color: #633B48;
}

.on-tertiary-container {
  background-color: #FFD8E4;
}

.on-tertiary-container-text {
  color: #FFD8E4;
}

.error {
  background-color: #F2B8B5;
}

.error-text {
  color: #F2B8B5;
}

.on-error {
  background-color: #601410;
}

.on-error-text {
  color: #601410;
}

.error-container {
  background-color: #8C1D18;
}

.error-container-text {
  color: #8C1D18;
}

.on-error-container {
  background-color: #F9DEDC;
}

.on-error-container-text {
  color: #F9DEDC;
}

.outline {
  background-color: #938F99;
}

.outline-text {
  color: #938F99;
}

.background {
  background-color: #1C1B1F;
}

.background-text {
  color: #1C1B1F;
}

.on-background {
  background-color: #E6E1E5;
}

.on-background-text {
  color: #E6E1E5;
}

.surface {
  background-color: #1C1B1F;
}

.surface-text {
  color: #1C1B1F;
}

.on-surface {
  background-color: #E6E1E5;
}

.on-surface-text {
  color: #E6E1E5;
}

.surface-variant {
  background-color: #49454F;
}

.surface-variant-text {
  color: #49454F;
}

.on-surface-variant {
  background-color: #CAC4D0;
}

.on-surface-variant-text {
  color: #CAC4D0;
}

.inverse-surface {
  background-color: #E6E1E5;
}

.inverse-surface-text {
  color: #E6E1E5;
}

.inverse-on-surface {
  background-color: #313033;
}

.inverse-on-surface-text {
  color: #313033;
}

.inverse-primary {
  background-color: #6750A4;
}

.inverse-primary-text {
  color: #6750A4;
}

.shadow {
  background-color: #dedede;
}

.shadow-text {
  color: #dedede;
}

.surface-tint {
  background-color: #D0BCFF;
}

.surface-tint-text {
  color: #D0BCFF;
}

.outline-variant {
  background-color: #49454F;
}

.outline-variant-text {
  color: #49454F;
}

.scrim {
  background-color: #000000;
}

.scrim-text {
  color: #000000;
}

.tnt-z-depth-0, .tnt-btn.outlined, .tnt-btn.filled, .tnt-btn.flat, .tnt-card.flat, .tnt-card.plain, .tnt-card.outlined {
  box-shadow: none;
}

.tnt-z-depth-1, .tnt-btn.outlined:hover, .tnt-btn.filled:hover, .tnt-btn.flat:hover, .tnt-btn, .tnt-header[theme=default] {
  box-shadow: 0px 1px 2px rgba(69, 73, 79, 0.3), 0px 1px 3px 1px #dedede;
}

.tnt-z-depth-2, .tnt-btn:hover, .tnt-sidebar {
  box-shadow: 0px 1px 2px rgba(69, 73, 79, 0.3), 0px 2px 6px 2px #dedede;
}

.tnt-z-depth-3, .tnt-card {
  box-shadow: 0px 4px 8px 3px rgba(69, 73, 79, 0.15), 0px 1px 3px #dedede;
}

.tnt-z-depth-4 {
  box-shadow: 0px 6px 10px 4px rgba(69, 73, 79, 0.15), 0px 2px 3px #dedede;
}

.tnt-z-depth-5 {
  box-shadow: 0px 8px 12px 6px rgba(69, 73, 79, 0.15), 0px 4px 4px #dedede;
}

.tnt-z-depth-6 {
  box-shadow: 0px 12px 16px 6px rgba(69, 73, 79, 0.15), 0px 4px 6px #dedede;
}

.tnt-z-depth-7 {
  box-shadow: 0px 16px 20px 6px rgba(69, 73, 79, 0.15), 0px 6px 6px #dedede;
}

.tnt-z-depth-8 {
  box-shadow: 0px 20px 24px 6px rgba(69, 73, 79, 0.15), 0px 6px 8px #dedede;
}

.tnt-z-depth-9 {
  box-shadow: 0px 24px 28px 6px rgba(69, 73, 79, 0.15), 0px 8px 8px #dedede;
}

.tnt-z-depth-10 {
  box-shadow: 0px 28px 32px 6px rgba(69, 73, 79, 0.15), 0px 8px 10px #dedede;
}

.tnt-border-radius-0, .tnt-form input {
  border-radius: 0rem;
}

.tnt-border-radius-1, .tnt-form > .tnt-input-field.filled, .tnt-form > .tnt-input-field.outlined {
  border-radius: 0.25rem;
}

.tnt-border-radius-2 {
  border-radius: 0.5rem;
}

.tnt-border-radius-3, .tnt-card {
  border-radius: 0.75rem;
}

.tnt-border-radius-4 {
  border-radius: 1rem;
}

.tnt-border-radius-5 {
  border-radius: 1.25rem;
}

.tnt-border-radius-6 {
  border-radius: 1.5rem;
}

.tnt-border-radius-7 {
  border-radius: 1.75rem;
}

.tnt-border-radius-8 {
  border-radius: 2rem;
}

.tnt-border-radius-9 {
  border-radius: 2.25rem;
}

.tnt-border-radius-10 {
  border-radius: 2.5rem;
}

.tnt-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width : 601px) {
  .tnt-container {
    width: 85%;
  }
}
@media only screen and (min-width : 993px) {
  .tnt-container {
    width: 70%;
  }
}
.tnt-col .tnt-row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section.no-pad {
  padding: 0;
}
.section.no-pad-bot {
  padding-bottom: 0;
}
.section.no-pad-top {
  padding-top: 0;
}

.tnt-row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.tnt-row:after {
  content: "";
  display: table;
  clear: both;
}
.tnt-row .tnt-col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}
.tnt-row .tnt-col[class*=push-], .tnt-row .tnt-col[class*=pull-] {
  position: relative;
}
.tnt-row .tnt-col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.tnt-row .tnt-col.offset-s1 {
  margin-left: 8.3333333333%;
}
.tnt-row .tnt-col.pull-s1 {
  right: 8.3333333333%;
}
.tnt-row .tnt-col.push-s1 {
  left: 8.3333333333%;
}
.tnt-row .tnt-col.offset-s2 {
  margin-left: 16.6666666667%;
}
.tnt-row .tnt-col.pull-s2 {
  right: 16.6666666667%;
}
.tnt-row .tnt-col.push-s2 {
  left: 16.6666666667%;
}
.tnt-row .tnt-col.offset-s3 {
  margin-left: 25%;
}
.tnt-row .tnt-col.pull-s3 {
  right: 25%;
}
.tnt-row .tnt-col.push-s3 {
  left: 25%;
}
.tnt-row .tnt-col.offset-s4 {
  margin-left: 33.3333333333%;
}
.tnt-row .tnt-col.pull-s4 {
  right: 33.3333333333%;
}
.tnt-row .tnt-col.push-s4 {
  left: 33.3333333333%;
}
.tnt-row .tnt-col.offset-s5 {
  margin-left: 41.6666666667%;
}
.tnt-row .tnt-col.pull-s5 {
  right: 41.6666666667%;
}
.tnt-row .tnt-col.push-s5 {
  left: 41.6666666667%;
}
.tnt-row .tnt-col.offset-s6 {
  margin-left: 50%;
}
.tnt-row .tnt-col.pull-s6 {
  right: 50%;
}
.tnt-row .tnt-col.push-s6 {
  left: 50%;
}
.tnt-row .tnt-col.offset-s7 {
  margin-left: 58.3333333333%;
}
.tnt-row .tnt-col.pull-s7 {
  right: 58.3333333333%;
}
.tnt-row .tnt-col.push-s7 {
  left: 58.3333333333%;
}
.tnt-row .tnt-col.offset-s8 {
  margin-left: 66.6666666667%;
}
.tnt-row .tnt-col.pull-s8 {
  right: 66.6666666667%;
}
.tnt-row .tnt-col.push-s8 {
  left: 66.6666666667%;
}
.tnt-row .tnt-col.offset-s9 {
  margin-left: 75%;
}
.tnt-row .tnt-col.pull-s9 {
  right: 75%;
}
.tnt-row .tnt-col.push-s9 {
  left: 75%;
}
.tnt-row .tnt-col.offset-s10 {
  margin-left: 83.3333333333%;
}
.tnt-row .tnt-col.pull-s10 {
  right: 83.3333333333%;
}
.tnt-row .tnt-col.push-s10 {
  left: 83.3333333333%;
}
.tnt-row .tnt-col.offset-s11 {
  margin-left: 91.6666666667%;
}
.tnt-row .tnt-col.pull-s11 {
  right: 91.6666666667%;
}
.tnt-row .tnt-col.push-s11 {
  left: 91.6666666667%;
}
.tnt-row .tnt-col.offset-s12 {
  margin-left: 100%;
}
.tnt-row .tnt-col.pull-s12 {
  right: 100%;
}
.tnt-row .tnt-col.push-s12 {
  left: 100%;
}
@media only screen and (min-width : 601px) {
  .tnt-row .tnt-col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .tnt-row .tnt-col.pull-m1 {
    right: 8.3333333333%;
  }
  .tnt-row .tnt-col.push-m1 {
    left: 8.3333333333%;
  }
  .tnt-row .tnt-col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .tnt-row .tnt-col.pull-m2 {
    right: 16.6666666667%;
  }
  .tnt-row .tnt-col.push-m2 {
    left: 16.6666666667%;
  }
  .tnt-row .tnt-col.offset-m3 {
    margin-left: 25%;
  }
  .tnt-row .tnt-col.pull-m3 {
    right: 25%;
  }
  .tnt-row .tnt-col.push-m3 {
    left: 25%;
  }
  .tnt-row .tnt-col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .tnt-row .tnt-col.pull-m4 {
    right: 33.3333333333%;
  }
  .tnt-row .tnt-col.push-m4 {
    left: 33.3333333333%;
  }
  .tnt-row .tnt-col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .tnt-row .tnt-col.pull-m5 {
    right: 41.6666666667%;
  }
  .tnt-row .tnt-col.push-m5 {
    left: 41.6666666667%;
  }
  .tnt-row .tnt-col.offset-m6 {
    margin-left: 50%;
  }
  .tnt-row .tnt-col.pull-m6 {
    right: 50%;
  }
  .tnt-row .tnt-col.push-m6 {
    left: 50%;
  }
  .tnt-row .tnt-col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .tnt-row .tnt-col.pull-m7 {
    right: 58.3333333333%;
  }
  .tnt-row .tnt-col.push-m7 {
    left: 58.3333333333%;
  }
  .tnt-row .tnt-col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .tnt-row .tnt-col.pull-m8 {
    right: 66.6666666667%;
  }
  .tnt-row .tnt-col.push-m8 {
    left: 66.6666666667%;
  }
  .tnt-row .tnt-col.offset-m9 {
    margin-left: 75%;
  }
  .tnt-row .tnt-col.pull-m9 {
    right: 75%;
  }
  .tnt-row .tnt-col.push-m9 {
    left: 75%;
  }
  .tnt-row .tnt-col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .tnt-row .tnt-col.pull-m10 {
    right: 83.3333333333%;
  }
  .tnt-row .tnt-col.push-m10 {
    left: 83.3333333333%;
  }
  .tnt-row .tnt-col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .tnt-row .tnt-col.pull-m11 {
    right: 91.6666666667%;
  }
  .tnt-row .tnt-col.push-m11 {
    left: 91.6666666667%;
  }
  .tnt-row .tnt-col.offset-m12 {
    margin-left: 100%;
  }
  .tnt-row .tnt-col.pull-m12 {
    right: 100%;
  }
  .tnt-row .tnt-col.push-m12 {
    left: 100%;
  }
}
@media only screen and (min-width : 993px) {
  .tnt-row .tnt-col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .tnt-row .tnt-col.pull-l1 {
    right: 8.3333333333%;
  }
  .tnt-row .tnt-col.push-l1 {
    left: 8.3333333333%;
  }
  .tnt-row .tnt-col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .tnt-row .tnt-col.pull-l2 {
    right: 16.6666666667%;
  }
  .tnt-row .tnt-col.push-l2 {
    left: 16.6666666667%;
  }
  .tnt-row .tnt-col.offset-l3 {
    margin-left: 25%;
  }
  .tnt-row .tnt-col.pull-l3 {
    right: 25%;
  }
  .tnt-row .tnt-col.push-l3 {
    left: 25%;
  }
  .tnt-row .tnt-col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .tnt-row .tnt-col.pull-l4 {
    right: 33.3333333333%;
  }
  .tnt-row .tnt-col.push-l4 {
    left: 33.3333333333%;
  }
  .tnt-row .tnt-col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .tnt-row .tnt-col.pull-l5 {
    right: 41.6666666667%;
  }
  .tnt-row .tnt-col.push-l5 {
    left: 41.6666666667%;
  }
  .tnt-row .tnt-col.offset-l6 {
    margin-left: 50%;
  }
  .tnt-row .tnt-col.pull-l6 {
    right: 50%;
  }
  .tnt-row .tnt-col.push-l6 {
    left: 50%;
  }
  .tnt-row .tnt-col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .tnt-row .tnt-col.pull-l7 {
    right: 58.3333333333%;
  }
  .tnt-row .tnt-col.push-l7 {
    left: 58.3333333333%;
  }
  .tnt-row .tnt-col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .tnt-row .tnt-col.pull-l8 {
    right: 66.6666666667%;
  }
  .tnt-row .tnt-col.push-l8 {
    left: 66.6666666667%;
  }
  .tnt-row .tnt-col.offset-l9 {
    margin-left: 75%;
  }
  .tnt-row .tnt-col.pull-l9 {
    right: 75%;
  }
  .tnt-row .tnt-col.push-l9 {
    left: 75%;
  }
  .tnt-row .tnt-col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .tnt-row .tnt-col.pull-l10 {
    right: 83.3333333333%;
  }
  .tnt-row .tnt-col.push-l10 {
    left: 83.3333333333%;
  }
  .tnt-row .tnt-col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .tnt-row .tnt-col.pull-l11 {
    right: 91.6666666667%;
  }
  .tnt-row .tnt-col.push-l11 {
    left: 91.6666666667%;
  }
  .tnt-row .tnt-col.offset-l12 {
    margin-left: 100%;
  }
  .tnt-row .tnt-col.pull-l12 {
    right: 100%;
  }
  .tnt-row .tnt-col.push-l12 {
    left: 100%;
  }
}
@media only screen and (min-width : 1201px) {
  .tnt-row .tnt-col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .tnt-row .tnt-col.offset-xl1 {
    margin-left: 8.3333333333%;
  }
  .tnt-row .tnt-col.pull-xl1 {
    right: 8.3333333333%;
  }
  .tnt-row .tnt-col.push-xl1 {
    left: 8.3333333333%;
  }
  .tnt-row .tnt-col.offset-xl2 {
    margin-left: 16.6666666667%;
  }
  .tnt-row .tnt-col.pull-xl2 {
    right: 16.6666666667%;
  }
  .tnt-row .tnt-col.push-xl2 {
    left: 16.6666666667%;
  }
  .tnt-row .tnt-col.offset-xl3 {
    margin-left: 25%;
  }
  .tnt-row .tnt-col.pull-xl3 {
    right: 25%;
  }
  .tnt-row .tnt-col.push-xl3 {
    left: 25%;
  }
  .tnt-row .tnt-col.offset-xl4 {
    margin-left: 33.3333333333%;
  }
  .tnt-row .tnt-col.pull-xl4 {
    right: 33.3333333333%;
  }
  .tnt-row .tnt-col.push-xl4 {
    left: 33.3333333333%;
  }
  .tnt-row .tnt-col.offset-xl5 {
    margin-left: 41.6666666667%;
  }
  .tnt-row .tnt-col.pull-xl5 {
    right: 41.6666666667%;
  }
  .tnt-row .tnt-col.push-xl5 {
    left: 41.6666666667%;
  }
  .tnt-row .tnt-col.offset-xl6 {
    margin-left: 50%;
  }
  .tnt-row .tnt-col.pull-xl6 {
    right: 50%;
  }
  .tnt-row .tnt-col.push-xl6 {
    left: 50%;
  }
  .tnt-row .tnt-col.offset-xl7 {
    margin-left: 58.3333333333%;
  }
  .tnt-row .tnt-col.pull-xl7 {
    right: 58.3333333333%;
  }
  .tnt-row .tnt-col.push-xl7 {
    left: 58.3333333333%;
  }
  .tnt-row .tnt-col.offset-xl8 {
    margin-left: 66.6666666667%;
  }
  .tnt-row .tnt-col.pull-xl8 {
    right: 66.6666666667%;
  }
  .tnt-row .tnt-col.push-xl8 {
    left: 66.6666666667%;
  }
  .tnt-row .tnt-col.offset-xl9 {
    margin-left: 75%;
  }
  .tnt-row .tnt-col.pull-xl9 {
    right: 75%;
  }
  .tnt-row .tnt-col.push-xl9 {
    left: 75%;
  }
  .tnt-row .tnt-col.offset-xl10 {
    margin-left: 83.3333333333%;
  }
  .tnt-row .tnt-col.pull-xl10 {
    right: 83.3333333333%;
  }
  .tnt-row .tnt-col.push-xl10 {
    left: 83.3333333333%;
  }
  .tnt-row .tnt-col.offset-xl11 {
    margin-left: 91.6666666667%;
  }
  .tnt-row .tnt-col.pull-xl11 {
    right: 91.6666666667%;
  }
  .tnt-row .tnt-col.push-xl11 {
    left: 91.6666666667%;
  }
  .tnt-row .tnt-col.offset-xl12 {
    margin-left: 100%;
  }
  .tnt-row .tnt-col.pull-xl12 {
    right: 100%;
  }
  .tnt-row .tnt-col.push-xl12 {
    left: 100%;
  }
}

.tnt-body {
  width: 100%;
  margin-left: 0;
  transition: width ease-in-out 150ms;
  transition: margin-left ease-in-out 150ms;
}

.tnt-body[theme=default].expanded {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.tnt-header {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transition: padding-left ease-in-out 150ms;
}
.tnt-header h1 {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.tnt-header[theme=default] {
  background-color: #D0BCFF;
  color: #381E72;
}
.tnt-header[theme=default].expanded {
  padding-left: 250px;
}
.tnt-header[theme=default] a {
  cursor: pointer;
}
.tnt-header[theme=default] a i.material-icons {
  color: #381E72;
}

.tnt-card {
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem;
}
.tnt-card[theme=default].flat {
  background-color: #49454F;
}

.tnt-card[theme=default].outlined {
  outline-color: #938F99;
  outline-style: solid;
  outline-width: 1px;
  background-color: transparent;
}

.tnt-sidebar-transition, .tnt-sidebar-button[theme=default], .tnt-sidebar {
  transition: transform ease-in-out 150ms;
}

.tnt-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);
  border-radius: 1rem;
}
.tnt-sidebar ul {
  padding: 0;
}
.tnt-sidebar li {
  float: none;
  list-style-type: none;
  line-height: 3rem;
  vertical-align: middle;
}
.tnt-sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.tnt-sidebar li:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.tnt-sidebar li > a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
}
.tnt-sidebar li > a > i,
.tnt-sidebar li > a > i.material-icons {
  float: left;
  padding-right: 1rem;
  line-height: 3rem;
}
.tnt-sidebar li > a > i.material-icons {
  vertical-align: middle;
}

.tnt-sidebar-expanded {
  transform: translateX(-5%);
}

.tnt-sidebar-button {
  cursor: pointer;
}

.tnt-sidebar[theme=default] {
  width: 250px;
  background-color: #49454F;
}
.tnt-sidebar[theme=default] li > a {
  color: #CAC4D0;
  font-size: 1.1rem;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 2.4rem;
}
.tnt-sidebar[theme=default] li > a > i, .tnt-sidebar[theme=default] li > a > i.material-icons {
  line-height: 3.25rem;
  margin: 0 2.4rem 0 0;
}

.tnt-sidebar-button[theme=default] {
  position: fixed;
  transform: translateX(0px);
  color: #381E72;
}

.tnt-sidebar-button[theme=default].tnt-sidebar-expanded {
  position: fixed;
  transform: translateX(255px);
}

.tnt-btn[theme=default] {
  background-color: #4F378B;
  color: #EADDFF;
}
.tnt-btn[theme=default]:hover {
  background-color: #3a2966;
}
.tnt-btn[theme=default]:active {
  background-color: #251a42;
}

.tnt-btn[theme=default].filled {
  background-color: #D0BCFF;
  color: #381E72;
}
.tnt-btn[theme=default].filled:hover {
  background-color: #ac89ff;
}
.tnt-btn[theme=default].filled:active {
  background-color: #8856ff;
}

.tnt-btn[theme=default].outlined {
  outline-color: #938F99;
  color: #D0BCFF;
}
.tnt-btn[theme=default].outlined:hover {
  color: #ac89ff;
}
.tnt-btn[theme=default].outlined:active {
  color: #8856ff;
}

.tnt-btn {
  border: none;
  min-width: 2.5rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  line-height: 1.25rem;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 100ms ease-out;
  margin: 0.25rem;
}
.tnt-btn span {
  vertical-align: middle;
}
.tnt-btn i {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
  vertical-align: bottom;
  margin-right: 0.3rem;
}
.tnt-btn.outlined {
  background-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  padding: 0.45rem 1.45rem;
}
.tnt-btn.outlined:hover {
  background-color: rgba(0, 0, 0, 0.1333333333);
}
.tnt-btn.outlined:active {
  background-color: rgba(0, 0, 0, 0.2666666667);
}

.tnt-stack-vertical, .tnt-stack-vertical-reverse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tnt-stack-vertical-reverse {
  flex-direction: column-reverse;
}

.tnt-stack-horizontal, .tnt-stack-horizontal-reverse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tnt-stack-horizontal-reverse {
  flex-direction: row-reverse;
}

.tnt-form[theme=default] ::placeholder {
  color: rgba(230, 225, 229, 0.4);
}
.tnt-form[theme=default] input {
  color: #E6E1E5;
}
.tnt-form[theme=default] > .helper-text {
  color: #E6E1E5;
}
.tnt-form[theme=default] i {
  color: #E6E1E5;
}
.tnt-form[theme=default] > .tnt-input-field {
  border-bottom-color: #938F99;
}
.tnt-form[theme=default] > .tnt-input-field > .tnt-input-field-label {
  color: #E6E1E5;
}
.tnt-form[theme=default] > .tnt-input-field.active {
  border-bottom-color: #D0BCFF;
  box-shadow: 0 1px 0 0 #D0BCFF;
}
.tnt-form[theme=default] > .tnt-input-field.active.outlined {
  border-color: #D0BCFF;
  box-shadow: 0 0 1px 1px #D0BCFF;
}
.tnt-form[theme=default] > .tnt-input-field.active > .tnt-input-field-label.active {
  color: #D0BCFF;
}
.tnt-form[theme=default] > .tnt-input-field.outlined {
  border-color: #938F99;
}
.tnt-form[theme=default] > .tnt-input-field.outlined > .tnt-input-field-label {
  background-color: #1C1B1F;
}
.tnt-form[theme=default] > .tnt-input-field.filled {
  background-color: #49454F;
}

.tnt-form {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
}
.tnt-form input {
  background-color: transparent;
  border: none;
  height: 2rem;
  font-size: 1rem;
  width: 100%;
  box-shadow: none;
  box-sizing: content-box;
}
.tnt-form input:focus {
  outline: none;
}
.tnt-form > .tnt-input-field {
  position: relative;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0px 0.5rem 0px 0.5rem;
  margin: 1rem 0 0.1rem 0;
  transition: box-shadow 150ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tnt-form > .tnt-input-field:hover {
  box-shadow: 0 1px 0 0;
}
.tnt-form > .tnt-input-field > .tnt-input-field-label {
  position: absolute;
  padding: 0px 0.5rem 0px 0.5rem;
  top: 0;
  left: 0;
  text-align: initial;
  cursor: text;
  transition: transform 150ms ease-in-out, color 150ms ease-in-out;
  transform-origin: 0% 100%;
  transform: translateY(0.6rem);
}
.tnt-form > .tnt-input-field > .tnt-input-field-label.active, .tnt-form > .tnt-input-field > .tnt-input-field-label.placeholder {
  transform: translateY(-0.7rem) scale(0.75);
  transform-origin: 0 0;
}
.tnt-form > .tnt-input-field.outlined {
  border: none;
  border-style: solid;
  border-width: 1px;
}
.tnt-form > .tnt-input-field.outlined:hover {
  box-shadow: 0 0 1px 1px;
}
.tnt-form > .tnt-input-field.outlined > .tnt-input-field-label {
  padding: 0 10px 0 10px;
  transform: translateY(0.5rem);
}
.tnt-form > .tnt-input-field.outlined > .tnt-input-field-label.active, .tnt-form > .tnt-input-field.outlined > .tnt-input-field-label.placeholder {
  transform: translateY(-0.5rem) translateX(0.2rem) scale(0.75);
}
.tnt-form > .tnt-input-field.filled {
  padding-top: 0.75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.tnt-form > .tnt-input-field.filled > .tnt-input-field-label {
  transform: translateY(1rem);
}
.tnt-form > .tnt-input-field.filled > .tnt-input-field-label.active, .tnt-form > .tnt-input-field.filled > .tnt-input-field-label.placeholder {
  transform: translateY(0.2rem) translateX(0.2rem) scale(0.75);
}
.tnt-form > .helper-text {
  font-size: 0.8rem;
  padding-left: 1rem;
  transform: translateY(-1rem);
}

.tnt-form > .tnt-input-field .tnt-password-reveal {
  background-color: transparent;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}
.tnt-form > .tnt-input-field .tnt-password-reveal:hover {
  background-color: rgba(0, 0, 0, 0.1333333333);
}
.tnt-form > .tnt-input-field .tnt-password-reveal:active {
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.tnt-form > .tnt-input-field .tnt-password-reveal > i {
  font-size: 1.5rem;
}
.tnt-form > .tnt-input-field:hover .tnt-password-reveal {
  visibility: visible;
}

.tnt-form > .tnt-input-field .tnt-numeric-input-button {
  background-color: transparent;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  width: 1rem;
  height: 1rem;
}
.tnt-form > .tnt-input-field .tnt-numeric-input-button:hover {
  background-color: rgba(0, 0, 0, 0.1333333333);
}
.tnt-form > .tnt-input-field .tnt-numeric-input-button:active {
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.tnt-form > .tnt-input-field .tnt-numeric-input-button > i {
  font-size: 1.25rem;
}
.tnt-form > .tnt-input-field:hover .tnt-numeric-input-button {
  visibility: visible;
}

body[theme=default] {
  background-color: #1C1B1F;
}

body {
  margin: 0px;
}
