:root {
  --tnt-color-primary: rgb(189 194 255);
  --tnt-color-surface-tint: rgb(189 194 255);
  --tnt-color-on-primary: rgb(38 43 97);
  --tnt-color-primary-container: rgb(60 66 121);
  --tnt-color-on-primary-container: rgb(224 224 255);
  --tnt-color-secondary: rgb(196 196 221);
  --tnt-color-on-secondary: rgb(45 47 66);
  --tnt-color-secondary-container: rgb(68 69 89);
  --tnt-color-on-secondary-container: rgb(225 224 249);
  --tnt-color-tertiary: rgb(231 185 213);
  --tnt-color-on-tertiary: rgb(69 38 60);
  --tnt-color-tertiary-container: rgb(94 60 83);
  --tnt-color-on-tertiary-container: rgb(255 215 239);
  --tnt-color-error: rgb(255 180 171);
  --tnt-color-on-error: rgb(105 0 5);
  --tnt-color-error-container: rgb(147 0 10);
  --tnt-color-on-error-container: rgb(255 218 214);
  --tnt-color-background: rgb(19 19 24);
  --tnt-color-on-background: rgb(228 225 233);
  --tnt-color-surface: rgb(19 19 24);
  --tnt-color-on-surface: rgb(228 225 233);
  --tnt-color-surface-variant: rgb(70 70 79);
  --tnt-color-on-surface-variant: rgb(199 197 208);
  --tnt-color-outline: rgb(145 144 154);
  --tnt-color-outline-variant: rgb(70 70 79);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(228 225 233);
  --tnt-color-inverse-on-surface: rgb(48 48 54);
  --tnt-color-inverse-primary: rgb(84 90 146);
  --tnt-color-primary-fixed: rgb(224 224 255);
  --tnt-color-on-primary-fixed: rgb(15 21 75);
  --tnt-color-primary-fixed-dim: rgb(189 194 255);
  --tnt-color-on-primary-fixed-variant: rgb(60 66 121);
  --tnt-color-secondary-fixed: rgb(225 224 249);
  --tnt-color-on-secondary-fixed: rgb(24 26 44);
  --tnt-color-secondary-fixed-dim: rgb(196 196 221);
  --tnt-color-on-secondary-fixed-variant: rgb(68 69 89);
  --tnt-color-tertiary-fixed: rgb(255 215 239);
  --tnt-color-on-tertiary-fixed: rgb(46 17 38);
  --tnt-color-tertiary-fixed-dim: rgb(231 185 213);
  --tnt-color-on-tertiary-fixed-variant: rgb(94 60 83);
  --tnt-color-surface-dim: rgb(19 19 24);
  --tnt-color-surface-bright: rgb(57 57 63);
  --tnt-color-surface-container-lowest: rgb(13 14 19);
  --tnt-color-surface-container-low: rgb(27 27 33);
  --tnt-color-surface-container: rgb(31 31 37);
  --tnt-color-surface-container-high: rgb(41 41 47);
  --tnt-color-surface-container-highest: rgb(52 52 58);
  --tnt-color-info: rgb(172 199 255);
  --tnt-color-on-info: rgb(14 47 96);
  --tnt-color-info-container: rgb(42 70 119);
  --tnt-color-on-info-container: rgb(215 226 255);
  --tnt-color-success: rgb(152 212 163);
  --tnt-color-on-success: rgb(0 57 25);
  --tnt-color-success-container: rgb(22 81 44);
  --tnt-color-on-success-container: rgb(179 241 190);
  --tnt-color-warning: rgb(222 197 110);
  --tnt-color-on-warning: rgb(59 47 0);
  --tnt-color-warning-container: rgb(85 69 0);
  --tnt-color-on-warning-container: rgb(251 225 134);
  --tnt-color-assert: rgb(236 180 236);
  --tnt-color-on-assert: rgb(73 32 77);
  --tnt-color-assert-container: rgb(98 55 101);
  --tnt-color-on-assert-container: rgb(255 214 252);
}
