:root {
  --tnt-color-primary: rgb(216 217 255);
  --tnt-color-surface-tint: rgb(189 194 255);
  --tnt-color-on-primary: rgb(26 32 85);
  --tnt-color-primary-container: rgb(135 140 200);
  --tnt-color-on-primary-container: rgb(0 0 0);
  --tnt-color-secondary: rgb(218 218 243);
  --tnt-color-on-secondary: rgb(35 36 55);
  --tnt-color-secondary-container: rgb(142 143 166);
  --tnt-color-on-secondary-container: rgb(0 0 0);
  --tnt-color-tertiary: rgb(254 207 236);
  --tnt-color-on-tertiary: rgb(57 27 49);
  --tnt-color-tertiary-container: rgb(174 133 159);
  --tnt-color-on-tertiary-container: rgb(0 0 0);
  --tnt-color-error: rgb(255 210 204);
  --tnt-color-on-error: rgb(84 0 3);
  --tnt-color-error-container: rgb(255 84 73);
  --tnt-color-on-error-container: rgb(0 0 0);
  --tnt-color-background: rgb(19 19 24);
  --tnt-color-on-background: rgb(228 225 233);
  --tnt-color-surface: rgb(19 19 24);
  --tnt-color-on-surface: rgb(255 255 255);
  --tnt-color-surface-variant: rgb(70 70 79);
  --tnt-color-on-surface-variant: rgb(221 219 230);
  --tnt-color-outline: rgb(178 177 187);
  --tnt-color-outline-variant: rgb(144 143 153);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(228 225 233);
  --tnt-color-inverse-on-surface: rgb(42 41 47);
  --tnt-color-inverse-primary: rgb(62 67 122);
  --tnt-color-primary-fixed: rgb(224 224 255);
  --tnt-color-on-primary-fixed: rgb(3 7 65);
  --tnt-color-primary-fixed-dim: rgb(189 194 255);
  --tnt-color-on-primary-fixed-variant: rgb(43 49 103);
  --tnt-color-secondary-fixed: rgb(225 224 249);
  --tnt-color-on-secondary-fixed: rgb(14 16 33);
  --tnt-color-secondary-fixed-dim: rgb(196 196 221);
  --tnt-color-on-secondary-fixed-variant: rgb(51 53 72);
  --tnt-color-tertiary-fixed: rgb(255 215 239);
  --tnt-color-on-tertiary-fixed: rgb(34 7 27);
  --tnt-color-tertiary-fixed-dim: rgb(231 185 213);
  --tnt-color-on-tertiary-fixed-variant: rgb(76 44 66);
  --tnt-color-surface-dim: rgb(19 19 24);
  --tnt-color-surface-bright: rgb(68 68 74);
  --tnt-color-surface-container-lowest: rgb(7 7 12);
  --tnt-color-surface-container-low: rgb(29 29 35);
  --tnt-color-surface-container: rgb(39 39 45);
  --tnt-color-surface-container-high: rgb(50 50 56);
  --tnt-color-surface-container-highest: rgb(61 61 67);
  --tnt-color-info: rgb(206 220 255);
  --tnt-color-on-info: rgb(0 36 83);
  --tnt-color-info-container: rgb(118 145 199);
  --tnt-color-on-info-container: rgb(0 0 0);
  --tnt-color-success: rgb(173 235 184);
  --tnt-color-on-success: rgb(0 45 18);
  --tnt-color-success-container: rgb(100 157 113);
  --tnt-color-on-success-container: rgb(0 0 0);
  --tnt-color-warning: rgb(245 219 129);
  --tnt-color-on-warning: rgb(46 37 0);
  --tnt-color-warning-container: rgb(165 143 62);
  --tnt-color-on-warning-container: rgb(0 0 0);
  --tnt-color-assert: rgb(255 204 253);
  --tnt-color-on-assert: rgb(61 21 65);
  --tnt-color-assert-container: rgb(179 128 179);
  --tnt-color-on-assert-container: rgb(0 0 0);
}
