:root {
  --tnt-color-primary: rgb(43 49 103);
  --tnt-color-surface-tint: rgb(84 90 146);
  --tnt-color-on-primary: rgb(255 255 255);
  --tnt-color-primary-container: rgb(99 105 162);
  --tnt-color-on-primary-container: rgb(255 255 255);
  --tnt-color-secondary: rgb(51 53 72);
  --tnt-color-on-secondary: rgb(255 255 255);
  --tnt-color-secondary-container: rgb(106 107 129);
  --tnt-color-on-secondary-container: rgb(255 255 255);
  --tnt-color-tertiary: rgb(76 44 66);
  --tnt-color-on-tertiary: rgb(255 255 255);
  --tnt-color-tertiary-container: rgb(136 98 122);
  --tnt-color-on-tertiary-container: rgb(255 255 255);
  --tnt-color-error: rgb(116 0 6);
  --tnt-color-on-error: rgb(255 255 255);
  --tnt-color-error-container: rgb(207 44 39);
  --tnt-color-on-error-container: rgb(255 255 255);
  --tnt-color-background: rgb(251 248 255);
  --tnt-color-on-background: rgb(27 27 33);
  --tnt-color-surface: rgb(251 248 255);
  --tnt-color-on-surface: rgb(16 17 22);
  --tnt-color-surface-variant: rgb(227 225 236);
  --tnt-color-on-surface-variant: rgb(53 53 62);
  --tnt-color-outline: rgb(82 82 91);
  --tnt-color-outline-variant: rgb(109 108 118);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(48 48 54);
  --tnt-color-inverse-on-surface: rgb(242 239 247);
  --tnt-color-inverse-primary: rgb(189 194 255);
  --tnt-color-primary-fixed: rgb(99 105 162);
  --tnt-color-on-primary-fixed: rgb(255 255 255);
  --tnt-color-primary-fixed-dim: rgb(75 80 136);
  --tnt-color-on-primary-fixed-variant: rgb(255 255 255);
  --tnt-color-secondary-fixed: rgb(106 107 129);
  --tnt-color-on-secondary-fixed: rgb(255 255 255);
  --tnt-color-secondary-fixed-dim: rgb(82 83 104);
  --tnt-color-on-secondary-fixed-variant: rgb(255 255 255);
  --tnt-color-tertiary-fixed: rgb(136 98 122);
  --tnt-color-on-tertiary-fixed: rgb(255 255 255);
  --tnt-color-tertiary-fixed-dim: rgb(109 74 97);
  --tnt-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --tnt-color-surface-dim: rgb(200 197 205);
  --tnt-color-surface-bright: rgb(251 248 255);
  --tnt-color-surface-container-lowest: rgb(255 255 255);
  --tnt-color-surface-container-low: rgb(245 242 250);
  --tnt-color-surface-container: rgb(234 231 239);
  --tnt-color-surface-container-high: rgb(222 220 227);
  --tnt-color-surface-container-highest: rgb(211 208 216);
  --tnt-color-info: rgb(22 53 102);
  --tnt-color-on-info: rgb(255 255 255);
  --tnt-color-info-container: rgb(82 109 161);
  --tnt-color-on-info-container: rgb(255 255 255);
  --tnt-color-success: rgb(0 63 29);
  --tnt-color-on-success: rgb(255 255 255);
  --tnt-color-success-container: rgb(64 121 79);
  --tnt-color-on-success-container: rgb(255 255 255);
  --tnt-color-warning: rgb(65 53 0);
  --tnt-color-on-warning: rgb(255 255 255);
  --tnt-color-warning-container: rgb(127 108 29);
  --tnt-color-on-warning-container: rgb(255 255 255);
  --tnt-color-assert: rgb(80 38 83);
  --tnt-color-on-assert: rgb(255 255 255);
  --tnt-color-assert-container: rgb(140 92 142);
  --tnt-color-on-assert-container: rgb(255 255 255);
}
