:root {
  --tnt-color-primary: rgb(33 39 92);
  --tnt-color-surface-tint: rgb(84 90 146);
  --tnt-color-on-primary: rgb(255 255 255);
  --tnt-color-primary-container: rgb(63 68 123);
  --tnt-color-on-primary-container: rgb(255 255 255);
  --tnt-color-secondary: rgb(41 43 61);
  --tnt-color-on-secondary: rgb(255 255 255);
  --tnt-color-secondary-container: rgb(70 72 92);
  --tnt-color-on-secondary-container: rgb(255 255 255);
  --tnt-color-tertiary: rgb(64 34 56);
  --tnt-color-on-tertiary: rgb(255 255 255);
  --tnt-color-tertiary-container: rgb(97 62 86);
  --tnt-color-on-tertiary-container: rgb(255 255 255);
  --tnt-color-error: rgb(96 0 4);
  --tnt-color-on-error: rgb(255 255 255);
  --tnt-color-error-container: rgb(152 0 10);
  --tnt-color-on-error-container: rgb(255 255 255);
  --tnt-color-background: rgb(251 248 255);
  --tnt-color-on-background: rgb(27 27 33);
  --tnt-color-surface: rgb(251 248 255);
  --tnt-color-on-surface: rgb(0 0 0);
  --tnt-color-surface-variant: rgb(227 225 236);
  --tnt-color-on-surface-variant: rgb(0 0 0);
  --tnt-color-outline: rgb(43 43 52);
  --tnt-color-outline-variant: rgb(72 72 81);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(48 48 54);
  --tnt-color-inverse-on-surface: rgb(255 255 255);
  --tnt-color-inverse-primary: rgb(189 194 255);
  --tnt-color-primary-fixed: rgb(63 68 123);
  --tnt-color-on-primary-fixed: rgb(255 255 255);
  --tnt-color-primary-fixed-dim: rgb(40 45 99);
  --tnt-color-on-primary-fixed-variant: rgb(255 255 255);
  --tnt-color-secondary-fixed: rgb(70 72 92);
  --tnt-color-on-secondary-fixed: rgb(255 255 255);
  --tnt-color-secondary-fixed-dim: rgb(48 49 68);
  --tnt-color-on-secondary-fixed-variant: rgb(255 255 255);
  --tnt-color-tertiary-fixed: rgb(97 62 86);
  --tnt-color-on-tertiary-fixed: rgb(255 255 255);
  --tnt-color-tertiary-fixed-dim: rgb(72 40 62);
  --tnt-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --tnt-color-surface-dim: rgb(186 184 191);
  --tnt-color-surface-bright: rgb(251 248 255);
  --tnt-color-surface-container-lowest: rgb(255 255 255);
  --tnt-color-surface-container-low: rgb(242 239 247);
  --tnt-color-surface-container: rgb(228 225 233);
  --tnt-color-surface-container-high: rgb(214 211 219);
  --tnt-color-surface-container-highest: rgb(200 197 205);
  --tnt-color-info: rgb(7 43 91);
  --tnt-color-on-info: rgb(255 255 255);
  --tnt-color-info-container: rgb(44 73 122);
  --tnt-color-on-info-container: rgb(255 255 255);
  --tnt-color-success: rgb(0 52 22);
  --tnt-color-on-success: rgb(255 255 255);
  --tnt-color-success-container: rgb(25 83 46);
  --tnt-color-on-success-container: rgb(255 255 255);
  --tnt-color-warning: rgb(54 43 0);
  --tnt-color-on-warning: rgb(255 255 255);
  --tnt-color-warning-container: rgb(88 72 0);
  --tnt-color-on-warning-container: rgb(255 255 255);
  --tnt-color-assert: rgb(68 27 72);
  --tnt-color-on-assert: rgb(255 255 255);
  --tnt-color-assert-container: rgb(101 57 104);
  --tnt-color-on-assert-container: rgb(255 255 255);
}
