.tnt-animation {
    overflow: hidden;
    display: inline-block;

    ::deep > * {
        opacity: 0;
        animation-duration: inherit;
        animation-timing-function: ease-in-out;
    }

    &.tnt-animation-fadein {
    }

    &.tnt-animation-slidetop {
        ::deep > * {
            transform: translateY(-25%);
        }
    }

    &.tnt-animation-slidebottom {
        ::deep > * {
            transform: translateY(25%);
        }
    }

    &.tnt-animation-slideleft {
        ::deep > * {
            transform: translateX(-25%);
        }
    }

    &.tnt-animation-slideright {
        ::deep > * {
            transform: translateX(25%);
        }
    }

    &.tnt-animation-flip {
        ::deep > * {
            transform: rotateY(90deg);
        }
    }

    &.tnt-animation-rotateclockwise {
        ::deep > * {
            transform: rotateZ(45deg);
        }
    }

    &.tnt-animation-rotatecounterclockwise {
        ::deep > * {
            transform: rotateZ(-45deg);
        }
    }
}

.tnt-animation-intersected {
    ::deep > * {
        animation-fill-mode: forwards;
    }

    &.tnt-animation-fadein {
        ::deep > * {
            animation-name: tnt-animation-fade-in;
        }
    }

    &.tnt-animation-slidetop {
        ::deep > * {
            animation-name: tnt-animation-fade-in-slide-top;
        }
    }

    &.tnt-animation-slidebottom {
        ::deep > * {
            animation-name: tnt-animation-fade-in-slide-bottom;
        }
    }

    &.tnt-animation-slideleft {
        ::deep > * {
            animation-name: tnt-animation-fade-in-slide-left;
        }
    }

    &.tnt-animation-slideright {
        ::deep > * {
            animation-name: tnt-animation-fade-in-slide-right;
        }
    }

    &.tnt-animation-flip {
        ::deep > * {
            animation-name: tnt-animation-flip;
        }
    }

    &.tnt-animation-rotateclockwise {
        ::deep > * {
            animation-name: tnt-animation-rotate-clockwise;
        }
    }

    &.tnt-animation-rotatecounterclockwise {
        ::deep > * {
            animation-name: tnt-animation-rotate-counterclockwise;
        }
    }
}

@keyframes tnt-animation-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tnt-animation-fade-in-slide-top {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tnt-animation-fade-in-slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tnt-animation-fade-in-slide-left {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes tnt-animation-fade-in-slide-right {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes tnt-animation-flip {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0);
    }
}

@keyframes tnt-animation-rotate-clockwise {
    0% {
        opacity: 0;
        transform: rotateZ(45deg);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0);
    }
}

@keyframes tnt-animation-rotate-counterclockwise {
    0% {
        opacity: 0;
        transform: rotateZ(-45deg);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0);
    }
}