@page "/ImageButtons"
@using TnTComponents


<LiveTest.Client.Components.ImageButtons/>
<h3>
    WASM
</h3>
<LiveTest.Client.Components.ImageButtons @rendermode="InteractiveWebAssembly" />

<h3>
    Server
</h3>
<LiveTest.Client.Components.ImageButtons @rendermode="InteractiveServer" />

