@page "/Buttons"
@using TnTComponents


<LiveTest.Client.Components.ButtonsTesting />
<h3>
    WASM
</h3>
<LiveTest.Client.Components.ButtonsTesting @rendermode="InteractiveWebAssembly" />

<h3>
    Server
</h3>
<LiveTest.Client.Components.ButtonsTesting @rendermode="InteractiveServer" />

