@page "/datagrid"
@using LiveTest.Client.Components
@using TnTComponents.Enum
@using TnTComponents.Grid
@using TnTComponents.Grid.Columns
<h3>
    Static
</h3>
<DataGridComponent Name="Static" />
<h3>
    Interactive
</h3>

@if (false) {

    <DataGridComponent Name="Interactive" @rendermode="@RenderMode.InteractiveAuto" />
}