@page "/datagrid"
@using LiveTest.Client.Components
@using TnTComponents
@using TnTComponents.Enum
@using TnTComponents.Grid
@using TnTComponents.Grid.Columns

<TnTTabView>
    <TnTTabChild Title="All Items">
        <h3>
            Static
        </h3>
        <DataGridComponent Name="Static" />
        <DataGridComponent Name="A" />
        <DataGridComponent Name="B" />

        @*
        <h3>
        Interactive Server
        </h3>
        <DataGridComponent Name="Server" @rendermode="@RenderMode.InteractiveServer" />

        <h3>
        Interactive Web Assembly
        </h3>
        <DataGridComponent Name="Webassembly" @rendermode="@RenderMode.InteractiveWebAssembly" />
        *@
    </TnTTabChild>
</TnTTabView>
