@page "/dialog"
@using NTComponents
@inject ITnTDialogService DialogService
@rendermode InteractiveAuto
<h3>Dialog</h3>
<LiveTest.Client.Components.DialogComponent />


<TnTButton OnClickCallback="@OpenConfirmationDialog">
	Confirmation
</TnTButton>
@code {
	private async Task OpenConfirmationDialog()
	{
		await DialogService.OpenConfirmationDialogAsync(EventCallback.Empty);
	}
}
