@page "/InfiniteScroll"
@rendermode InteractiveAuto
@using NTComponents
@using NTComponents.Virtualization

<h3>InfiniteScroll</h3>

<NTComponents.TnTVirtualize TItem="int" ItemsProvider="GetItems">

</NTComponents.TnTVirtualize>


@code {
    async ValueTask<TnTItemsProviderResult<int>> GetItems(TnTVirtualizeItemsProviderRequest<int> request)
    {
        await Task.Delay(1000); // Simulate async loading
        return new TnTItemsProviderResult<int>()
            {
                Items = Enumerable.Range(request.StartIndex, 50).ToList(),
                TotalItemCount = 1000
            };
    }
}
