@page "/navlinks"
@using TnTComponents

<h3>NavLinks</h3>


<TnTNavLink Href="/navlinks">
    @MaterialIcon.Search.Render()
    Button Text
    @MaterialIcon.Group.Render()
</TnTNavLink>

<TnTNavLink Href="/navlinks" Outlined="true">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" Elevation="5">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" Elevation="5" Outlined="true">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" Elevation="5">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BackgroundColor="TnTColor.Secondary" TextColor="TnTColor.Tertiary">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BackgroundColor="TnTColor.Secondary" TextColor="TnTColor.Tertiary" Outlined="true">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BackgroundColor="TnTColor.Secondary" TextColor="TnTColor.Tertiary">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(0)">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(0)" Outlined="true">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(0)">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(){StartEnd = 5}">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(){StartEnd = 5}" Outlined="true">
    Button Text
</TnTNavLink>

<TnTNavLink Href="/navlinks" BorderRadius="new TnTComponents.Core.TnTBorderRadius(){StartEnd = 5}">
    Button Text
</TnTNavLink>


@code {

}
