@page "/options"
@using TnTComponents.Forms


<TnTForm Model="@_model">
    <TnTSelect @bind-Value="@_model.Value">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </TnTSelect>
</TnTForm>

@code {

    public class Model {
        public int? Value { get; set; }
    }

    private Model _model = new();
}