@page "/progress"

<h3>
    Static
</h3>

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" />
<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Linear" />

<h3>
    Interactive
</h3>

<LiveTest.Client.Components.ProgressWithSetPercentage />