@page "/progress"

<h3>
    Static
</h3>

<TnTComponents.ProgressIndicator Appearance="TnTComponents.Enum.ProgressAppearance.Ring" />
<TnTComponents.ProgressIndicator Appearance="TnTComponents.Enum.ProgressAppearance.Linear" />

<h3>
    Interactive
</h3>

<LiveTest.Client.Components.ProgressWithSetPercentage />