@page "/progress"

<h3>
    Static
</h3>

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" />
<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Linear" />

<h3>
    Interactive
</h3>

<LiveTest.Client.Components.ProgressWithSetPercentage />


<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" Size="TnTComponents.Size.Smallest" />
<br />

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" Size="TnTComponents.Size.Small" />
<br />

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" Size="TnTComponents.Size.Medium" />
<br />

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" Size="TnTComponents.Size.Large" />
<br />

<TnTComponents.TnTProgressIndicator Appearance="TnTComponents.ProgressAppearance.Ring" Size="TnTComponents.Size.Largest" ProgressColor="TnTComponents.TnTColor.Tertiary" />
<br />