@page "/progress"

<h3>
    Static
</h3>

<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" />
<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Linear" />

<h3>
    Interactive
</h3>

<LiveTest.Client.Components.ProgressWithSetPercentage />


<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" Size="NTComponents.Size.Smallest" />
<br />

<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" Size="NTComponents.Size.Small" />
<br />

<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" Size="NTComponents.Size.Medium" />
<br />

<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" Size="NTComponents.Size.Large" />
<br />

<NTComponents.TnTProgressIndicator Appearance="NTComponents.ProgressAppearance.Ring" Size="NTComponents.Size.Largest" ProgressColor="NTComponents.TnTColor.Tertiary" />
<br />