@page "/scheduler"
@using TnTComponents
@using TnTComponents.Scheduler
@rendermode InteractiveServer

<h3>Scheduler</h3>


<TnTScheduler TEventType="TnTEvent"
    DisabledTimeRanges="[
            new DisabledTimeRange{ DaysOfWeek = TnTDayOfWeekFlag.Monday | TnTDayOfWeekFlag.Wednesday | TnTDayOfWeekFlag.Friday,
                StartTime = new(0, 0),
                EndTime = new(8, 0)
            },
        ]"
    DisabledDateRanges="[
            new DisabledDateRange{
                Start = DateTimeOffset.Now.AddDays(1),
                End = DateTimeOffset.Now.AddDays(2)
            }
        ]"
>
    <TnTWeekView StartWeekDay="DayOfWeek.Monday" />
</TnTScheduler>