@page "/scheduler"
@using TnTComponents
@using TnTComponents.Scheduler
@using TnTComponents.Scheduler.Events
@rendermode InteractiveAuto

<h3>Scheduler</h3>


<TnTScheduler TEventType="TnTEvent"
              Events="TasksList.ToArray()"
              EventClickedCallback="OnEventClicked"
              EventSlotClickedCallback="OnEventSlotClicked">
    <TnTWeekView StartViewOn="DayOfWeek.Monday" />
</TnTScheduler>

<br />

