@page "/skeleton"
@using LiveTest.Client.Components
@using NTComponents
<h3>Skeleton</h3>


<TnTSkeleton Appearance="SkeletonAppearance.Round" />
<TnTSkeleton BackgroundColor="TnTColor.Tertiary" AnimatedColor="@TnTColor.OnTertiary" />
<TnTSkeleton style="width:20rem; height:2rem;" />
<TnTSkeleton AnimatedColor="@null"/>

@* <StreamedComponent /> *@

@code {

}
