@page "/skeleton"
@using LiveTest.Client.Components
@using TnTComponents
<h3>Skeleton</h3>


<TnTSkeleton Appearance="SkeletonAppearance.Circle" />
<TnTSkeleton BackgroundColor="TnTColor.Primary" />
<TnTSkeleton style="width:20rem; height:2rem;" />
<TnTSkeleton Animated="false" />

<StreamedComponent/>

@code {

}
