
.tnt-divider {
    box-sizing: border-box;

    &.tnt-divider-horizontal {
        border-top: 1px solid var(--tnt-divider-color);
        width: 100%;
    }

    &.tnt-divider-vertical {
        border-left-width: 1px solid var(--divider-color);
        height: 100%;
    }
}
