@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_elevation.scss' as elevation;
@use '../Styles/_Variables/_typescale.scss' as typescale;

.tnt-typeahead {
    box-sizing: border-box;
    position: relative;

    .tnt-typeahead-box {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        ::deep {

            label, input {
                width: 100%;
                margin: 0;
            }

            progress.tnt-components {
                position: absolute;
                top: 0;
                right: 8px;
            }
        }

        &:has(tnt-tooltip) {
            ::deep progress.tnt-components {
                right: 32px;
            }
        }
    }

    .tnt-typeahead-content {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 4px;
        max-height: 50vh;
        overflow: auto;
        margin: 4px 4px 16px 4px;
        z-index: 200;
        position: absolute;
        background-color: colors.$tnt-color-surface-variant;
        border-radius: 8px;
        @include typescale.tnt-body-large;
        @include elevation.tnt-elevation(1, false);

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                border-top: 1px solid colors.$tnt-color-outline;
                cursor: pointer;
                padding: 8px;

                &.tnt-focused, span:hover, &:hover {
                    background-color: color-mix(in srgb, colors.$tnt-color-surface-tint 20%, transparent);
                }

                span {
                    transition: 200ms;
                    margin: 4px;
                    padding: 8px 16px;
                }
            }

                li:first-child {
                    margin-top: 8px;
                    border-top: none;
                }
        }
    }
}
