@use "sass:color";

.tnt-form-field[theme=default].date-picker {
    .tnt-date-time-picker {
        background-color: $tnt-color-surface-variant;

        i {
            color: $tnt-color-on-surface-variant;

            &.disabled {
                color: getDisableColor($tnt-color-on-surface-variant);

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    background-color: transparent;
                }
            }
        }

        .tnt-input-field-label {
            background-color: $tnt-color-on-surface-variant;
        }

        .tnt-year-picker.outlined, .tnt-month-picker.outlined {
            .tnt-form-field-label {
                background-color: $tnt-color-on-surface-variant;
            }
        }

        table {
            thead {
                tr {
                    th {
                        color: $tnt-color-primary;
                    }
                }
            }

            tbody {
                tr {
                    td > div.table-content {
                        color: $tnt-color-on-surface-variant;
                        @include colorizeTransparent($tnt-color-surface-variant, $active:true, $hover:true);

                        &:not(.disabled) {
                            &.current-date {
                                color: $tnt-color-primary;
                                border: 2px solid $tnt-color-primary;
                            }

                            &.selected {
                                color: $tnt-color-surface;
                                background-color: $tnt-color-primary
                            }
                        }

                        &.out-of-month, &.disabled {
                            color: getDisableColor($tnt-color-on-surface-variant);

                            &.current-date {
                                color: getDisableColor($tnt-color-primary);
                                border: 2px solid getDisableColor($tnt-color-primary);
                            }

                            &.selected {
                                background-color: getDisableColor($tnt-color-primary);
                            }
                        }

                        &.disabled {
                            &:hover {
                                background-color: transparent;
                            }

                            &:active {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
