.tnt-form-field.date-picker {
    cursor: pointer;

    &.disabled {
        cursor: default;
    }

    input {
        cursor: inherit;
    }

    &.active {
        .tnt-date-time-picker {
            visibility: visible;
            opacity: 1;
        }
    }



    .tnt-date-time-picker {
        width: 20rem;
        position: absolute;
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        transition: 150ms;
        padding: 1rem 0.1rem 1rem 0.1rem;
        cursor: default;
        @extend .tnt-border-radius-2;
        @extend .tnt-z-depth-2;


        i {
            border-radius: 100%;
            user-select: none;

            &.disabled {
                cursor: default;
            }
        }

        .tnt-month-picker, .tnt-year-picker {
            margin: 0 0.1rem 0 0.1rem;
        }

        table {
            user-select: none;

            thead {
                tr {
                    th {
                        padding-top: 1rem;
                        padding-bottom: 0.2rem;
                        width: 2.2rem;
                        height: 2rem;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        > div.table-content {
                            transition: 150ms;
                            border-radius: 100%;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            aspect-ratio: 1/1;

                            &:not(.disabled) {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    &:not(.filled ) {
        .tnt-date-time-picker {
            top: 2.25rem;
        }
    }

    &.filled {
        .tnt-date-time-picker {
            top: 3rem;
        }
    }

    .tnt-date-time-picker.dropup {
        top: -22rem;
    }
}
