@use "sass:color";

.tnt-input-field[theme=default].date-picker {
    .tnt-date-time-picker {
        background-color: $tnt-color-primary-container;

        span {
            i {
                color: $tnt-color-on-primary-container;
            }
        }

        .tnt-input-field-label {
            background-color: $tnt-color-primary-container;
        }

        table {
            thead {
                tr {
                    th {
                        color: $tnt-color-primary;
                    }
                }
            }

            tbody {
                tr {
                    td > div.table-content {
                        color: $tnt-color-on-primary-container;
                        @include colorizeTransparent($tnt-color-primary-container, $active:true, $hover:true);

                        &:not(.disabled) {
                            &.current-date {
                                color: $tnt-color-primary;
                                border: 2px solid $tnt-color-primary;
                            }

                            &.selected {
                                color: $tnt-color-surface;
                                background-color: $tnt-color-primary
                            }
                        }

                        &.out-of-month, &.disabled {
                            color: color.adjust($tnt-color-on-primary-container, $alpha: -0.5);

                            &.current-date {
                                color: color.adjust($tnt-color-primary, $alpha: -0.5);
                                border: 2px solid color.adjust($tnt-color-primary, $alpha: -0.5);
                            }

                            &.selected {
                                color: color.adjust($tnt-color-surface, $alpha: -0.5);
                                background-color: color.adjust($tnt-color-primary, $alpha: -0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

.tnt-input-field.date-picker {
    cursor: pointer;

    &.disabled {
        cursor: default;
    }

    input {
        cursor: inherit;
    }

    .tnt-date-time-picker {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: absolute;
        z-index: 10000;
        top: 3rem;
        width: min-content;
        @extend .tnt-border-radius-2;
        @extend .tnt-z-depth-2;


        span {
            display: inherit;
            justify-content: center;
            align-items: center;

            > * {
                margin: 0.1rem;
            }

            .tnt-month-picker {
                width: 40%;
            }

            .tnt-year-picker {
                width: 20%;
            }

            i {
                border-radius: 100%;
                user-select: none;
            }
        }

        table {
            user-select: none;
            table-layout: fixed;
            width: fit-content;

            thead {
                tr {
                    th {
                        padding-top: 1rem;
                        padding-bottom: 0.2rem;
                        width: 3rem;
                        height: 2rem;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        width: 1.5rem;

                        > div.table-content {
                            text-align: center;
                            border-radius: 100%;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            aspect-ratio: 1/1;

                            &:not(.disabled) {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
