@use "sass:color";

.tnt-form-field[theme=default].dropdown {
    ul {
        background-color: $tnt-color-primary-container;

        li {
            &.placeholder {
                color: color.adjust($tnt-color-on-primary-container, $alpha: -0.6);
            }

            color: $tnt-color-on-primary-container;

            &:not(.disabled) {
                @include colorize($tnt-color-primary-container, background-color, true, true);
            }

            &.disabled {
                color: color.adjust($tnt-color-on-primary-container, $alpha: -0.6);
            }

            &.selected {
                background-color: getSelectedColor($tnt-color-primary-container);
            }
        }
    }
}


.tnt-form-field.dropdown {
    cursor: pointer;
    margin-bottom: 1rem;

    input {
        cursor: inherit;
    }

    i {
        user-select: none;
    }

    &.active {
        ul {
            visibility: visible;
            opacity: 1;
            max-height: 15rem;
        }
    }

    ul {
        display: block;
        position: absolute;
        overflow-y: auto;
        margin: 0;
        left: 0;
        width: 100%;
        top: 2.3rem;
        max-height: 0rem;
        z-index: 10000;
        padding: 0;
        visibility: hidden;
        transition: 150ms;
        @extend .tnt-z-depth-3;
        @extend .tnt-border-radius-2;

        li {
            clear: both;
            cursor: pointer;
            user-select: none;
            min-height: 1.5rem;
            text-align: start;
            list-style: none;
            padding: .3rem;
            line-height: 2rem;
            transition: 150ms;

            i {
                cursor: inherit;
            }
        }

        &.dropup {
            top: -13rem;
            max-height: 15rem;
        }
    }

    &.filled {
        ul {
            top: 3rem;

            &.dropup {
                top: -12.5rem;
                max-height: 15rem;
            }
        }
    }

    &.disabled {
        cursor: default;
    }
}
