@use "sass:color";

.tnt-form-field[theme=default].dropdown {
    ul {
        background-color: $tnt-color-surface-variant;

        li {
            &.placeholder {
                color: color.adjust($tnt-color-on-surface-variant, $alpha: -0.6);
            }

            color: $tnt-color-on-surface-variant;

            &:not(.disabled) {
                @include colorize($tnt-color-surface-variant, background-color, true, true);
            }

            &.disabled {
                color: color.adjust($tnt-color-on-surface-variant, $alpha: -0.6);
            }

            &.selected {
                background-color: getSelectedColor($tnt-color-surface-variant);
            }
        }
    }
}