@use "sass:color";

.tnt-input-field[theme=default].dropdown {
    ul {
        background-color: $tnt-color-primary-container;

        li {
            color: $tnt-color-on-primary-container;

            &:hover:not(.disabled) {
                background-color: color.adjust($tnt-color-primary-container, $lightness: -20%);
            }

            &.disabled {
                color: color.adjust($tnt-color-on-primary-container, $alpha: -0.5);

            }

            &.placeholder {
                color: color.adjust($tnt-color-on-primary-container, $alpha: -0.5);
            }
        }
    }
}


.tnt-input-field.dropdown {
    cursor: pointer;

    input {
        cursor: pointer;
    }

    &.active {
        ul {
            visibility: visible;
            opacity: 1;
            max-height: 15rem;
        }
    }

    ul {
        display: block;
        position: absolute;
        overflow-y: auto;
        min-width: 100%;
        margin: 0;
        left: 0;
        top: 0;
        z-index: 10000;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: 150ms;
        @extend .tnt-z-depth-3;

        li {
            clear: both;
            cursor: pointer;
            user-select: none;
            min-height: 1.5rem;
            text-align: start;
            list-style: none;
            padding: .3rem;
            line-height: 2rem;
            transition: 150ms;
            background-color: transparent;

            &.disabled {
                cursor: default;

                i {
                    cursor: default;
                }
            }

            i {
                background-color: transparent;
                user-select: none;

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    background-color: transparent;
                }
            }
        }

        &.dropup {
            top: -13rem;
        }
    }

    i {
        cursor: pointer;
        border-radius: 100%;
        transition: 150ms;
        user-select: none;

        &:hover {
            background-color: #00000022;
        }

        &:active {
            background-color: #00000044;
        }
    }

    &.disabled {
        cursor: default;

        input {
            cursor: default;
        }

        i {
            cursor: default;

            &:hover {
                background-color: transparent;
            }

            &:active {
                background-color: transparent;
            }
        }
    }
}
