@use "sass:color";

.tnt-form {
    display: block;
    margin-top: 1rem;
    padding: .5rem;
}

@import '_checkbox.scss';
@import '_datetimepicker.scss';
@import '_dropdown.scss';
@import '_numeric.scss';
@import '_switch.scss';
@import '_textbox.scss';
