@use "sass:color";

.tnt-form[theme=default] {

    ::placeholder {
        color: color.adjust($tnt-color-on-surface, $alpha: -0.6);
    }

    .helper-text {
        color: $tnt-color-on-surface;
    }

    div.disabled + .helper-text {
        color: color.adjust($tnt-color-on-surface, $alpha: -0.6);
    }
}

.tnt-form {
    display: block;
    margin-top: 1rem;
    padding: .5rem;

    .helper-text {
        font-size: .8rem;
        padding-left: 1rem;
        transform: translateY(-1rem);
    }
}

@import '_checkbox.scss';
@import '_datetimepicker.scss';
@import '_dropdown.scss';
@import '_numeric.scss';
@import '_switch.scss';
@import '_textbox.scss';
