.tnt-form-field-message {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    transition: 150ms;
}

.tnt-form {
    display: block;
    margin-top: 1rem;
    padding: .5rem;
}

@import '_checkbox.scss';
@import '_datetimepicker.scss';
@import '_dropdown.scss';
@import '_inputfile.scss';
@import '_numeric.scss';
@import '_radiogroup.scss';
@import '_switch.scss';
@import '_textbox.scss';