input[type=file]::file-selector-button {
    @extend .tnt-border-radius-9;
    padding: 0 16px;
    min-height: 40px;
    font-weight: bolder;
    margin: 0.5rem;
    line-height: 24px;
    font-size: 14px;
    border-style: none;

    &:not(.disabled) {
        cursor: pointer;
    }

    &:not(.outlined):not(.filled):not(.flat) {
        @extend .tnt-z-depth-1;
    }

    &:not(.outlined) {
        border: none;
    }

    &.outlined {
        border-style: solid;
        border-width: 1px;
    }

    &.flat, &.outlined {
        background-color: transparent;
    }

    span {
        vertical-align: middle;
    }

    i {
        display: inline-block;
        text-align: center;
        font-size: 1.3rem;
        vertical-align: bottom;
        margin-right: 0.3rem;
    }
}