.tnt-form-field {

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button,
    input[type=number] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: none;
    }

    .tnt-numeric-input-buttons {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
        width: 1rem;
        height: 1rem;

        & > i {
            border-radius: 100%;
            cursor: pointer;
            user-select: none;
            font-size: 1.25rem;
        }
    }

    &:hover .tnt-numeric-input-buttons {
        visibility: visible;
    }
}
