.tnt-radio-group {
    position: relative;
    padding: 0px .5rem 0px .5rem;
    margin: 1rem 0 .5rem 0;
    transition: 150ms;


    &:not(.outlined) {
        border: none;
    }

    .tnt-radio-btn-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: inherit;
        padding-top: 1rem;


        @media #{$small-and-down} {
            flex-direction: column;
        }

        .tnt-radio-btn {
            margin: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: inherit;

            i {
                padding: 0 .5rem 0 0;
                user-select: none;
            }

            & > .tnt-form-field-label {
                cursor: inherit;
                transition: inherit;
                padding: 0 0 0 1rem;
                user-select: none;
            }

            &:not(.disabled) {
                & > .tnt-form-field-label, input[type=radio] {
                    cursor: pointer;
                }
            }

            input[type=radio] {
                appearance: none;
                margin: 0;
                width: 1.15rem;
                height: 1.15rem;
                border-style: solid;
                border-width: 2px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: inherit;

                &:before {
                    content: '';
                    position: absolute;
                    width: .6rem;
                    height: .6rem;
                    border-radius: 100%;
                    transform: scale(0);
                    transition: inherit;
                }

                &:checked:before {
                    animation: tnt-check-radio-button-anim 150ms ease-out forwards;
                }
            }
        }
    }


    & > .tnt-form-field-label {
        position: absolute;
        user-select: none;
        transition: inherit;
        padding: 0 0.5rem 0 0.5rem;
    }

    &.outlined {
        border-style: solid;
        border-width: 1px;
        @extend .tnt-border-radius-1;

        & > .tnt-form-field-label {
            position: absolute;
            top: -0.6rem;
            left: 0.5rem;
        }
    }

    &.filled {
        @extend .tnt-border-radius-1;

        & > .tnt-form-field-label {
            position: relative;
            top: 0.5rem
        }
    }
}


@keyframes tnt-check-radio-button-anim {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
