.tnt-form-field-switch {
    display: flex;
    align-items: center;
    user-select: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;

    &:not(.disabled) {
        cursor: pointer;
    }

    &:has(.tnt-icon-component:first-child) input[type=checkbox] + span {
        margin-left: 2rem
    }

    &:not(:has(.tnt-icon-component:first-child)) {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .tnt-form-field-label {
        margin-left: 48px;
        cursor: inherit;

        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            + span {
                content: "";
                display: flex;
                align-items: center;
                position: absolute;
                border-radius: 1rem;
                width: 2.3rem;
                height: .9rem;
                z-index: 0;
                left: 2px;
                transition: ease-in-out 150ms;
                cursor: inherit;
                @extend .tnt-z-depth-1;

                &:before,
                &:after {
                    transition: ease-in-out 150ms;
                }

                &:before {
                    content: '';
                    position: absolute;
                    aspect-ratio: 1/1;
                    height: 1.3rem;
                    left: -4px;
                    z-index: 2;
                    border-radius: 100%;

                    @extend .tnt-z-depth-2;
                }

                &:hover::after {
                    content: '';
                    position: absolute;
                    aspect-ratio: 1/1;
                    height: 2rem;
                    left: -.6rem;
                    z-index: 1;
                    border-radius: 100%;
                }
            }

            &:checked {
                + span {
                    &:before {
                        left: 1.2rem;
                    }

                    &:after {
                        left: .9rem;
                    }
                }
            }
        }
    }

    .tnt-form-field-switch-label {
        margin-left: 2.8rem;
        display: flex;
        align-items: center;
    }

    .tnt-form-field-switch-off {
        position: absolute;
    }

    .tnt-form-field-switch-on {
        position: absolute;
    }

    &.disabled input[type=checkbox] + span {
        cursor: inherit;
    }
}