@using Microsoft.AspNetCore.Components.QuickGrid
@typeparam TGridItem
@inherits QuickGrid<TGridItem>


<div class="@GridContainerClass" style="@GetContainerStyle()">
    @{
        base.BuildRenderTree(__builder);
    }
</div>

<TnTPageScript Src="./_content/TnTComponents/Grid/TnTQuickGrid.razor.js" />
<TnTPageScript Src="./_content/TnTComponents/TnTButton.razor.js?class=col-title" />
