@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;
@use '../Styles/_Variables/_measurements.scss' as measurements;
@use '../Styles/_Variables/_elevation.scss' as elevation;
@use './TnTDataGridVariables.scss' as dg;

.tnt-datagrid {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    background-color: dg.$bg-color;

    @media #{measurements.$small-and-down} {
        table-layout: auto;
    }

    ::deep {
        thead th {
            position: relative;

            .tnt-resizeable {
                position: absolute;
                top: 0;
                right: 0;
                width: 5px;
                background-color: transparent;
                cursor: col-resize;
                border-right: 1px solid colors.$tnt-color-outline;
            }
        }


        td {
            height: inherit;
            @include typescale.tnt-body-medium;
        }
    }


    &.tnt-compact {

        ::deep {
            tr {
                td {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: clip;
                    height: 32px;
                }

                @media #{measurements.$medium-and-up} {
                    &:hover {
                        td {
                            white-space: revert;
                            text-overflow: revert;
                        }
                    }
                }
            }
        }
    }
}

@keyframes empty-grid-cell-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
