$bg-color: var(--tnt-data-grid-bg-color, var(--tnt-color-background));
$fg-color: var(--tnt-data-grid-fg-color, var(--tnt-color-on-background));
$tint-color: var(--tnt-data-grid-tint-color, var(--tnt-color-surface-tint));
$on-tint-color: var(--tnt-data-grid-on-tint-color, inherit);
