@using TnTComponents.Core
@inherits TnTComponentBase

<tnt-accordion @attributes="AdditionalAttributes"   style="@Style">
    <h3 class="@TnTAccordionHeaderClass">
        @Title
    </h3>
    <div class="@TnTAccordionContentClass">
        <div>
            @ChildContent
        </div>
    </div>
</tnt-accordion>

<TnTPageScript Src="@($"./_content/TnTComponents/TnTAccordion.razor.js")" />