@inherits TnTIconComponent

<button class="@GetClass()" theme="@Theme" @onclick="OnClick">
    @GetIcon()
    @if (!string.IsNullOrWhiteSpace(Text)) {
        <span>
            @Text
        </span>
    }
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Text { get; set; } = default!;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public ButtonType ButtonType { get; set; }

    [Parameter]
    public override string BaseCssClass { get; set; } = "tnt-btn";

    protected override string GetClass() {
        return $"{base.GetClass()} {GetButtonType()}";
    }

    private string GetButtonType() {
        switch (ButtonType) {
            default:
            case ButtonType.Default:
                return string.Empty;

            case ButtonType.Flat:
                return "flat";

            case ButtonType.Filled:
                return "filled";

            case ButtonType.Outlined:
                return "outlined";
        }
    }
}