@inherits TnTIconComponent

<button class="@GetCssClass()" theme="@Theme" @onclick="ButtonClicked" @attributes="AdditionalAttributes">
    @GetIcon()
    @if (!string.IsNullOrWhiteSpace(Text)) {
        <span>
            @Text
        </span>
    }
    @ChildContent
</button>
