@inherits TnTIconComponent

<button type="button" class="@GetCssClass()" theme="@Theme" @onclick="ButtonClicked">
    @GetIcon()
    @if (!string.IsNullOrWhiteSpace(Text)) {
        <span>
            @Text
        </span>
    }
    @ChildContent
</button>
