@using System.Text
@using TnTComponents.Common
@inherits ComponentBase
@implements ITnTComponentBase

<div @attributes="AdditionalAttributes" class="@GetClass()" style="@GetStyle()" @ref="Element">
    @ChildContent
</div>
