@using Microsoft.AspNetCore.Components.Routing
@inherits TnTIconComponent

@if (_layout?.Responsive ?? false) {
    <TnTMediaCallback Query="(max-width:768px)" OnChangedCallback="(isSmallScreen) => Expanded = !isSmallScreen"></TnTMediaCallback>
}


<div theme="@Theme" class="@GetClass() @(Expanded ? "tnt-sidebar-expanded" : string.Empty)">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private TnTLayout? _layout{ get;set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public bool Expanded { get; set; }

    [Parameter]
    public override string BaseCssClass { get; set; } = "tnt-sidebar";
}
