@using Microsoft.AspNetCore.Components.Routing
@inherits TnTIconComponent

<div theme="@Theme" class="@GetClass()">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private TnTLayout? _layout { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public bool Expanded {
        get {
            return x;
        }

        set {
            x = value;
        }
    }

    [Parameter]
    public override string BaseCssClass { get; set; } = "tnt-sidebar";

    private bool x;

    private void SetIsSmallScreen(bool isSmallScreen) {
        Expanded = !isSmallScreen;
    }

    protected override string GetClass() {
        return $"{base.GetClass()} {(Expanded ? "expanded" : string.Empty)}";
    }
}
