@inherits TnTIconComponent

<li class="@GetClass()">
    <NavLink href="@Href">
        @GetIcon()
        @ChildContent
    </NavLink>
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Href { get; set; } = default!;

}
