@using Microsoft.AspNetCore.Components.Routing
@inherits TnTIconComponent
@attribute [RenderModeAuto]

@if (_layout?.Responsive ?? false) {
    <TnTMediaCallback Query="(max-width:768px)" OnChangedCallback="(isSmallScreen) => Expanded = !isSmallScreen"></TnTMediaCallback>
}


<div theme="@Theme" class="tnt-sidebar @(Expanded ? "tnt-sidebar-expanded" : string.Empty)">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private TnTLayout? _layout{ get;set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public bool Expanded { get; set; }
}
