@using TnTComponents.Common
@inherits TnTComponentBase

<CascadingValue IsFixed="true" Value="this">
    <div @attributes="AdditionalAttributes" class="@GetClass()" theme="@Theme" style="@Style">
        @ChildContent
    </div>
</CascadingValue>