@using TnTComponents.Core
@inherits TnTComponentBase
@if (_context.ActiveTab == this && Interactive) {
    @Content()
}
else if (!Interactive) {
    <div id="tnt-tab-child">
        @Content()
    </div>
}

@code {
    private RenderFragment Content() {
        return@<div @attributes="AdditionalAttributes" id="tnt-tab-child-content" style="@Style" @ref="Element">
        @ChildContent
    </div>;
    }
}
