@using BlazorCalendar
@using BlazorCalendar.Models
@inherits CalendarBase
@namespace TnTComponents
@typeparam TEventType

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

