@namespace TnTComponents
@using TnTComponents.Scheduler.Infrastructure
@inherits SchedulerBase
@typeparam TEventType


<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element">
<CascadingValue Value="this" IsFixed="true" TValue="SchedulerBase">
    @ChildContent
</CascadingValue>
</div>