@use 'sass:color';
@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_measurements.scss' as measurements;
@use '../Styles/_Variables/_elevation.scss' as elevation;

.tnt-scheduler {
    margin: 8px;
    box-sizing: border-box;
    position: relative;
    height: max-content;
    overflow-x: auto;
    height: 88%;
    container-type: inline-size;
    container-name: tnt-scheduler-container;
    border-radius: 8px;

    .date-controls {
        display: flex;
        align-items: center;
        position: sticky;
        background-color: inherit;
        top: 0;
        left: 0;
        z-index: 7;
        padding: 4px;

        .today-button {
            padding: 0 16px;

            @media #{measurements.$small-and-down} {
                padding: 0 4px;
            }
        }
    }



    &:has(.date-controls) {
        ::deep {

            .tnt-week-view .tnt-date-header {
                top: 72px;
            }
        }
    }
}
