@namespace TnTComponents
@using TnTComponents.Scheduler
@using TnTComponents.Scheduler.Infrastructure
@typeparam TEventType
@inherits TnTScheduleView<TEventType>

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @ref="Element">
    <div class="tnt-time-slots">
        <span class="tnt-slot"></span>
        @foreach (var slot in GetTimeSlots(Scheduler.StartTime, Scheduler.EndTime)) {
            <span class=" tnt-slot tnt-time-slot tnt-label-large">
                @slot
            </span>
        }
    </div>

    <div class="tnt-days">
        @foreach (var day in GetDaysOfWeek()) {
            <div class="tnt-day-column">
                <span class="tnt-slot tnt-label-large">
                    @day.DayOfWeek
                </span>
                @foreach (var slot in GetTimeSlots(Scheduler.StartTime, Scheduler.EndTime)) {
                    <div class="tnt-slot tnt-day-slot@(IsDisabledTime(day.DayOfWeek, slot) ? " disabled" : null)">
                    </div>
                }
            </div>
        }
    </div>

</div>
