@namespace TnTComponents
@using TnTComponents.Core
@typeparam TItem
@inherits TnTPageScriptComponent<TnTVirtualize<TItem>>



@if (_items.Any())
{
    @foreach (var item in _items)
    {
        if (ItemTemplate is not null)
        {
            @ItemTemplate(item)
        }
        else
        {
            <div>
                @item
            </div>
        }
    }
}
else if(!_loading)
{
    if(EmptyTemplate is not null)
    {
        @EmptyTemplate
    }
    else
    {
        <text>No items to show</text>
    }
}

@if (_loading)
{
    if (LoadingTemplate is not null)
    {
        @LoadingTemplate
    }
    else
    {
        <TnTProgressIndicator Appearance="ProgressAppearance.Linear" />
    }
}

<div style="@(_allItemsRetrieved ? "height:0;width:0" : "height:1px;width:1px;flex-shrink:0")" @ref="Element">
</div>

