.tnt-z-depth-0 {
    box-shadow: none;
}

.tnt-z-depth-1 {
    box-shadow: 0px 1px 2px rgba(69,73,79,0.3), 0px 1px 3px 1px #000000;
}

.tnt-z-depth-2 {
    box-shadow: 0px 1px 2px rgba(69,73,79,0.3), 0px 2px 6px 2px #000000;
}

.tnt-z-depth-3 {
    box-shadow: 0px 4px 8px 3px rgba(69,73,79,0.15), 0px 1px 3px #000000;
}

.tnt-z-depth-4 {
    box-shadow: 0px 6px 10px 4px rgba(69,73,79,0.15), 0px 2px 3px #000000;
}

.tnt-z-depth-5 {
    box-shadow: 0px 8px 12px 6px rgba(69,73,79,0.15), 0px 4px 4px #000000;
}

.tnt-z-depth-6 {
    box-shadow: 0px 12px 16px 6px rgba(69,73,79,0.15), 0px 4px 6px #000000;
}

.tnt-z-depth-7 {
    box-shadow: 0px 16px 20px 6px rgba(69,73,79,0.15), 0px 6px 6px #000000;
}

.tnt-z-depth-8 {
    box-shadow: 0px 20px 24px 6px rgba(69,73,79,0.15), 0px 6px 8px #000000;
}

.tnt-z-depth-9 {
    box-shadow: 0px 24px 28px 6px rgba(69,73,79,0.15), 0px 8px 8px #000000;
}

.tnt-z-depth-10 {
    box-shadow: 0px 28px 32px 6px rgba(69,73,79,0.15), 0px 8px 10px #000000;
}

.tnt-border-radius-0 {
    border-radius: 0rem;
}

.tnt-border-radius-1 {
    border-radius: 0.25rem;
}

.tnt-border-radius-2 {
    border-radius: 0.5rem;
}

.tnt-border-radius-3 {
    border-radius: 0.75rem;
}

.tnt-border-radius-4 {
    border-radius: 1rem;
}

.tnt-border-radius-5 {
    border-radius: 1.25rem;
}

.tnt-border-radius-6 {
    border-radius: 1.5rem;
}

.tnt-border-radius-7 {
    border-radius: 1.75rem;
}

.tnt-border-radius-8 {
    border-radius: 2rem;
}

.tnt-border-radius-9 {
    border-radius: 2.25rem;
}

.tnt-border-radius-10 {
    border-radius: 2.5rem;
}