.primary {
  background-color: $tnt-color-primary;
}
.primary-text {
  color: $tnt-color-primary;
}
.on-primary {
  background-color: $tnt-color-on-primary;
}
.on-primary-text {
  color: $tnt-color-on-primary;
}
.primary-container {
  background-color: $tnt-color-primary-container;
}
.primary-container-text {
  color: $tnt-color-primary-container;
}
.on-primary-container {
  background-color: $tnt-color-on-primary-container;
}
.on-primary-container-text {
  color: $tnt-color-on-primary-container;
}
.secondary {
  background-color: $tnt-color-secondary;
}
.secondary-text {
  color: $tnt-color-secondary;
}
.on-secondary {
  background-color: $tnt-color-on-secondary;
}
.on-secondary-text {
  color: $tnt-color-on-secondary;
}
.secondary-container {
  background-color: $tnt-color-secondary-container;
}
.secondary-container-text {
  color: $tnt-color-secondary-container;
}
.on-secondary-container {
  background-color: $tnt-color-on-secondary-container;
}
.on-secondary-container-text {
  color: $tnt-color-on-secondary-container;
}
.tertiary {
  background-color: $tnt-color-tertiary;
}
.tertiary-text {
  color: $tnt-color-tertiary;
}
.on-tertiary {
  background-color: $tnt-color-on-tertiary;
}
.on-tertiary-text {
  color: $tnt-color-on-tertiary;
}
.tertiary-container {
  background-color: $tnt-color-tertiary-container;
}
.tertiary-container-text {
  color: $tnt-color-tertiary-container;
}
.on-tertiary-container {
  background-color: $tnt-color-on-tertiary-container;
}
.on-tertiary-container-text {
  color: $tnt-color-on-tertiary-container;
}
.error {
  background-color: $tnt-color-error;
}
.error-text {
  color: $tnt-color-error;
}
.on-error {
  background-color: $tnt-color-on-error;
}
.on-error-text {
  color: $tnt-color-on-error;
}
.error-container {
  background-color: $tnt-color-error-container;
}
.error-container-text {
  color: $tnt-color-error-container;
}
.on-error-container {
  background-color: $tnt-color-on-error-container;
}
.on-error-container-text {
  color: $tnt-color-on-error-container;
}
.outline {
  background-color: $tnt-color-outline;
}
.outline-text {
  color: $tnt-color-outline;
}
.background {
  background-color: $tnt-color-background;
}
.background-text {
  color: $tnt-color-background;
}
.on-background {
  background-color: $tnt-color-on-background;
}
.on-background-text {
  color: $tnt-color-on-background;
}
.surface {
  background-color: $tnt-color-surface;
}
.surface-text {
  color: $tnt-color-surface;
}
.on-surface {
  background-color: $tnt-color-on-surface;
}
.on-surface-text {
  color: $tnt-color-on-surface;
}
.surface-variant {
  background-color: $tnt-color-surface-variant;
}
.surface-variant-text {
  color: $tnt-color-surface-variant;
}
.on-surface-variant {
  background-color: $tnt-color-on-surface-variant;
}
.on-surface-variant-text {
  color: $tnt-color-on-surface-variant;
}
.inverse-surface {
  background-color: $tnt-color-inverse-surface;
}
.inverse-surface-text {
  color: $tnt-color-inverse-surface;
}
.inverse-on-surface {
  background-color: $tnt-color-inverse-on-surface;
}
.inverse-on-surface-text {
  color: $tnt-color-inverse-on-surface;
}
.inverse-primary {
  background-color: $tnt-color-inverse-primary;
}
.inverse-primary-text {
  color: $tnt-color-inverse-primary;
}
.shadow {
  background-color: $tnt-color-shadow;
}
.shadow-text {
  color: $tnt-color-shadow;
}
.surface-tint {
  background-color: $tnt-color-surface-tint;
}
.surface-tint-text {
  color: $tnt-color-surface-tint;
}
.outline-variant {
  background-color: $tnt-color-outline-variant;
}
.outline-variant-text {
  color: $tnt-color-outline-variant;
}
.scrim {
  background-color: $tnt-color-scrim;
}
.scrim-text {
  color: $tnt-color-scrim;
}
