$tnt-default-color-source: #6750A4;

/* primary */
$tnt-color-primary0: #000000;
$tnt-color-primary10: #21005D;
$tnt-color-primary20: #381E72;
$tnt-color-primary30: #4F378B;
$tnt-color-primary40: #6750A4;
$tnt-color-primary50: #7F67BE;
$tnt-color-primary60: #9A82DB;
$tnt-color-primary70: #B69DF8;
$tnt-color-primary80: #D0BCFF;
$tnt-color-primary90: #EADDFF;
$tnt-color-primary95: #F6EDFF;
$tnt-color-primary99: #FFFBFE;
$tnt-color-primary100: #FFFFFF;
/* secondary */
$tnt-color-secondary0: #000000;
$tnt-color-secondary10: #1D192B;
$tnt-color-secondary20: #332D41;
$tnt-color-secondary30: #4A4458;
$tnt-color-secondary40: #625B71;
$tnt-color-secondary50: #7A7289;
$tnt-color-secondary60: #958DA5;
$tnt-color-secondary70: #B0A7C0;
$tnt-color-secondary80: #CCC2DC;
$tnt-color-secondary90: #E8DEF8;
$tnt-color-secondary95: #F6EDFF;
$tnt-color-secondary99: #FFFBFE;
$tnt-color-secondary100: #FFFFFF;
/* tertiary */
$tnt-color-tertiary0: #000000;
$tnt-color-tertiary10: #31111D;
$tnt-color-tertiary20: #492532;
$tnt-color-tertiary30: #633B48;
$tnt-color-tertiary40: #7D5260;
$tnt-color-tertiary50: #986977;
$tnt-color-tertiary60: #B58392;
$tnt-color-tertiary70: #D29DAC;
$tnt-color-tertiary80: #EFB8C8;
$tnt-color-tertiary90: #FFD8E4;
$tnt-color-tertiary95: #FFECF1;
$tnt-color-tertiary99: #FFFBFA;
$tnt-color-tertiary100: #FFFFFF;
/* error */
$tnt-color-error0: #000000;
$tnt-color-error10: #410E0B;
$tnt-color-error20: #601410;
$tnt-color-error30: #8C1D18;
$tnt-color-error40: #B3261E;
$tnt-color-error50: #DC362E;
$tnt-color-error60: #E46962;
$tnt-color-error70: #EC928E;
$tnt-color-error80: #F2B8B5;
$tnt-color-error90: #F9DEDC;
$tnt-color-error95: #FCEEEE;
$tnt-color-error99: #FFFBF9;
$tnt-color-error100: #FFFFFF;
/* neutral */
$tnt-color-neutral0: #000000;
$tnt-color-neutral10: #1C1B1F;
$tnt-color-neutral20: #313033;
$tnt-color-neutral30: #484649;
$tnt-color-neutral40: #605D62;
$tnt-color-neutral50: #787579;
$tnt-color-neutral60: #939094;
$tnt-color-neutral70: #AEAAAE;
$tnt-color-neutral80: #C9C5CA;
$tnt-color-neutral90: #E6E1E5;
$tnt-color-neutral95: #F4EFF4;
$tnt-color-neutral99: #FFFBFE;
$tnt-color-neutral100: #FFFFFF;
/* neutral-variant */
$tnt-color-neutral-variant0: #000000;
$tnt-color-neutral-variant10: #1D1A22;
$tnt-color-neutral-variant20: #322F37;
$tnt-color-neutral-variant30: #49454F;
$tnt-color-neutral-variant40: #605D66;
$tnt-color-neutral-variant50: #79747E;
$tnt-color-neutral-variant60: #938F99;
$tnt-color-neutral-variant70: #AEA9B4;
$tnt-color-neutral-variant80: #CAC4D0;
$tnt-color-neutral-variant90: #E7E0EC;
$tnt-color-neutral-variant95: #F5EEFA;
$tnt-color-neutral-variant99: #FFFBFE;
$tnt-color-neutral-variant100: #FFFFFF;
/* light */
$tnt-color-primary-light: #6750A4;
$tnt-color-on-primary-light: #FFFFFF;
$tnt-color-primary-container-light: #EADDFF;
$tnt-color-on-primary-container-light: #21005D;
$tnt-color-secondary-light: #625B71;
$tnt-color-on-secondary-light: #FFFFFF;
$tnt-color-secondary-container-light: #E8DEF8;
$tnt-color-on-secondary-container-light: #1D192B;
$tnt-color-tertiary-light: #7D5260;
$tnt-color-on-tertiary-light: #FFFFFF;
$tnt-color-tertiary-container-light: #FFD8E4;
$tnt-color-on-tertiary-container-light: #31111D;
$tnt-color-error-light: #B3261E;
$tnt-color-on-error-light: #FFFFFF;
$tnt-color-error-container-light: #F9DEDC;
$tnt-color-on-error-container-light: #410E0B;
$tnt-color-outline-light: #79747E;
$tnt-color-background-light: #FFFBFE;
$tnt-color-on-background-light: #1C1B1F;
$tnt-color-surface-light: #FFFBFE;
$tnt-color-on-surface-light: #1C1B1F;
$tnt-color-surface-variant-light: #E7E0EC;
$tnt-color-on-surface-variant-light: #49454F;
$tnt-color-inverse-surface-light: #313033;
$tnt-color-inverse-on-surface-light: #F4EFF4;
$tnt-color-inverse-primary-light: #D0BCFF;
$tnt-color-shadow-light: #00000022;
$tnt-color-surface-tint-light: #6750A4;
$tnt-color-outline-variant-light: #CAC4D0;
$tnt-color-scrim-light: #000000;
/* dark */
$tnt-color-primary-dark: #D0BCFF;
$tnt-color-on-primary-dark: #381E72;
$tnt-color-primary-container-dark: #4F378B;
$tnt-color-on-primary-container-dark: #EADDFF;
$tnt-color-secondary-dark: #CCC2DC;
$tnt-color-on-secondary-dark: #332D41;
$tnt-color-secondary-container-dark: #4A4458;
$tnt-color-on-secondary-container-dark: #E8DEF8;
$tnt-color-tertiary-dark: #EFB8C8;
$tnt-color-on-tertiary-dark: #492532;
$tnt-color-tertiary-container-dark: #633B48;
$tnt-color-on-tertiary-container-dark: #FFD8E4;
$tnt-color-error-dark: #F2B8B5;
$tnt-color-on-error-dark: #601410;
$tnt-color-error-container-dark: #8C1D18;
$tnt-color-on-error-container-dark: #F9DEDC;
$tnt-color-outline-dark: #938F99;
$tnt-color-background-dark: #1C1B1F;
$tnt-color-on-background-dark: #E6E1E5;
$tnt-color-surface-dark: #1C1B1F;
$tnt-color-on-surface-dark: #E6E1E5;
$tnt-color-surface-variant-dark: #49454F;
$tnt-color-on-surface-variant-dark: #CAC4D0;
$tnt-color-inverse-surface-dark: #E6E1E5;
$tnt-color-inverse-on-surface-dark: #313033;
$tnt-color-inverse-primary-dark: #6750A4;
$tnt-color-shadow-dark: #FFFFFF66;
$tnt-color-surface-tint-dark: #D0BCFF;
$tnt-color-outline-variant-dark: #49454F;
$tnt-color-scrim-dark: #000000;
