@namespace TnTComponents
@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTTooltip>

<tnt-tooltip @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle" @ref="Element" data-permanent>
    <div class="tnt-tooltip-content">
        @ChildContent
    </div>
</tnt-tooltip>
@PageScript

