
.tnt-row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    // Clear floating children
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
