@using TnTComponents.Core
@implements ITnTComponentBase
@typeparam TEventType


<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle @EventPositionStyle(Event)" id="@Id" @ref="Element">
    @Event.Code
</div>