@using global::TnTComponents.Layout
@inherits LayoutComponentBase
This is before
<TnTLayout>
    <Header>
        This is my header
        <TnTSideNavToggle></TnTSideNavToggle>
    </Header>

    <SideNav>
        This is my side nav
    </SideNav>

    <Body>
        @Body
    </Body>

    <Footer>
        This is my footer
    </Footer>

</TnTLayout>
This is after