@using global::TnTComponents.Layout
@inherits LayoutComponentBase
<TnTLayout>
    <Header>
        This is my header
        <TnTSideNavToggle></TnTSideNavToggle>
    </Header>

    <SideNav>
        <TnTSideNavList>
            <TnTSideNavListItem Href="/" Match="NavLinkMatch.All" Icon="home" Label="Home" >
                Home has some child content    
            </TnTSideNavListItem>
            <TnTSideNavListItem Href="/counter" Match="NavLinkMatch.All"  Label="Counter" />
        </TnTSideNavList>
    </SideNav>

    <Body>
        @Body
    </Body>

    <Footer>
        This is my footer
    </Footer>

</TnTLayout>
