.tnt-carousel {
    position: relative;
    overflow: hidden;
    padding: 8px 16px;
    background-color: red;
    display: block;
    box-sizing: border-box;
    height: 528px;
    width: 100%;

    .tnt-carousel-viewport {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        gap: 8px;
        //display: block;
        height: 100%;
        width: 100%;
        //white-space: nowrap;
        //overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
