.tnt-carousel {
    position: relative;
    overflow: hidden;
    padding: 8px 16px;
    display: block;
    box-sizing: border-box;
    height: 700px;
    width: 100%;

    .tnt-carousel-viewport {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: hidden;
        gap: 8px;
        height: 100%;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:after {
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;
            content: '';
            width: 100%;
        }
    }

    ::deep .tnt-carousel-button {
        position: absolute;
        z-index: 998;

        &.tnt-carousel-prev-button {
            left: 16px;
            top: 50%;
        }

        &.tnt-carousel-next-button {
            right: 16px;
            top: 50%;
        }
    }
}
