.tnt-carousel {
    position: relative;
    overflow: hidden;
    padding: 8px 16px;
    background-color: red;
    display: block;
    box-sizing: border-box;
    height: 600px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .tnt-carousel-viewport {
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 100%;
        width: max-content;
    }
}
