@use '../Styles/_Variables/_colors.scss' as colors;

$bg-width: var(--tnt-carousel-item-bg-width, 80%);

.tnt-carousel-item {
    box-sizing: border-box;
    border: 1px solid colors.$tnt-color-outline;
    background-size: cover;
    height: 100%;
    max-width: $bg-width;
    min-width: 56px;
    border-radius: 28px;
    overflow: clip;
}
