
$background-color: var(--tnt-layout-background-color);
$text-color: var(--tnt-layout-text-color);

.tnt-layout > .tnt-body {
    grid-area: body;
    overflow-y: auto;
    background-color: $background-color;
    color: $text-color;
}
