@use '../Styles/_Variables/_measurements.scss' as measurements;

.tnt-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media #{measurements.$medium-and-up} {
    .tnt-container {
        width: 85%;
    }
}

@media #{measurements.$large-and-up} {
    .tnt-container {
        width: 70%;
    }
}
