@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;

$bg-color: var(--tnt-header-bg-color);
$fg-color: var(--tnt-header-fg-color);

.tnt-layout > .tnt-header {
    grid-area: header;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 4px;
    align-items: center;
    transition: 250ms ease-in-out;
    box-sizing: border-box;
    background-color: $bg-color;
    color: $fg-color;
    @include typescale.tnt-title-large;
}
