@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;

.tnt-layout > .tnt-header {
    grid-area: header;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 4px;
    align-items: center;
    transition: 250ms ease-in-out;
    box-sizing: border-box;
    @include colors.tnt-default-background-colors;
    @include colors.tnt-default-foreground-colors;
    @include typescale.tnt-title-large;
}
