@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents

<div @attributes="AdditionalAttributes" class="@Class" style="@Style">
    <TnTNavLink href="@Href" Match="@Match" StartIcon="Icon" Disabled="Disabled" ActiveBackgroundColor="ActiveBackgroundColor" Ripple="Ripple">
        @ChildContent
    </TnTNavLink>
</div>
