@using TnTComponents.Core
@using TnTComponents.Interfaces
@inherits TnTPageScriptComponent<TnTSideNavMenuGroup>
@namespace TnTComponents
@implements ITnTInteractable

<tnt-side-nav-menu-group @attributes="AdditionalAttributes" class="@ElementClass" style="@ElementStyle">
    <span>
        @Icon?.Render()
        @Title
        <MaterialIcon Icon="@MaterialIcon.ArrowDropDown" />
    </span>

    <div>
        <div>
            @ChildContent
        </div>
    </div>

</tnt-side-nav-menu-group>

@PageScript