@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents


<tnt-side-nav-menu-group @attributes="AdditionalAttributes" class="@Class" style="@Style">
    <span>
        @Icon?.Render()
        @Title
        @MaterialIcon.ArrowDropDown.Render()
    </span>

    <div>
        @ChildContent
    </div>

</tnt-side-nav-menu-group>

<TnTPageScript Src="./_content/TnTComponents/Layout/TnTSideNavMenuGroup.razor.js" />
