@using TnTComponents.Core
@inherits TnTComponentBase
@namespace TnTComponents


<tnt-side-nav-menu-group @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <span>
        @Icon?.Render()
        @Title
        @MaterialIcon.ArrowDropDown.Render()
    </span>

    <div>
        <div>
            @ChildContent
        </div>
    </div>

</tnt-side-nav-menu-group>

<TnTPageScript Src="./_content/TnTComponents/Layout/TnTSideNavMenuGroup.razor.js" />
