@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_textAlignments.scss' as textAlignments;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;

.tnt-side-nav-menu-group {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;

    & > .tnt-side-nav-menu-group-label {
        @include interactable.tnt-interactable;
        @include colors.tnt-default-background-colors;
        @include colors.tnt-default-foreground-colors;
        @include textAlignments.tnt-text-alignments;
        @include interactable.tnt-disabled;
        @include typescale.tnt-typescale(600, 14px, 20px, 0.1px);
        border-radius: 56px / 100%;
        height: 56px;
        padding: 0px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: 250ms ease-in-out;
        aspect-ratio: 16/9;
        width: 100%;
        box-sizing: border-box;
        z-index: 10;

        &:has(> .tnt-side-nav-menu-group-label-content > .tnt-icon) ::deep {
            > .tnt-side-nav-menu-group-label-content > .tnt-icon {
                color: colors.$tnt-color-on-secondary-container;
                padding-right: 8px;
                font-size: 24px;
                vertical-align: middle;
            }
        }

        &:not(:has(> .tnt-side-nav-menu-group-label-content > .tnt-icon)) {
            padding-left: calc(16px + 24px + 8px);
        }

        ::deep {
            & > .tnt-close-icon {
                transition: 250ms linear;
                pointer-events: none;
            }
        }
    }

    & > .tnt-side-nav-menu-group-content ::deep {
        border-left: 5px solid colors.$tnt-color-outline;
        margin-left: 16px;
        padding: 8px 0px 0px 0px;
        transform: translateY(-4px);
    }


    &:has(> .tnt-side-nav-data-permanent > .tnt-side-nav-menu-group-toggler.tnt-toggle) {


        & > .tnt-side-nav-menu-group-content {
            display: block;
            padding-left: 4px;
        }
    }

    &:not(:has(> .tnt-side-nav-data-permanent > .tnt-side-nav-menu-group-toggler.tnt-toggle)) {
        & > .tnt-side-nav-menu-group-label ::deep {
            & > .tnt-close-icon {
                transform: rotateZ(180deg);
            }
        }

        & > .tnt-side-nav-menu-group-content {
            display: none;
        }
    }

    ::deep {
        tnt-page-script {
            display: none;
        }
    }
}
