@using TnTComponents.Core
@inherits TnTPageScriptComponent<TnTSideNavMenuGroup>
@namespace TnTComponents


<tnt-side-nav-menu-group @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <span>
        @Icon?.Render()
        @Title
        <MaterialIcon Icon="@MaterialIcon.ArrowDropDown" />
    </span>

    <div>
        <div>
            @ChildContent
        </div>
    </div>

</tnt-side-nav-menu-group>

@RenderPageScript()