@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_measurements.scss' as measurements;

.tnt-layout > .tnt-side-nav {
    grid-area: sidenav;
    z-index: 1000;
    height: 100%;
    width: measurements.$tnt-side-nav-width;
    padding: 20px;
    box-sizing: border-box;
    transition: 250ms ease-in-out;
    overflow-y: auto;


    @include colors.tnt-default-background-colors;
    @include colors.tnt-default-foreground-colors;
}
