@use '../../Styles/_Variables/_elevation.scss' as elevation;

.tnt-data-grid-header {
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 5;
    height: 40px;
    box-sizing: border-box;
    @include elevation.tnt-elevation(1, false);

    .tnt-data-grid-header-row {
        height: inherit;
        box-sizing: border-box;

        &.tnt-interactable {
            &:before {
                content: '';
                position: absolute;
                left: 0;
            }
        }
    }
}