@namespace NTComponents
@inherits TnTComponentBase
@using NTComponents.Core

<CascadingValue Value="this" IsFixed="true">
	<div @attributes="AdditionalAttributes"
		 class="@ElementClass"
		 style="@ElementStyle">

		<div class="tnt-fab-toggle">
			@if (ToggleContent is not null) {
				@ToggleContent
			}
			else {
				<TnTFabButton ButtonSize="Size.Smallest" BackgroundColor="TnTColor.Primary" OnTintColor="TnTColor.Secondary">
					<MaterialIcon Icon="@MaterialIcon.Menu" />
				</TnTFabButton>
			}
		</div>

		<div class="tnt-fab-children">
			@ChildContent
		</div>

	</div>
</CascadingValue>

