@use '../Styles/_Variables/_measurements.scss' as measurements;

.tnt-fab-container {
    position: fixed;
    z-index: 1000;
    display: flex;
    gap: 16px;
    outline: none;

    --tnt-fab-slide-x: 0;
    --tnt-fab-slide-y: 0;

    &.tnt-position-bottomright {
        bottom: 16px;
        right: 16px;

        &.tnt-direction-vertical {
            flex-direction: column-reverse;
            align-items: flex-end;
            --tnt-fab-slide-y: 40px;
        }

        &.tnt-direction-horizontal {
            flex-direction: row-reverse;
            align-items: flex-end;
            --tnt-fab-slide-x: 40px;
        }
    }

    &.tnt-position-bottomleft {
        bottom: 16px;
        left: 16px;

        &.tnt-direction-vertical {
            flex-direction: column-reverse;
            align-items: flex-start;
            --tnt-fab-slide-y: 40px;
        }

        &.tnt-direction-horizontal {
            flex-direction: row;
            align-items: flex-end;
            --tnt-fab-slide-x: -40px;
        }
    }

    &.tnt-position-topright {
        top: 16px;
        right: 16px;

        &.tnt-direction-vertical {
            flex-direction: column;
            align-items: flex-end;
            --tnt-fab-slide-y: -40px;
        }

        &.tnt-direction-horizontal {
            flex-direction: row-reverse;
            align-items: flex-start;
            --tnt-fab-slide-x: 40px;
        }
    }

    &.tnt-position-topleft {
        top: 16px;
        left: 16px;

        &.tnt-direction-vertical {
            flex-direction: column;
            align-items: flex-start;
            --tnt-fab-slide-y: -40px;
        }

        &.tnt-direction-horizontal {
            flex-direction: row;
            align-items: flex-start;
            --tnt-fab-slide-x: -40px;
        }
    }

    .tnt-fab-toggle {
        display: none;
    }

    .tnt-fab-children {
        display: flex;
        flex-direction: inherit;
        gap: inherit;
        transition: 250ms ease-in-out;
        opacity: 1;
        visibility: visible;
        transform: scale(1);

        ::deep .tnt-fab-button {
            opacity: 1;
            transform: scale(1) translate(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms;
        }
    }

    // Expansion logic
    &.tnt-expand-always {
        .tnt-fab-toggle {
            display: block;
        }

        .tnt-fab-children {
            opacity: 0;
            visibility: hidden;
            transform: scale(0.8);
            transform-origin: inherit;

            ::deep .tnt-fab-button {
                opacity: 0;
                transform: scale(0.6) translate(var(--tnt-fab-slide-x), var(--tnt-fab-slide-y));
            }
        }

        &:focus-within,
        &:hover {
            .tnt-fab-children {
                opacity: 1;
                visibility: visible;
                transform: scale(1);

                @for $i from 1 through 10 {
                    ::deep .tnt-fab-button:nth-child(#{$i}) {
                        transition-delay: #{$i * 40}ms;
                    }
                }

                ::deep .tnt-fab-button {
                    opacity: 1;
                    transform: scale(1) translate(0);
                }
            }
        }
    }

    &.tnt-expand-small {
        @media #{measurements.$medium-and-down} {
            .tnt-fab-toggle {
                display: block;
            }

            .tnt-fab-children {
                opacity: 0;
                visibility: hidden;
                transform: scale(0.8);
                transform-origin: inherit;

                ::deep .tnt-fab-button {
                    opacity: 0;
                    transform: scale(0.6) translate(var(--tnt-fab-slide-x), var(--tnt-fab-slide-y));
                }
            }

            &:focus-within,
            &:hover {
                .tnt-fab-children {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);

                    @for $i from 1 through 10 {
                        ::deep .tnt-fab-button:nth-child(#{$i}) {
                            transition-delay: #{$i * 40}ms;
                        }
                    }

                    ::deep .tnt-fab-button {
                        opacity: 1;
                        transform: scale(1) translate(0);
                    }
                }
            }
        }
    }
}

body:has(.tnt-footer) {
    .tnt-fab-container.tnt-position-bottomright,
    .tnt-fab-container.tnt-position-bottomleft {
        bottom: calc(var(--tnt-footer-height) + 16px);
    }
}
