@using NTComponents.Core
@namespace NTComponents
@inherits TnTPageScriptComponent<TnTLazyLoad>

@if (!_beginLoad) {
    <div @ref="Element">
        @LoadingContent
    </div>
}

@if (_beginLoad) {
    @ChildContent
}
@PageScript