:root {
    --tnt-color-primary: rgb(255 210 202);
    --tnt-color-surface-tint: rgb(255 180 166);
    --tnt-color-on-primary: rgb(72 20 11);
    --tnt-color-primary-container: rgb(204 123 108);
    --tnt-color-on-primary-container: rgb(0 0 0);
    --tnt-color-secondary: rgb(211 219 255);
    --tnt-color-on-secondary: rgb(15 34 85);
    --tnt-color-secondary-container: rgb(126 142 200);
    --tnt-color-on-secondary-container: rgb(0 0 0);
    --tnt-color-tertiary: rgb(151 233 245);
    --tnt-color-on-tertiary: rgb(0 42 47);
    --tnt-color-tertiary-container: rgb(72 156 168);
    --tnt-color-on-tertiary-container: rgb(0 0 0);
    --tnt-color-error: rgb(255 210 204);
    --tnt-color-on-error: rgb(84 0 3);
    --tnt-color-error-container: rgb(255 84 73);
    --tnt-color-on-error-container: rgb(0 0 0);
    --tnt-color-background: rgb(26 17 16);
    --tnt-color-on-background: rgb(241 223 219);
    --tnt-color-surface: rgb(26 17 16);
    --tnt-color-on-surface: rgb(255 255 255);
    --tnt-color-surface-variant: rgb(83 67 64);
    --tnt-color-on-surface-variant: rgb(238 215 211);
    --tnt-color-outline: rgb(194 173 169);
    --tnt-color-outline-variant: rgb(160 140 136);
    --tnt-color-shadow: rgb(0 0 0);
    --tnt-color-scrim: rgb(0 0 0);
    --tnt-color-inverse-surface: rgb(241 223 219);
    --tnt-color-inverse-on-surface: rgb(50 40 38);
    --tnt-color-inverse-primary: rgb(116 53 42);
    --tnt-color-primary-fixed: rgb(255 218 211);
    --tnt-color-on-primary-fixed: rgb(44 2 0);
    --tnt-color-primary-fixed-dim: rgb(255 180 166);
    --tnt-color-on-primary-fixed-variant: rgb(94 36 26);
    --tnt-color-secondary-fixed: rgb(220 225 255);
    --tnt-color-on-secondary-fixed: rgb(0 13 54);
    --tnt-color-secondary-fixed-dim: rgb(181 196 255);
    --tnt-color-on-secondary-fixed-variant: rgb(34 51 103);
    --tnt-color-tertiary-fixed: rgb(157 240 252);
    --tnt-color-on-tertiary-fixed: rgb(0 20 23);
    --tnt-color-tertiary-fixed-dim: rgb(129 211 223);
    --tnt-color-on-tertiary-fixed-variant: rgb(0 61 67);
    --tnt-color-surface-dim: rgb(26 17 16);
    --tnt-color-surface-bright: rgb(78 66 64);
    --tnt-color-surface-container-lowest: rgb(13 6 5);
    --tnt-color-surface-container-low: rgb(37 27 26);
    --tnt-color-surface-container: rgb(48 38 36);
    --tnt-color-surface-container-high: rgb(59 48 46);
    --tnt-color-surface-container-highest: rgb(70 59 57);
    --tnt-color-success: rgb(183 234 173);
    --tnt-color-on-success: rgb(0 45 5);
    --tnt-color-success-container: rgb(109 156 103);
    --tnt-color-on-success-container: rgb(0 0 0);
    --tnt-color-info: rgb(204 221 255);
    --tnt-color-on-info: rgb(0 37 79);
    --tnt-color-info-container: rgb(115 146 198);
    --tnt-color-on-info-container: rgb(0 0 0);
    --tnt-color-warning: rgb(238 221 131);
    --tnt-color-on-warning: rgb(44 38 0);
    --tnt-color-warning-container: rgb(160 145 64);
    --tnt-color-on-warning-container: rgb(0 0 0);
    --tnt-color-assert: rgb(235 211 255);
    --tnt-color-on-assert: rgb(50 24 77);
    --tnt-color-assert-container: rgb(162 132 192);
    --tnt-color-on-assert-container: rgb(0 0 0);
}
