:root {
  --tnt-color-primary: rgb(240 238 255);
  --tnt-color-surface-tint: rgb(189 194 255);
  --tnt-color-on-primary: rgb(0 0 0);
  --tnt-color-primary-container: rgb(185 190 253);
  --tnt-color-on-primary-container: rgb(0 2 57);
  --tnt-color-secondary: rgb(240 238 255);
  --tnt-color-on-secondary: rgb(0 0 0);
  --tnt-color-secondary-container: rgb(193 193 217);
  --tnt-color-on-secondary-container: rgb(8 10 27);
  --tnt-color-tertiary: rgb(255 235 244);
  --tnt-color-on-tertiary: rgb(0 0 0);
  --tnt-color-tertiary-container: rgb(227 182 210);
  --tnt-color-on-tertiary-container: rgb(26 3 21);
  --tnt-color-error: rgb(255 236 233);
  --tnt-color-on-error: rgb(0 0 0);
  --tnt-color-error-container: rgb(255 174 164);
  --tnt-color-on-error-container: rgb(34 0 1);
  --tnt-color-background: rgb(19 19 24);
  --tnt-color-on-background: rgb(228 225 233);
  --tnt-color-surface: rgb(19 19 24);
  --tnt-color-on-surface: rgb(255 255 255);
  --tnt-color-surface-variant: rgb(70 70 79);
  --tnt-color-on-surface-variant: rgb(255 255 255);
  --tnt-color-outline: rgb(241 238 250);
  --tnt-color-outline-variant: rgb(195 193 204);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(228 225 233);
  --tnt-color-inverse-on-surface: rgb(0 0 0);
  --tnt-color-inverse-primary: rgb(62 67 122);
  --tnt-color-primary-fixed: rgb(224 224 255);
  --tnt-color-on-primary-fixed: rgb(0 0 0);
  --tnt-color-primary-fixed-dim: rgb(189 194 255);
  --tnt-color-on-primary-fixed-variant: rgb(3 7 65);
  --tnt-color-secondary-fixed: rgb(225 224 249);
  --tnt-color-on-secondary-fixed: rgb(0 0 0);
  --tnt-color-secondary-fixed-dim: rgb(196 196 221);
  --tnt-color-on-secondary-fixed-variant: rgb(14 16 33);
  --tnt-color-tertiary-fixed: rgb(255 215 239);
  --tnt-color-on-tertiary-fixed: rgb(0 0 0);
  --tnt-color-tertiary-fixed-dim: rgb(231 185 213);
  --tnt-color-on-tertiary-fixed-variant: rgb(34 7 27);
  --tnt-color-surface-dim: rgb(19 19 24);
  --tnt-color-surface-bright: rgb(80 79 86);
  --tnt-color-surface-container-lowest: rgb(0 0 0);
  --tnt-color-surface-container-low: rgb(31 31 37);
  --tnt-color-surface-container: rgb(48 48 54);
  --tnt-color-surface-container-high: rgb(59 59 65);
  --tnt-color-surface-container-highest: rgb(71 70 76);
  --tnt-color-info: rgb(235 240 255);
  --tnt-color-on-info: rgb(0 0 0);
  --tnt-color-info-container: rgb(167 195 252);
  --tnt-color-on-info-container: rgb(0 11 33);
  --tnt-color-success: rgb(193 255 203);
  --tnt-color-on-success: rgb(0 0 0);
  --tnt-color-success-container: rgb(148 209 160);
  --tnt-color-on-success-container: rgb(0 15 4);
  --tnt-color-warning: rgb(255 239 192);
  --tnt-color-on-warning: rgb(0 0 0);
  --tnt-color-warning-container: rgb(218 193 106);
  --tnt-color-on-warning-container: rgb(15 11 0);
  --tnt-color-assert: rgb(255 234 251);
  --tnt-color-on-assert: rgb(0 0 0);
  --tnt-color-assert-container: rgb(232 177 231);
  --tnt-color-on-assert-container: rgb(27 0 32);
}
