:root {
    --tnt-color-primary: rgb(255 236 232);
    --tnt-color-surface-tint: rgb(255 180 166);
    --tnt-color-on-primary: rgb(0 0 0);
    --tnt-color-primary-container: rgb(255 174 159);
    --tnt-color-on-primary-container: rgb(33 1 0);
    --tnt-color-secondary: rgb(238 239 255);
    --tnt-color-on-secondary: rgb(0 0 0);
    --tnt-color-secondary-container: rgb(176 192 253);
    --tnt-color-on-secondary-container: rgb(0 8 41);
    --tnt-color-tertiary: rgb(203 248 255);
    --tnt-color-on-tertiary: rgb(0 0 0);
    --tnt-color-tertiary-container: rgb(125 207 219);
    --tnt-color-on-tertiary-container: rgb(0 14 16);
    --tnt-color-error: rgb(255 236 233);
    --tnt-color-on-error: rgb(0 0 0);
    --tnt-color-error-container: rgb(255 174 164);
    --tnt-color-on-error-container: rgb(34 0 1);
    --tnt-color-background: rgb(26 17 16);
    --tnt-color-on-background: rgb(241 223 219);
    --tnt-color-surface: rgb(26 17 16);
    --tnt-color-on-surface: rgb(255 255 255);
    --tnt-color-surface-variant: rgb(83 67 64);
    --tnt-color-on-surface-variant: rgb(255 255 255);
    --tnt-color-outline: rgb(255 236 232);
    --tnt-color-outline-variant: rgb(212 190 186);
    --tnt-color-shadow: rgb(0 0 0);
    --tnt-color-scrim: rgb(0 0 0);
    --tnt-color-inverse-surface: rgb(241 223 219);
    --tnt-color-inverse-on-surface: rgb(0 0 0);
    --tnt-color-inverse-primary: rgb(116 53 42);
    --tnt-color-primary-fixed: rgb(255 218 211);
    --tnt-color-on-primary-fixed: rgb(0 0 0);
    --tnt-color-primary-fixed-dim: rgb(255 180 166);
    --tnt-color-on-primary-fixed-variant: rgb(44 2 0);
    --tnt-color-secondary-fixed: rgb(220 225 255);
    --tnt-color-on-secondary-fixed: rgb(0 0 0);
    --tnt-color-secondary-fixed-dim: rgb(181 196 255);
    --tnt-color-on-secondary-fixed-variant: rgb(0 13 54);
    --tnt-color-tertiary-fixed: rgb(157 240 252);
    --tnt-color-on-tertiary-fixed: rgb(0 0 0);
    --tnt-color-tertiary-fixed-dim: rgb(129 211 223);
    --tnt-color-on-tertiary-fixed-variant: rgb(0 20 23);
    --tnt-color-surface-dim: rgb(26 17 16);
    --tnt-color-surface-bright: rgb(90 77 75);
    --tnt-color-surface-container-lowest: rgb(0 0 0);
    --tnt-color-surface-container-low: rgb(39 29 28);
    --tnt-color-surface-container: rgb(57 46 44);
    --tnt-color-surface-container-high: rgb(68 57 55);
    --tnt-color-surface-container-highest: rgb(80 68 66);
    --tnt-color-success: rgb(202 254 192);
    --tnt-color-on-success: rgb(0 0 0);
    --tnt-color-success-container: rgb(158 207 149);
    --tnt-color-on-success-container: rgb(0 15 1);
    --tnt-color-info: rgb(235 240 255);
    --tnt-color-on-info: rgb(0 0 0);
    --tnt-color-info-container: rgb(164 196 251);
    --tnt-color-on-info-container: rgb(0 11 31);
    --tnt-color-warning: rgb(255 241 173);
    --tnt-color-on-warning: rgb(0 0 0);
    --tnt-color-warning-container: rgb(212 195 108);
    --tnt-color-on-warning-container: rgb(14 11 0);
    --tnt-color-assert: rgb(249 235 255);
    --tnt-color-on-assert: rgb(0 0 0);
    --tnt-color-assert-container: rgb(214 182 245);
    --tnt-color-on-assert-container: rgb(21 0 44);
}
