:root {
  --tnt-color-primary: rgb(255 180 166);
  --tnt-color-surface-tint: rgb(255 180 166);
  --tnt-color-on-primary: rgb(86 30 21);
  --tnt-color-primary-container: rgb(115 52 41);
  --tnt-color-on-primary-container: rgb(255 218 211);
  --tnt-color-secondary: rgb(181 196 255);
  --tnt-color-on-secondary: rgb(28 45 97);
  --tnt-color-secondary-container: rgb(52 68 121);
  --tnt-color-on-secondary-container: rgb(220 225 255);
  --tnt-color-tertiary: rgb(129 211 223);
  --tnt-color-on-tertiary: rgb(0 54 60);
  --tnt-color-tertiary-container: rgb(0 79 87);
  --tnt-color-on-tertiary-container: rgb(157 240 252);
  --tnt-color-error: rgb(255 180 171);
  --tnt-color-on-error: rgb(105 0 5);
  --tnt-color-error-container: rgb(147 0 10);
  --tnt-color-on-error-container: rgb(255 218 214);
  --tnt-color-background: rgb(26 17 16);
  --tnt-color-on-background: rgb(241 223 219);
  --tnt-color-surface: rgb(26 17 16);
  --tnt-color-on-surface: rgb(241 223 219);
  --tnt-color-surface-variant: rgb(83 67 64);
  --tnt-color-on-surface-variant: rgb(216 194 189);
  --tnt-color-outline: rgb(160 140 137);
  --tnt-color-outline-variant: rgb(83 67 64);
  --tnt-color-shadow: rgb(0 0 0);
  --tnt-color-scrim: rgb(0 0 0);
  --tnt-color-inverse-surface: rgb(241 223 219);
  --tnt-color-inverse-on-surface: rgb(57 46 44);
  --tnt-color-inverse-primary: rgb(144 75 62);
  --tnt-color-primary-fixed: rgb(255 218 211);
  --tnt-color-on-primary-fixed: rgb(58 10 4);
  --tnt-color-primary-fixed-dim: rgb(255 180 166);
  --tnt-color-on-primary-fixed-variant: rgb(115 52 41);
  --tnt-color-secondary-fixed: rgb(220 225 255);
  --tnt-color-on-secondary-fixed: rgb(2 23 75);
  --tnt-color-secondary-fixed-dim: rgb(181 196 255);
  --tnt-color-on-secondary-fixed-variant: rgb(52 68 121);
  --tnt-color-tertiary-fixed: rgb(157 240 252);
  --tnt-color-on-tertiary-fixed: rgb(0 31 35);
  --tnt-color-tertiary-fixed-dim: rgb(129 211 223);
  --tnt-color-on-tertiary-fixed-variant: rgb(0 79 87);
  --tnt-color-surface-dim: rgb(26 17 16);
  --tnt-color-surface-bright: rgb(66 55 53);
  --tnt-color-surface-container-lowest: rgb(20 12 11);
  --tnt-color-surface-container-low: rgb(35 25 24);
  --tnt-color-surface-container: rgb(39 29 28);
  --tnt-color-surface-container-high: rgb(50 40 38);
  --tnt-color-surface-container-highest: rgb(61 50 48);
  --tnt-color-success: rgb(162 211 153);
  --tnt-color-on-success: rgb(12 57 14);
  --tnt-color-success-container: rgb(37 80 35);
  --tnt-color-on-success-container: rgb(189 240 179);
  --tnt-color-info: rgb(169 200 255);
  --tnt-color-on-info: rgb(7 48 95);
  --tnt-color-info-container: rgb(38 71 119);
  --tnt-color-on-info-container: rgb(214 227 255);
  --tnt-color-warning: rgb(216 199 112);
  --tnt-color-on-warning: rgb(56 48 0);
  --tnt-color-warning-container: rgb(81 71 0);
  --tnt-color-on-warning-container: rgb(245 227 137);
  --tnt-color-assert: rgb(218 185 249);
  --tnt-color-on-assert: rgb(62 36 89);
  --tnt-color-assert-container: rgb(85 59 113);
  --tnt-color-on-assert-container: rgb(240 219 255);
}
