:root {
    --tnt-color-primary: rgb(94 36 26);
    --tnt-color-surface-tint: rgb(144 75 62);
    --tnt-color-on-primary: rgb(255 255 255);
    --tnt-color-primary-container: rgb(161 89 75);
    --tnt-color-on-primary-container: rgb(255 255 255);
    --tnt-color-secondary: rgb(34 51 103);
    --tnt-color-on-secondary: rgb(255 255 255);
    --tnt-color-secondary-container: rgb(91 107 162);
    --tnt-color-on-secondary-container: rgb(255 255 255);
    --tnt-color-tertiary: rgb(0 61 67);
    --tnt-color-on-tertiary: rgb(255 255 255);
    --tnt-color-tertiary-container: rgb(23 120 131);
    --tnt-color-on-tertiary-container: rgb(255 255 255);
    --tnt-color-error: rgb(116 0 6);
    --tnt-color-on-error: rgb(255 255 255);
    --tnt-color-error-container: rgb(207 44 39);
    --tnt-color-on-error-container: rgb(255 255 255);
    --tnt-color-background: rgb(255 248 246);
    --tnt-color-on-background: rgb(35 25 24);
    --tnt-color-surface: rgb(255 248 246);
    --tnt-color-on-surface: rgb(24 15 13);
    --tnt-color-surface-variant: rgb(245 221 217);
    --tnt-color-on-surface-variant: rgb(65 51 48);
    --tnt-color-outline: rgb(95 79 76);
    --tnt-color-outline-variant: rgb(123 105 102);
    --tnt-color-shadow: rgb(0 0 0);
    --tnt-color-scrim: rgb(0 0 0);
    --tnt-color-inverse-surface: rgb(57 46 44);
    --tnt-color-inverse-on-surface: rgb(255 237 233);
    --tnt-color-inverse-primary: rgb(255 180 166);
    --tnt-color-primary-fixed: rgb(161 89 75);
    --tnt-color-on-primary-fixed: rgb(255 255 255);
    --tnt-color-primary-fixed-dim: rgb(132 66 53);
    --tnt-color-on-primary-fixed-variant: rgb(255 255 255);
    --tnt-color-secondary-fixed: rgb(91 107 162);
    --tnt-color-on-secondary-fixed: rgb(255 255 255);
    --tnt-color-secondary-fixed-dim: rgb(66 82 136);
    --tnt-color-on-secondary-fixed-variant: rgb(255 255 255);
    --tnt-color-tertiary-fixed: rgb(23 120 131);
    --tnt-color-on-tertiary-fixed: rgb(255 255 255);
    --tnt-color-tertiary-fixed-dim: rgb(0 94 103);
    --tnt-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --tnt-color-surface-dim: rgb(212 195 192);
    --tnt-color-surface-bright: rgb(255 248 246);
    --tnt-color-surface-container-lowest: rgb(255 255 255);
    --tnt-color-surface-container-low: rgb(255 240 238);
    --tnt-color-surface-container: rgb(247 228 225);
    --tnt-color-surface-container-high: rgb(235 217 214);
    --tnt-color-surface-container-highest: rgb(223 206 203);
    --tnt-color-success: rgb(19 63 20);
    --tnt-color-on-success: rgb(255 255 255);
    --tnt-color-success-container: rgb(75 120 70);
    --tnt-color-on-success-container: rgb(255 255 255);
    --tnt-color-info: rgb(17 54 101);
    --tnt-color-on-info: rgb(255 255 255);
    --tnt-color-info-container: rgb(79 110 160);
    --tnt-color-on-info-container: rgb(255 255 255);
    --tnt-color-warning: rgb(63 54 0);
    --tnt-color-on-warning: rgb(255 255 255);
    --tnt-color-warning-container: rgb(122 109 31);
    --tnt-color-on-warning-container: rgb(255 255 255);
    --tnt-color-assert: rgb(68 42 95);
    --tnt-color-on-assert: rgb(255 255 255);
    --tnt-color-assert-container: rgb(125 97 154);
    --tnt-color-on-assert-container: rgb(255 255 255);
}
