:root {
    --tnt-color-primary: rgb(81 26 17);
    --tnt-color-surface-tint: rgb(144 75 62);
    --tnt-color-on-primary: rgb(255 255 255);
    --tnt-color-primary-container: rgb(118 54 43);
    --tnt-color-on-primary-container: rgb(255 255 255);
    --tnt-color-secondary: rgb(23 41 92);
    --tnt-color-on-secondary: rgb(255 255 255);
    --tnt-color-secondary-container: rgb(54 71 123);
    --tnt-color-on-secondary-container: rgb(255 255 255);
    --tnt-color-tertiary: rgb(0 50 55);
    --tnt-color-on-tertiary: rgb(255 255 255);
    --tnt-color-tertiary-container: rgb(0 81 90);
    --tnt-color-on-tertiary-container: rgb(255 255 255);
    --tnt-color-error: rgb(96 0 4);
    --tnt-color-on-error: rgb(255 255 255);
    --tnt-color-error-container: rgb(152 0 10);
    --tnt-color-on-error-container: rgb(255 255 255);
    --tnt-color-background: rgb(255 248 246);
    --tnt-color-on-background: rgb(35 25 24);
    --tnt-color-surface: rgb(255 248 246);
    --tnt-color-on-surface: rgb(0 0 0);
    --tnt-color-surface-variant: rgb(245 221 217);
    --tnt-color-on-surface-variant: rgb(0 0 0);
    --tnt-color-outline: rgb(55 41 38);
    --tnt-color-outline-variant: rgb(85 70 67);
    --tnt-color-shadow: rgb(0 0 0);
    --tnt-color-scrim: rgb(0 0 0);
    --tnt-color-inverse-surface: rgb(57 46 44);
    --tnt-color-inverse-on-surface: rgb(255 255 255);
    --tnt-color-inverse-primary: rgb(255 180 166);
    --tnt-color-primary-fixed: rgb(118 54 43);
    --tnt-color-on-primary-fixed: rgb(255 255 255);
    --tnt-color-primary-fixed-dim: rgb(89 33 23);
    --tnt-color-on-primary-fixed-variant: rgb(255 255 255);
    --tnt-color-secondary-fixed: rgb(54 71 123);
    --tnt-color-on-secondary-fixed: rgb(255 255 255);
    --tnt-color-secondary-fixed-dim: rgb(30 48 99);
    --tnt-color-on-secondary-fixed-variant: rgb(255 255 255);
    --tnt-color-tertiary-fixed: rgb(0 81 90);
    --tnt-color-on-tertiary-fixed: rgb(255 255 255);
    --tnt-color-tertiary-fixed-dim: rgb(0 57 63);
    --tnt-color-on-tertiary-fixed-variant: rgb(255 255 255);
    --tnt-color-surface-dim: rgb(198 181 178);
    --tnt-color-surface-bright: rgb(255 248 246);
    --tnt-color-surface-container-lowest: rgb(255 255 255);
    --tnt-color-surface-container-low: rgb(255 237 233);
    --tnt-color-surface-container: rgb(241 223 219);
    --tnt-color-surface-container-high: rgb(226 209 205);
    --tnt-color-surface-container-highest: rgb(212 195 192);
    --tnt-color-success: rgb(6 52 10);
    --tnt-color-on-success: rgb(255 255 255);
    --tnt-color-success-container: rgb(39 82 37);
    --tnt-color-on-success-container: rgb(255 255 255);
    --tnt-color-info: rgb(0 44 90);
    --tnt-color-on-info: rgb(255 255 255);
    --tnt-color-info-container: rgb(40 73 121);
    --tnt-color-on-info-container: rgb(255 255 255);
    --tnt-color-warning: rgb(51 44 0);
    --tnt-color-on-warning: rgb(255 255 255);
    --tnt-color-warning-container: rgb(84 73 0);
    --tnt-color-on-warning-container: rgb(255 255 255);
    --tnt-color-assert: rgb(57 31 84);
    --tnt-color-on-assert: rgb(255 255 255);
    --tnt-color-assert-container: rgb(88 61 116);
    --tnt-color-on-assert-container: rgb(255 255 255);
}
