:root {
    --tnt-color-primary: rgb(84 90 146);
    --tnt-color-surface-tint: rgb(84 90 146);
    --tnt-color-on-primary: rgb(255 255 255);
    --tnt-color-primary-container: rgb(224 224 255);
    --tnt-color-on-primary-container: rgb(60 66 121);
    --tnt-color-secondary: rgb(92 93 114);
    --tnt-color-on-secondary: rgb(255 255 255);
    --tnt-color-secondary-container: rgb(225 224 249);
    --tnt-color-on-secondary-container: rgb(68 69 89);
    --tnt-color-tertiary: rgb(120 83 107);
    --tnt-color-on-tertiary: rgb(255 255 255);
    --tnt-color-tertiary-container: rgb(255 215 239);
    --tnt-color-on-tertiary-container: rgb(94 60 83);
    --tnt-color-error: rgb(186 26 26);
    --tnt-color-on-error: rgb(255 255 255);
    --tnt-color-error-container: rgb(255 218 214);
    --tnt-color-on-error-container: rgb(147 0 10);
    --tnt-color-background: rgb(251 248 255);
    --tnt-color-on-background: rgb(27 27 33);
    --tnt-color-surface: rgb(251 248 255);
    --tnt-color-on-surface: rgb(27 27 33);
    --tnt-color-surface-variant: rgb(227 225 236);
    --tnt-color-on-surface-variant: rgb(70 70 79);
    --tnt-color-outline: rgb(119 118 128);
    --tnt-color-outline-variant: rgb(199 197 208);
    --tnt-color-shadow: rgb(0 0 0);
    --tnt-color-scrim: rgb(0 0 0);
    --tnt-color-inverse-surface: rgb(48 48 54);
    --tnt-color-inverse-on-surface: rgb(242 239 247);
    --tnt-color-inverse-primary: rgb(189 194 255);
    --tnt-color-primary-fixed: rgb(224 224 255);
    --tnt-color-on-primary-fixed: rgb(15 21 75);
    --tnt-color-primary-fixed-dim: rgb(189 194 255);
    --tnt-color-on-primary-fixed-variant: rgb(60 66 121);
    --tnt-color-secondary-fixed: rgb(225 224 249);
    --tnt-color-on-secondary-fixed: rgb(24 26 44);
    --tnt-color-secondary-fixed-dim: rgb(196 196 221);
    --tnt-color-on-secondary-fixed-variant: rgb(68 69 89);
    --tnt-color-tertiary-fixed: rgb(255 215 239);
    --tnt-color-on-tertiary-fixed: rgb(46 17 38);
    --tnt-color-tertiary-fixed-dim: rgb(231 185 213);
    --tnt-color-on-tertiary-fixed-variant: rgb(94 60 83);
    --tnt-color-surface-dim: rgb(219 217 224);
    --tnt-color-surface-bright: rgb(251 248 255);
    --tnt-color-surface-container-lowest: rgb(255 255 255);
    --tnt-color-surface-container-low: rgb(245 242 250);
    --tnt-color-surface-container: rgb(239 237 244);
    --tnt-color-surface-container-high: rgb(234 231 239);
    --tnt-color-surface-container-highest: rgb(228 225 233);
    --tnt-color-info: rgb(67 94 145);
    --tnt-color-on-info: rgb(255 255 255);
    --tnt-color-info-container: rgb(215 226 255);
    --tnt-color-on-info-container: rgb(42 70 119);
    --tnt-color-success: rgb(49 106 66);
    --tnt-color-on-success: rgb(255 255 255);
    --tnt-color-success-container: rgb(179 241 190);
    --tnt-color-on-success-container: rgb(22 81 44);
    --tnt-color-warning: rgb(111 93 13);
    --tnt-color-on-warning: rgb(255 255 255);
    --tnt-color-warning-container: rgb(251 225 134);
    --tnt-color-on-warning-container: rgb(85 69 0);
    --tnt-color-assert: rgb(124 78 126);
    --tnt-color-on-assert: rgb(255 255 255);
    --tnt-color-assert-container: rgb(255 214 252);
    --tnt-color-on-assert-container: rgb(98 55 101);
}
