name: Deploy To Nuget
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  retrieve-tag:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.get-tag.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine tag on commit
        id: get-tag
        run: |
          set -euo pipefail
          echo "GITHUB_REF=${GITHUB_REF}"
          TAG=""
          if [[ "${GITHUB_REF:-}" == refs/tags/* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
          else
            # find a tag pointing at the checked-out commit
            TAG=$(git tag --points-at HEAD | head -n1 || true)
          fi

          if [ -z "${TAG}" ]; then
            echo "No tag found attached to this commit. Failing the job."
            exit 1
          fi

          # Remove 'v' prefix if present
          TAG="${TAG#v}"

          echo "Found tag: ${TAG}"
          echo "tag_name=${TAG}" >> "$GITHUB_OUTPUT"

  pack-and-publish-nuget-packages:
    runs-on: ubuntu-latest
    needs: retrieve-tag
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Build
        run: dotnet build --no-restore --configuration Release
      
      - name: Ensure browsers are installed
        run: pwsh NTComponents.Tests/bin/Release/net10.0/playwright.ps1 install --with-deps
      
      - name: Test
        run: dotnet test --no-restore --configuration Release

      - name: Install node dependencies
        run: npm install

      - name: run node tests
        run: npm test
      
      - name: Publish 
        run: |
            dotnet pack NTComponents/NTComponents.csproj --configuration Release --output ./nupkg /p:PackageVersion=${{ needs.retrieve-tag.outputs.tag_name }}
            dotnet pack NTComponents.AspNetCore/NTComponents.AspNetCore.csproj --configuration Release --output ./nupkg /p:PackageVersion=${{ needs.retrieve-tag.outputs.tag_name }}
            dotnet pack NTComponents.Extensions/NTComponents.Extensions.csproj --configuration Release --output ./nupkg /p:PackageVersion=${{ needs.retrieve-tag.outputs.tag_name }}

      - name: Upload NTComponents.nupkg
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
