name: PR Build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**/*.md'
 
env:
  ARTIFACT_NAME: intersect-uat

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Install dotnet-coverage
        run: dotnet tool install --global dotnet-coverage

      - name: Run all tests with coverage
        run: |
          dotnet test --no-restore --configuration Release 

      - name: Post coverage summary to PR
        if: github.event_name == 'pull_request'
        uses: 5monkeys/cobertura-action@v13
        with:
          path: ./TestResults/**/*.cobertura.xml
          minimum_coverage: ${{ env.COVERAGE_THRESHOLD }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          fail_below_threshold: true
          show_line: true
          show_class_names: true
          only_changed_files: true
